<ng-template [ngIf]="tabla == true">
  <app-show-headquarter [mostrar]="mostrar" (modificar)="actualizar($event)"></app-show-headquarter>
</ng-template>
<ng-template [ngIf]="tabla == false">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '45vw','height': '50vw'}"
    [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000">
        
        <div [style]="{'margin-top':'-1px'}" >
          <div fxLayout="row" class="titleCard">
            <i class="pi  pi-pencil" style="font-size: 2rem;margin-right: 10px;"></i>
          <h2 class="fondebabutton" style="margin-top: -1px;">Editar Sede</h2>
        </div>
        <div class="p-inputgroup">
          <span class="p-float-label" [style]="{'width':'100%','margin-bottom':'40px'}">
            <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Nombre"><i class="pi pi-bookmark-fill"></i></span>
          <input type="text" class="p-inputtext-lg" 
          pInputText name="name" placeholder="NOMBRE" [pKeyFilter]="blockSpecial"
          formControlName="name" required>   
          <label for="inputtext"> <h3 [style]="{'margin-top':'-5px'}">NOMBRE DE SEDE</h3></label>
        </span>      
      </div>
       
          <div class="p-inputgroup">
            <span class="p-float-label" [style]="{'width':'100%','margin-bottom':'40px'}">
            <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Nombre"><i class="pi pi-bookmark-fill"></i></span>
            <input type="text" class="p-inputtext-lg" pInputText name="cordinatorInvestigation" 
            placeholder="CORDINADOR DE INVESTIGACIÓN" 
            formControlName="cordinatorInvestigation" required>
            <label for="inputtext"> <h3 [style]="{'margin-top':'-5px'}">CORDINADOR DE INVESTIGACIÓN</h3></label>
          </span>         
          </div>


        <span class="p-float-label" [style]="{'width':'100%','margin-bottom':'40px'}">
          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
          [options]="universitys" [filter]="true" formControlName="UniversityId" name="UniversityId"
            [style]="{'width':'100%','margin-bottom':'20px'}"
            optionvalue="id" optionLabel="name"  filterBy="name"
            [required]="true" placeholder="SELECCIONE UNIVERSIDAD">
            <ng-template let-option pTemplate="item">
              <span >{{option.name | titlecase}} - Nit: {{option.nit}}</span>
          </ng-template>
          </p-dropdown>
          <label for="inputtext"> <h3 [style]="{'margin-top':'-5px'}">UNIVERSIDAD</h3></label>
        </span>
    </div>
                
            <ng-template pTemplate="footer">
                <div fxLayout="row" class="titleCard"style="margin-top: -20px;">
                  <button pButton type="button" type="submit"  icon="pi pi-check"  [disabled]="!form.valid"
                  class="p-button-success p-button-raised p-button-rounded" label="Actualizar Registro" styleClass="mr-2"></button>
                <p-button (click)="volver($event)" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
            </div>
            </ng-template>
            
                
    </p-dialog>
  </form>
  <p-toast></p-toast>
  
  <p-confirmPopup></p-confirmPopup>
</ng-template>