    <!-- Asignar Rol a Usuarios -->

    <mat-card>
      <div fxLayout="row" class="titleCard">
        <mat-icon >
          credit_card
        </mat-icon>
        <mat-card-title >Asignar Rol a Usuarios</mat-card-title>
      </div>
      <form [formGroup]="form1" novalidate (ngSubmit)="onSubmit1()" fxLayout="column" class="tittleForm">
                  <div fxLayout="row"  fxLayoutGap="20px">
                      <div class="buscar"> 
                          <mat-form-field flex class="buscarinput">
                          <input matInput (keyup)="Buscar($event)" placeholder="Digite la Identificacion" #input>
                          </mat-form-field>     
                      </div>
                  </div>
              
              <div class="table-wrapper">
                <!-- Si hay datos en la tabla -->
                <ng-template [ngIf]="dataSource.filteredData.length > 0">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
                      <ng-container matColumnDef="ID">
                          <th mat-header-cell *matHeaderCellDef > Selecione </th>
                          <td mat-cell *matCellDef="let element"> 
                            <!-- Si se hace el filtrado y encuentra el dato-->
                              <ng-template [ngIf]="dataSource.filteredData.length == 1">
                                <mat-radio-group formControlName="select">
                                  <mat-radio-button class="example-margin" [value]="element.id" required></mat-radio-button>
                                </mat-radio-group>
                              </ng-template>
                              <!-- Si aun no se hace el filtrado-->
                              <ng-template [ngIf]="dataSource.filteredData.length > 1">
                                {{element.id}}
                              </ng-template>
                          </td>
                      </ng-container>
                      <!-- imprimir los demas datos-->
                      <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef > Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.User?.fullName | titlecase}}</td>
                      </ng-container>
                      <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef > username </th>
                        <td mat-cell *matCellDef="let element"> {{element.User?.username}}</td>
                      </ng-container>
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef > Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.User?.email  | titlecase}}</td>
                      </ng-container>
                      <ng-container matColumnDef="Rol">
                          <th mat-header-cell *matHeaderCellDef > Rol </th>
                          <td mat-cell *matCellDef="let element">
                              <ng-template [ngIf]="element.User?.Roles.length > 1">
                                <span *ngFor="let item of element.User?.Roles" >
                                    {{item.name  | titlecase}},  
                              </span>
                            </ng-template>
                            <ng-template [ngIf]="element.User?.Roles.length == 1">
                                <span *ngFor="let item of element.User?.Roles" >
                                    {{item.name  | titlecase}}  
                              </span>
                            </ng-template>
              
                          </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <br>
                  <!-- asignar roles -->
                  <!-- roles-->
                  <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-flat-button color="primary" (click)="asignarRoles($event)">Add Rol</button>
                  </div>
                  <br>
                          <div fxLayout="row" fxLayoutGap="20px">
                            <div class="table-wrapper" >
                              <table mat-table [dataSource]="algo" class="mat-elevation-z8" *ngIf="mostrar == true">
                                  <ng-container matColumnDef="roles">
                                      <th mat-header-cell *matHeaderCellDef > Roles </th>
                                      <td mat-cell *matCellDef="let element"> 
                                        <div formArrayName="Roles" > 
                                          <div *ngFor="let item of getRoles.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                            <div class="grupo"> 
                                            <mat-form-field class="grupoinput1">
                                              <mat-label>Rol</mat-label>
                                              <mat-select formControlName="RoleId" required>
                                                <mat-option *ngFor="let item of roles" [value]="item.id">{{ item.name  | titlecase}}</mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                            <span class="bottomdelete">
                                              <button  mat-flat-button color="warn" (click)="removeRoles(pointIndex,$event)">
                                                <mat-icon>delete</mat-icon>
                                              </button>
                                            </span>
                                            
                                          </div>
                                          </div>
                                        </div> 
                                      </td>
                                  
                                  </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                              </table>
                            </div>
                          </div>
                </ng-template>
                <!-- Si el dato no se encuentra-->
                <ng-template [ngIf]="dataSource.filteredData.length == 0">
                  <div mat-table class="mat-elevation-z8" >
                    <div class="nohayregistro"> 
                      No existe el registro
                    </div>
                  </div>
                </ng-template>
        
              </div>
              <br>
              <mat-card-actions>
                <button type="submit" [disabled]="form1.invalid" mat-button color="primary">Asignar Rol</button>
              </mat-card-actions>
      </form>

    </mat-card>
