<ng-template [ngIf]="tabla == true">
  <app-show_CategoriaGrupos [mostrar]="mostrar" (modificar)="actualizar($event)"></app-show_CategoriaGrupos>
</ng-template>
<ng-template [ngIf]="tabla == false">
  <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">

    <p-dialog [(visible)]="displayMaximizable2" [modal]="true"[style]="{'width': '50vw'}"  
    [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"  [showHeader]="false"   >
    <br>
        
        <div [style]="{'margin-top':'-1px'}" >

          <div fxLayout="row" class="titleCard">
            <i class="pi pi-trash" style="font-size: 2rem;margin-right: 10px;"></i>
          <h2 class="fondebabutton" style="margin-top: -1px;">¿Seguro de eliminar esta Categoria de Grupos?</h2>
        </div>

        <div class="p-inputgroup"  style="margin-bottom: 20px;">
          <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Nombre">
            <i class="pi pi-bookmark-fill"></i></span>
          <input type="text" class="p-inputtext-lg" pInputText 
          placeholder="NOMBRE" name="name"  ngModel #name="ngModel"
          [(ngModel)]="form.name" disabled>         
      </div>
      <!-- <div class="p-inputgroup p-inputtext-lg" style="margin-bottom: 20px;">
        
        <p-calendar name="date"  [style]="{'width':'100%'}" 
        ngModel #date="ngModel" [required]="true" placeholder="SELECCIONE LA FECHA"
        [showIcon]="true" inputId="icon" [(ngModel)]="form.date"></p-calendar>
    </div> -->

    <!-- <span class="p-float-label" [style]="{'width':'100%','margin-bottom':'20px','margin-top':'40px'}">
              
      <input type="text" class="p-inputtext-lg" pInputText [style]="{'width':'100%'}"
      [value]="form.Group?.name" disabled>
      <label for="inputtext"> <h3 [style]="{'margin-top':'-5px'}">GRUPO ACTUAL</h3></label>
    </span> -->

        </div>
                
            <ng-template pTemplate="footer">
              <br>
                <div fxLayout="row" class="titleCard"style="margin-top: -20px;">
                  <button pButton type="button" type="submit"  icon="pi pi-check" class="p-button-danger p-button-raised p-button-rounded" label="Borrar Registro" styleClass="mr-2"></button>
                <p-button (click)="volver($event)" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
            </div>
            </ng-template>
            
                
    </p-dialog>
  </form>
  <p-toast></p-toast>
  
  <p-confirmPopup></p-confirmPopup>
</ng-template>
