<ng-template [ngIf]="tabla == true">
  <app-show_InvestigatorCollaborator [mostrar]="mostrar" (modificar)="actualizar($event)"></app-show_InvestigatorCollaborator>
</ng-template>
<ng-template [ngIf]="tabla == false">
  <form novalidate  enctype="multipart/form-data" >
    <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '60vw','height': '70vw'}" 
    [contentStyle]="{'overflow-y': 'auto'}" [closable]="false" [closeOnEscape]="false" >
        
        <div [style]="{'margin-top':'-1px'}" >
            <div fxLayout="row" class="titleCard">
                <i class="pi pi-credit-card" style="font-size: 2rem;margin-right: 10px;"></i>
              <h2 class="fondebabutton" style="margin-top: -1px;">Eliminar Investigador Colabolador</h2>
            </div>
  
            
                  <!-- <input type="file" class="p-inputtext-lg" pInputText name="file" 
                  accept="image/png, image/jpeg"
                  placeholder="file" formControlName="file" title="file" required 
                  (change)="onFileChange($event)">
                  <img src="http://localhost:4000/subidas/file-1644523585906-773917424.jpeg" alt="" srcset=""> -->
                  <div class="grid p-fluid" [style]="{'margin-top':'-20px'}" >
                    <div class="col-12 md:col-6 lg:col-6">
                      <div class="p-inputgroup"  style="margin-bottom: 20px;">
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" class="p-inputtext-lg" pInputText name="name" 
                        placeholder="NOMBRE" [value]="form.name" title="NOMBRES" disabled>         
                    </div>
                    </div>
                    
                    <div class="col-12 md:col-6 lg:col-6">
                      <div class="p-inputgroup" >
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                        class="p-inputtext-lg"  name="surname" placeholder="APELLIDOS" title="APELLIDO"
                        [value]="form.surname" disabled  >         
                      </div>
                    </div>
        
                  </div>
        
                  
                  <div class="grid p-fluid">
                    <div class="col-12 md:col-6 lg:col-6">
                      <div class="p-inputgroup" >
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                        class="p-inputtext-lg"  placeholder="SELECCIONE EL GENERO" title="SELECCIONE EL GENERO"
                        [value]="form.GenderId" disabled >         
                      </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                      <div class="p-inputgroup"  style="margin-bottom: 20px;">
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" class="p-inputtext-lg"
                         pInputText name="email" [value]="form.email" disabled
                        placeholder="CORREO" required title="CORREO ELECTRONICO">         
                    </div>
                   </div>
                  </div>

        
                  <div class="grid p-fluid">
                    <div class="col-12 md:col-6 lg:col-6">
                      <div class="p-inputgroup"  style="margin-bottom: 20px;">
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" class="p-inputtext-lg"
                         pInputText [value]="form.DocumentTypeId" disabled
                        placeholder="TIPO DE DOCUMENTO" required title="TIPO DE DOCUMENTO">         
                    </div>
                    </div>
                    
                    <div class="col-12 md:col-6 lg:col-6">
                      <div class="p-inputgroup"  style="margin-bottom: 20px;">
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input class="p-inputtext-lg" [value]="form.identification" disabled
                        type="text" pInputText pKeyFilter="num" name="identification" 
                        placeholder="IDENTIFICACIÓN"  title="IDENTIFICACIÓN">         
                    </div>
        
                    </div>
        
                  </div>
        
                  <div class="grid p-fluid">
                    <div class="col-12 md:col-6 lg:col-6">
                      
                      <div class="p-inputgroup" >
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                        [value]="form.address" disabled
                        class="p-inputtext-lg"  name="address" placeholder="DIRECCIÓN" 
                         required title="DIRECCION" >         
                    </div>
        
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                      <div class="p-inputgroup"  style="margin-bottom: 20px;">
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input class="p-inputtext-lg" type="text"[value]="form.phone" disabled
                        pInputText pKeyFilter="num" name="phone" 
                        placeholder="TELEFONO" title="TELEFONO"
                        required>         
                    </div>
        
                    </div>
        
                  </div>
          </div>
       
  
              
        <div fxLayout="row" class="titleCard" >
          <button pButton type="button"  icon="pi pi-check" 
          (click)="onSubmit($event)"
         class="p-button-danger p-button-raised p-button-rounded" label="Eliminar Registro" styleClass="mr-2"></button>
          <p-button (click)="volver($event)" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
    </div>
  </p-dialog>
  </form>
  <p-toast></p-toast>
  
  <p-confirmPopup></p-confirmPopup>
</ng-template>
