<ng-template [ngIf]="Valorconstruccion == true">
<span  style="   display: flex;
justify-content: center;
margin: 0;">
  <div class="card" 
  style="justify-content:center;justify-items: center;align-items: center;width: 67%;height: 70%;">
    <img src="{{construccion}}"  pRipple 
              [style]="{'width':'90%','height':'70%'}"
              styleClass="imgLogo4 p-button-rounded p-button-outlined" 
              size="xlarge" shape="circle">
  </div>
</span>
</ng-template>

<ng-template [ngIf]="Valorconstruccion == false">

<ng-template [ngIf]="tabla == true">
  <app-show_grupodeInvetigacion [mostrar]="mostrar" (modificar)="actualizar($event)"></app-show_grupodeInvetigacion>
</ng-template>
<ng-template [ngIf]="tabla == false">
  <form [formGroup]="form"  novalidate (ngSubmit)="onSubmit()"  enctype="multipart/form-data" >
    <p-dialog [(visible)]="displayMaximizable2" [modal]="true" 
    [style]="{'width': '90vw','height': '70vw'}" 
    [contentStyle]="{'overflow-y': 'auto'}"
   
    [closable]="true" [closeOnEscape]="false" 
    [showHeader]="false"   >
        <br>
        
        <div [style]="{'margin-top':'-1px'}" >
            <!-- <div fxLayout="row" class="titleCard">
                <i class="pi pi-credit-card" style="font-size: 2rem;margin-right: 10px;"></i>
              <h2 class="fondebabutton" style="margin-top: -1px;">Registrar Grupo de Investigacion</h2>
            </div> -->
           
      
              <div style="border: 1px solid black;padding: 10px;">
  
                <div class="grid p-fluid" style="padding: 10px;">
                  <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2 text-center">
                    <img alt="logo" src="{{image}}" class=" "
                    style="width: 60%"/>
                  </div> 
  
                  <div style="border: 1px solid black;"class="col-8 md:col-8 lg:col-8">
                    <h2 style="text-align: center;">EDITAR GRUPO DE INVESTIGACIÓN</h2>
                  </div>
  
                  <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2 text-center">
                    <!-- <img alt="logo" src="{{image2}}" 
                    style="width: 100%"/> -->
                    <p-button (click)="volver($event)" icon="pi pi-times" 
                    [style]="{'border': '1px solid #F16257','border-radius':'5px','width':'auto'}"
                    styleClass="p-button-text ml-2 mt-3" label="Cancelar"></p-button>
                  </div>
                </div>
                

                <div style="border: 1px solid gray;border-radius:10px"class="p-4 ">
                  <br> 
              <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
              <br>
              <ng-template [ngIf]="activeIndex==0">
                    <div class="stepsdemo-content">
                      <p-card>

                    <!-- nombre y codigo del grupo -->
                  <h3 style="text-align:center;">IDENTIFICACIÓN DEL GRUPO</h3>
                  <div class="grid p-fluid ml-1 mr-1">
                    <div class="col-12 md:col-12 lg:col-12">
                      <div class="field ">
                        <label for="name"style="font-weight: bold;">NOMBRE DEL GRUPO</label>
                          <div class="p-inputgroup" >
                            <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                            <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                            class="p-inputtext-lg"  name="name"  title="NOMBRE DEL GRUPO"
                            formControlName="name" required>         
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-12 md:col-6 lg:col-6" style="border: 1px solid black;">
                      <div class="field ">
                        <label for="name"style="font-weight: bold;">CODIGO DEL GRUPO</label>
                      <div class="p-inputgroup" >
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                        class="p-inputtext-lg"  name="group_code"  title="CODIGO DEL GRUPO"
                        formControlName="group_code" required>         
                    </div>
                      </div>
                    </div> -->
                  </div>
                  <br>
              
      
              <!-- facultado programa-->

                  <p-panel >
                    <ng-template pTemplate="header">
                      Facultad y Programa académico donde se encuentra inscrito el Grupo de Investigación:
                    </ng-template>
                    <!-- <h3 style="text-align:center;">2. FACULTAD:</h3> -->
                    <div class="grid p-fluid">
                      <div class="col-12 md:col-6 lg:col-6">
                        <h5 style="text-align:left;">FACULTAD:</h5>
                        <div class="grid ">
                          <div class="col-1 md:col-1">
                            <div class="p-inputgroup"  >
                              <span class="p-inputgroup-addon"  style="color:#F16257;height:47px;"><i class="pi pi-bookmark-fill"></i></span>
                            </div>
                          </div>
                          <div class="col-11 md:col-11">
                        <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                        [options]="facultys" [filter]="true" label="SELECCIONE LA FACULTAD"
                        formControlName="Facultad" name="Facultad"
                          [style]="{'width':'100%'}" 
                          optionvalue="id"  optionLabel="name" filterBy="name"
                          [required]="true" placeholder="SELECCIONE LA FACULTAD" title="SELECCIONE LA FACULTAD" (click)="SelectFacultad($event)">
                          <ng-template let-option pTemplate="item" >
                            <span  >{{option.name | titlecase}}</span>
                        </ng-template>
                        </p-dropdown>
                      </div>
                        </div>
                      </div>
                      <div class="col-12 md:col-6 lg:col-6" >
                        <h5 style="text-align:left;">PROGRAMA:</h5>
                        <div class="grid ">
                          <div class="col-1 md:col-1">
                            <div class="p-inputgroup"  >
                              <span class="p-inputgroup-addon"  style="color:#F16257;height:47px;
                        "><i class="pi pi-bookmark-fill"></i></span>
                            </div>
                          </div>
                          <div class="col-11 md:col-11">
                        <ng-template [ngIf]="mostrarFacultad==true">
                          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                          [options]="FacultadHeadquarterProgram" [filter]="true" 
                          label="SELECCIONE EL PROGRAMA" 
                          formControlName="HeadquarterProgramId" name="HeadquarterProgramId"
                            [style]="{'width':'100%'}" 
                            optionvalue="id"  optionLabel="name" filterBy="name"
                            [required]="true" placeholder="SELECCIONE EL PROGRAMA" 
                            title="SELECCIONE EL PROGRAMA" (click)="getHeadquarterProgram($event)">
                            <ng-template let-option pTemplate="item" >
                              <span > {{option.name | titlecase}}</span>
                          </ng-template>
                          </p-dropdown>
                        </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
              
      
                    
              
                </p-panel>
     
   
                <!-- otros datos -->
                
                  <!-- <p-panel >
                    <ng-template pTemplate="header">
                    Otros Datos:
                    </ng-template>
                  <div class="grid p-fluid ">
                    <div class="col-12 md:col-5 lg:col-5" >
                      <div class="field">
                        <label for="name"style="font-weight: bold;">CATEGORIA:</label>
                        <div class="flex" style="width:100%">
                          <div style="width:100%">
                          
                            <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                            [options]="categoryGroups" [filter]="true" 
                            label="SELECCIONE CATEGORIA" 
                            formControlName="CategoryGroupId" name="CategoryGroupId"
                              [style]="{'width':'100%'}" 
                              optionvalue="id"  optionLabel="name" filterBy="name"
                              [required]="true" placeholder="SELECCIONE CATEGORIA" 
                              title="SELECCIONE CATEGORIA" >
                              <ng-template let-option pTemplate="item" >
                                <span > {{option.name | titlecase}}</span>
                            </ng-template>
                            </p-dropdown>
                          </div>
                          <span class="bottomdelete" style="margin-top: 5px;">
                            <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                            class="p-button-rounded p-button-outlined" (click)="addCategoriaGrupos($event)" ></button>
                          </span>

                        </div>
              
                    </div>
          
                      

                    </div>
                    <div class="col-12 md:col-4 lg:col-4" >
                      <div class="field ">
                        <label for="name"style="font-weight: bold;">RESOLUCIÓN DEL GRUPO</label>
                      <div class="p-inputgroup" >
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" pInputText  
                        class="p-inputtext-lg"  name="resolution"  title="RESOLUCIÓN DEL GRUPO"
                        formControlName="resolution" required>         
                    </div>
                      </div>
                    </div>
                    <div class="col-12 md:col-3 lg:col-3" >
                      <div class="field ">
                        <label for="name"style="font-weight: bold;">LINK GRUPLAC</label>
                      <div class="p-inputgroup" >
                        <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" pInputText 
                        class="p-inputtext-lg"  name="Link_gruplac"  title="LINK GRUPLAC"
                        formControlName="Link_gruplac" required>         
                    </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </p-panel>
                <br> -->
                <!-- miembros -->
                <!-- <div class="bordep"> -->
                       
                <h3 style="text-align:center;"> MIEMBROS DEL GRUPO</h3>
                  <p-panel >
                    <ng-template pTemplate="header">
                      Director y/o Lider del Grupo:
                    </ng-template>
                    <ng-template [ngIf]="mostrarHeadquarterProgram==true">
                      <div class="field">
                        <!-- <label for="name"style="font-weight: bold;">TIPO DE DOCUMENTO</label> -->
                        <div class="flex">
                          <!-- <div class="p-inputgroup" > -->
                            <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                            
                          <div style="width:100%">
                            <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                            [options]="teachers" [filter]="true" 
                            label="SELECCIONE EL LIDER INVESTIGADOR" 
                            formControlName="TeacherId" name="TeacherId"
                              [style]="{'width':'100%'}" 
                              optionvalue="id"  optionLabel="User.fullName" filterBy="User.fullName"
                              [required]="true" placeholder="SELECCIONE EL LIDER INVESTIGADOR" (click)="SelectTeacher($event)"
                              title="SELECCIONE EL LIDER INVESTIGADOR">
                              <ng-template let-country pTemplate="item">
                                <div class="country-item">
                                  <span style="display:flex">
                                    <img src="{{country.User.avatar}}" width="40px"
                                    [class]="'flag flag-'+ country.User.fullName.toLowerCase()" />
                                    <div style="margin-top:10px;margin-left: 15px;
                                    font-weight: 700;
                                    display:flex;
                                    flex-direction:row;
                                    flex-wrap:wrap;
                                    justify-content:flex-start;
                                    align-items:baseline;
                                    align-content:center;
                                    
                                    ">
                                     <span >{{country.User.fullName  | titlecase}} -
                                      cc: {{country.User.Person.identification }} </span></div>
                                  </span>
                                   
                                </div>
                            </ng-template>
                              <!-- <ng-template let-option pTemplate="item" >
                                <span >{{option.User.fullName  | titlecase}} -
                                cc: {{option.User.Person.identification }} 
                                </span>
                            </ng-template> -->
                            </p-dropdown>
                        </div>
                        <span class="bottomdelete" style="margin-top: 5px;">
                          <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                          class="p-button-rounded p-button-outlined" (click)="addTeacher($event)" ></button>
                        </span>
                      </div>
                
                      </div>
                      <!-- <h5 style="text-align:left;">Director y/o Investigador Principal:</h5> -->
                    
                        
                        <ng-template [ngIf]="mostrarTeacher == true">
                          <br><br>
                          <p-fieldset legend="Datos del Docente">
                            <div class="flex" >
                              <div class="col-12 md:col-6 lg:col-6" style="margin-top:-20px">
                                <h3 class="fondebabutton">Nombre : {{ form2.User?.fullName | titlecase }}</h3>
                                <h3 class="fondebabutton">Identificacion : {{ form2.User?.Person?.identification | titlecase }}</h3>
                                <h3 class="fondebabutton">Correo : {{ form2.User?.email| titlecase }}</h3>
                                
                              </div>
                              <p-divider layout="vertical" ></p-divider>
                              <div class="col-12 md:col-6 lg:col-6"  style="margin-top:-20px">
                                <h3 class="fondebabutton">Telefono : {{ form2.User?.Person?.phone }}</h3>
                                <h3  class="fondebabutton">Categoria Minciencias : {{ form2.MincienciaCategory?.name| titlecase }}</h3>
                                <h3  class="fondebabutton">Escalafón : {{ form2.Charge_bonding?.ChargebondingScales?.[0]?.Scale?.name | titlecase }}</h3>
                                <!-- <h3 class="fondebabutton">Grupo de Investigacion : {{ form2.Group?.name | titlecase}}</h3> -->
                              </div>
                            </div>
                            </p-fieldset>
                        </ng-template>
                    </ng-template>



                  </p-panel>
                  <br>
                  <p-panel >
                    <ng-template pTemplate="header">
                      Investigadores
                    </ng-template>
                    <br>
                    <ng-template [ngIf]="mostrarHeadquarterProgram==true">
                      <div class="grid">
                        <div class="col-12 sm:col-6 md:col-6">
                          <div class="flex">
                            <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
      
                            <div style="width:100%" class="pr-4">
                              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                              [options]="roles" [filter]="true"
                              formControlName="RoleInvestigador" name="RoleInvestigador"
                                title="ROL DE INVESTIGADOR" 
                                label="ROL DE INVESTIGADOR" 
                                [style]="{'width':'100%','margin-bottom':'20px'}"
                                optionvalue="id" optionLabel="name"  filterBy="name"
                                [required]="true" placeholder="ROL DE INVESTIGADOR" 
                                (click)="getRoleInvestigador($event)">
                                <ng-template let-option pTemplate="item"  >
                                  <span >{{option.name  | titlecase}} </span>
                              </ng-template>
                              </p-dropdown>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 sm:col-6 md:col-6">
                          <ng-template [ngIf]="mostrarIntegrantes==true">
                            <div fxLayout="row" fxLayoutGap="20px"  class="pl-4 pr-4" *ngIf="mostrarI == false">
              
                              <button pButton type="button" (click)="addInvestigatorCollaborators($event)" 
                            class="p-button-success p-button-raised p-button-rounded mr-3 "
                              label="Add Investigadores"></button> 
          
                              <!-- <button pButton type="button" (click)="addInvestigator($event)" 
                              class="p-button-info p-button-raised p-button-rounded mr-3"
                              label="Crear nuevo Investigador"></button>
                              <button pButton type="button" (click)="addStudent($event)" 
                              class="p-button-warning p-button-raised p-button-rounded"
                                label="Crear nuevo Estudiante"></button>   -->
                          </div>
                          </ng-template>
                        </div>
                      </div>
          
                      <!-- <h5 style="text-align:left;">Director y/o Investigador Principal:</h5> -->
                      
                            
                      
          
                    <br>
                    <ng-template [ngIf]="mostrarIntegrantes==true">
                    <div fxLayout="row" fxLayoutGap="20px">
                      <div class="table-wrapper" >
                        <p-table [value]="algoI" *ngIf="mostrarI == true"> 
                          <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">Investigadores<p-sortIcon field="id"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                          <tr [pSelectableRow]="rowData">
                              <td>
                                <div formArrayName="InvestigatorCollaborators"> 
                                  <div *ngFor="let item of getInvestigatorCollaborator.controls; 
                                  let pointIndex=index" [formGroupName]="pointIndex">
                                  <div class="grid">
                                    <div class="col-12 sm:col-4 md:col-4">
                                      <div class="field ">
                                        <label for="name"style="font-weight: bold;">ROL SELECCIONADO</label>
                                          <div class="p-inputgroup" >
                                            <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                                            <input type="text" pInputText 
                                            class="p-inputtext-lg"  name="ROL SELECCIONADO"  title="ROL SELECCIONADO"
                                            [value]="form.value.InvestigatorCollaborators[pointIndex].RoleGroupTeacherId?.name" 
                                            [disabled]="true">         
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 sm:col-8 md:col-8 mt-5">
    

                                      <div class="flex">
                                            
                                        <ng-template [ngIf]="form.value.InvestigatorCollaborators[pointIndex].id == 0  ">
                                          <span class="p-inputgroup-addon" 
                                          style="margin-top:-1px; color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                                          <div style="width:100%">
                                            <span class="p-fluid">
                                          <p-autoComplete formControlName="Usuarios" 
                                          class=" p-inputtext-lg" 
                                          [suggestions]="filteredCountries"
                                          title="SELECCIONE USUARIO"
                                          placeholder="SELECCIONE USUARIO"
                                          (input)="llenar(pointIndex,$event)" [dropdown]="true"
                                          (click)="llenar(pointIndex,$event)" 

                                          (completeMethod)="filterCountry($event)" 
                                          field="todo" [multiple]="false">

                                          <ng-template let-country pTemplate="item">
                                            <div class="country-item">
                                              <span class="flex">

                                                <img src="{{country.avatar}}" 
                                                width="40px"
                                                [class]="'flag flag-'+ country.todo.toLowerCase()" />
                                                <div style="margin-top:10px;margin-left: 15px;
                                                font-weight: 700;
                                                display:flex;
                                                flex-direction:row;
                                                flex-wrap:wrap;
                                                justify-content:flex-start;
                                                align-items:baseline;
                                                align-content:center;
                                                
                                                ">
                                                 <span >
                                                {{country.todo}}</span></div>
                                              </span>
                                               
                                            </div>
                                        </ng-template>
                                          </p-autoComplete>
                                        </span>
                                      </div>
                                        </ng-template>
                                        <ng-template [ngIf]="form.value.InvestigatorCollaborators[pointIndex].id != 0 ">
                                          <span class="p-inputgroup-addon"  style="margin-top:-1px; 
                                          color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                                          <div style="width:100%">
                                            <span class="p-fluid">
                                          <input type="text" pInputText 
                                        class="p-inputtext-lg"  name="USUARIO SELECCIONADO"  title="USUARIO SELECCIONADO"
                                        [value]="form.value.InvestigatorCollaborators[pointIndex].Usuarios.todo" [disabled]="true">      
                                      </span>
                                    </div>  
                                      </ng-template>

                                    
                                    <span class="bottomdelete" style="margin-left: 15px;margin-top: -5px;">
                                      <button pButton pRipple type="button" icon="pi pi-times" (click)="removeInvestigatorCollaborators(pointIndex,$event)"  
                                      class="p-button-rounded p-button-danger"></button>

                                    </span>
                                  </div>
                                    </div>
                                  </div>
                                  </div>
                                </div> 
                              </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" >
                          <div fxLayout="row" fxLayoutGap="20px" style="display: flex;justify-content:center;align-items:center" >
                            <button pButton type="button" (click)="addInvestigatorCollaborators($event)" 
                            class="p-button-success p-button-raised p-button-rounded mr-3 "
                              label="Add Investigadores"></button> 
                          </div>
                        </ng-template>
                        </p-table>
                      </div>
                    </div>
    
                    <p><b>Nota: </b>Todos los integrantes del grupo deben diligenciar el CVLAC, donde será verificable la trayectoria académica de cada uno y el GRUPLAC del grupo.</p> 
                    </ng-template>
    
                    </ng-template>



                  </p-panel>
   

               
                    <div >
                      <h3 style="text-align:center;">LINEA DE INVESTIGACIÓN Y TEMÁTICAS ASOCIADAS AL GRUPO</h3>                
                      <p-panel >
                        <ng-template pTemplate="header">
                          Lineas asociadas al Programa
                        </ng-template>
                      
                          <div fxLayout="row" fxLayoutGap="20px" style="text-align:center" *ngIf="mostrar4 == false">
          
                            <button pButton type="button" 
                            (click)="addlines($event)" style="margin-right: 15px;" 
                          class="p-button-success p-button-raised p-button-rounded"
                            label="Add Lineas"></button> 
                        </div>
              
                        <br>
            
                        <div fxLayout="row" fxLayoutGap="20px">
                          <div class="table-wrapper" >
                            <p-table [value]="algo" *ngIf="mostrar4 == true"> 
                              <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="id">Lineas y Areas Tematicas asociadas<p-sortIcon field="id"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                              <tr [pSelectableRow]="rowData">
                                  <td>
                                    <div formArrayName="lines"> 
                                      <div *ngFor="let item of getlines.controls; 
                                      let pointIndex=index" [formGroupName]="pointIndex">
                                        <div class="grid"> 
                                          <div class="col-11 sm:col-11">
                                            <div class="flex">
                                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
      
                                              <div style="width:100%">
                                                <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                                [options]="lines" [filter]="true"
                                                    formControlName="LineId" name="LineId"
                                                  label="SELECCIONE LINEA" 
                                                  [style]="{'width':'100%','margin-bottom':'20px'}"
                                                  optionvalue="id" optionLabel="name" 
                                                  filterBy="name"
                                                  [required]="true" placeholder="SELECCIONE LINEA" title="SELECCIONE LINEA"(click)="AreaSeleccionada(pointIndex,$event)" >
                                                  <ng-template let-option pTemplate="item"  >
                                                    <span >{{option.name  | titlecase}} - Resolución: {{option.LineDetail?.resolution  | titlecase}}
                                                      </span>
                                                </ng-template>
                                                </p-dropdown>
                                              </div>
                                            </div>
                                            <br>
                                            <div class="flex mb-4" >
                                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257;height: 47px;"><i class="pi pi-bookmark-fill"></i></span>
   
                                              <div style="width:100%">
                                                  
                                          <span class="p-fluid">
                                  
                                              <p-autoComplete 
                                              formControlName="ThematicId" name="ThematicId" class=" p-inputtext-lg" 
                                              [suggestions]="filteredCountries2"
                                              title="SELECCIONE AREAS TEMATICAS"
                                               placeholder="SELECCIONE AREAS TEMATICAS"
                                               (input)="llenar2(pointIndex,$event)" 
                                               [dropdown]="true"
                                               (click)="llenar2(pointIndex,$event)" 
                                              (completeMethod)="filterCountry2($event)" 
                                              field="name" [multiple]="true" >
                                              </p-autoComplete>
                                          </span>
                                                </div>
                                              <!-- <span class="bottomdelete" style="margin-top: 5px;">
                                                <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                                                class="p-button-rounded p-button-outlined" (click)="addeJES($event)" ></button>
                                              </span> -->
                                            </div>
                                            <hr>
      
                                            </div>
                                            <div class="col-1 sm:col-1">
                                              <span class="bottomdelete" style="margin-top: 5px;">
                                                <button pButton pRipple type="button" icon="pi pi-times" (click)="removelines(pointIndex,$event)"  
                                                class="p-button-rounded p-button-danger"></button>
          
                                              </span>
                                            </div>
                                          
                                        
                                        
                                      </div>
                                      </div>
                                    </div> 
                                  </td>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="summary" >
                              <div fxLayout="row" fxLayoutGap="20px" style="display: flex;justify-content:center;align-items:center" >
                                <button pButton type="button" 
                            (click)="addlines($event)" style="margin-right: 15px;" 
                          class="p-button-success p-button-raised p-button-rounded"
                            label="Add Lineas"></button> 
                              </div>
                            </ng-template>
                            </p-table>
                          </div>
                        </div>
      
                      
                        </p-panel>
                    </div>
                     <!-- areas asociadad -->
                     <div >
                      <h3 style="text-align:center;">AREAS DE CONOCIMIENTO ASOCIADAS AL GRUPO</h3>                
                      <p-panel >
                        <ng-template pTemplate="header">
                          Areas del Conocimiento
                        </ng-template>
                    <div fxLayout="row" fxLayoutGap="20px" style="text-align:center"  *ngIf="mostrar3 == false">
                      <button pButton type="button" (click)="addknowledge_areas($event)" 
                      class="p-button-success p-button-raised p-button-rounded"
                       label="Add AREAS "></button>
                    </div>
                    <br>
                    <div fxLayout="row" fxLayoutGap="20px">
                      <div class="table-wrapper" >
                        <p-table [value]="algo3" *ngIf="mostrar3 == true"> 
                          <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">AREAS<p-sortIcon field="id"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                          <tr [pSelectableRow]="rowData">
                              <td>
                                <div formArrayName="knowledge_areas"> 
                                  <div *ngFor="let item of getknowledge_areas.controls; 
                                  let pointIndex=index" [formGroupName]="pointIndex">
                                  <div class="grid"> 
                                    <div class="col-10 sm:col-10">
                                      <div class="flex">
                                       <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
    
                                        <div style="width:100%">
                                              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                              [options]="knowledge_areas" [filter]="true"
                                                  formControlName="Knowledge_areaId" name="Knowledge_areaId"
                                                label="SELECCIONE AREAS Y TEMATICAS" 
                                                [style]="{'width':'100%','margin-bottom':'5px'}"
                                                optionvalue="id" optionLabel="name"  filterBy="name"
                                                [required]="true" placeholder="SELECCIONE AREAS Y TEMATICAS">
                                                <ng-template let-option pTemplate="item"  >
                                                  <span >{{option.name  | titlecase}}</span>
                                              </ng-template>
                                              </p-dropdown>
                                            </div>
                                          </div>
    
    
                                         </div>
                                         <div class="col-2 sm:col-2">
                                            <span class="bottomdelete" style="margin-top: 5px;">
                                              <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                                              class="p-button-rounded p-button-outlined mr-2" (click)="addMknowledge_areas($event)" ></button>
                                            </span>
                                            <span class="bottomdelete" style="margin-top: 5px;">
                                              <button pButton pRipple type="button" icon="pi pi-times" (click)="removeknowledge_areas(pointIndex,$event)"  
                                              class="p-button-rounded p-button-danger"></button>
                                            </span>
                                          
                                          </div>
                           
                                      </div>
                                      <hr>
                                        
                                      </div>
                                      
                                   
    
                                </div> 
                              </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" >
                          <div fxLayout="row" fxLayoutGap="20px" style="display: flex;justify-content:center;align-items:center" >
                            <button pButton type="button" (click)="addknowledge_areas($event)" 
                    class="p-button-success p-button-raised p-button-rounded"
                     label="Add AREAS "></button> 
                          </div>
                        </ng-template>
                        </p-table>
                      </div>
                    </div>
                      </p-panel>
                    </div>

                    <div >
                      <h4 style="text-align:left;">ANEXO DE DETALLES</h4>
                      <ng-template [ngIf]="mostrarAnexo != null && BanderaAnexo==false">
                        <div class="p-inputgroup" >
                          <span class="p-inputgroup-addon"  style="margin-top:15px; height:45px"><i class="pi pi-bookmark-fill"></i></span>
          
                        <div class="custom-input-file " style="width: 100%;">
                          <input type="hidden" 
                          class="input-file p-inputtext-lg" 
                        
                          name="Anexo" 
                          placeholder="Anexo" formControlName="Anexo"
                          title="Anexo" (click)="onFileChangeA($event)">
                          <a pInputText
                          class="input-file p-inputtext-lg " 
                          style="margin-top: -15px; "
                          target="back" href="{{API_URI}}{{mostrarAnexo}}">
                          Archivo de Grupo</a>
                          <span class="bottomdelete"  
                          style="margin-left: 20px;margin-top: 5px;">
                            <button pButton pRipple type="button" icon="pi pi-sync"  title="Cambiar Archivo"
                            (click)="BanderaAnexo=true"  
                            class="p-button-rounded p-button-warning "></button>

                          </span>
                        </div>
                      </div>
                 

                      </ng-template>

                      <ng-template [ngIf]="BanderaAnexo==true">
                        <div class="p-inputgroup" >
                          <span class="p-inputgroup-addon"  style="margin-top:13px; height:45px"><i class="pi pi-bookmark-fill"></i></span>
                            <div class="custom-input-file" style="width: 100%;">
                              <input type="file" class="input-file p-inputtext-lg" 
                              style="margin-bottom: 10px; width:80%" 
                              name="Anexo" 
                              placeholder="Anexo" (change)="onFileChangeA($event)"
                              formControlName="Anexo" title="Anexo" >
                              <span class="bottomdelete"  
                              style="margin-left: 20px;">
                                <button pButton pRipple type="button" icon="pi pi-sync"  *ngIf="mostrarAnexo!= null"
                                title="Volver Archivo Anterior"
                                (click)="BanderaAnexo=false"  
                                class="p-button-rounded p-button-warning mb-3"></button>
  
                              </span>
                            </div>
                            
                          </div>

                      </ng-template>
                    </div> 
                  </p-card>
                </div>
              </ng-template>


              <ng-template [ngIf]="activeIndex==1">
                <div class="stepsdemo-content">
                  <p-card>
                    <div >
    
                      <!-- Objetivos -->
                       <p-panel >
                         <ng-template pTemplate="header">
                           Objetivo General y Objetivos Específicos
                         </ng-template>
                         <h5 style="text-align:left;">General:</h5>
                         <div class="p-inputgroup" >
                           <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
         
                           <input type="text" class="p-inputtext-lg" pInputText name="ObjetivoGeneral" 
                           placeholder="Objetivo General" formControlName="ObjetivoGeneral" 
                           title="Objetivo General" >         
                         </div>
             
                         <h5 style="text-align:left;">Especificos:</h5>
                         <div class="p-inputgroup" >
                           <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
         
                           <textarea rows="5" cols="30" [style]="{'border-radius':'10px'}" pInputTextarea [autoResize]="true"
                           formControlName="ObjetivosEspecificos" ></textarea>
                                 
                         </div>
                
                     </p-panel>
                     <br>
                     <!-- mision vision perfil -->
                     <p-panel >
                       
                       <ng-template pTemplate="header">
                         Misión, Visión, Perfil
                       </ng-template>
                       <div class="grid p-fluid ml-1 mr-1 mt-1">
                         <div class="col-12 md:col-4 lg:col-4" >
                           <h5 style="text-align:left;">Mision:</h5>
                           <div class="p-inputgroup" style="margin-bottom: 10px;">
                             <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
         
                             <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                             pInputTextarea [autoResize]="true" name="Mision"
                             formControlName="Mision" placeholder="ESCRIBIR LA MISION" 
                             title="ESCRIBIR LA MISION"  ></textarea>
                             
                           </div>
                         </div>
                         <div class="col-12 md:col-4 lg:col-4" >
                           <h5 style="text-align:left;">Vision:</h5>
                           <div class="p-inputgroup"  style="margin-bottom: 10px;">
                             <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
         
                             <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                             pInputTextarea [autoResize]="true"name="Vision"
                             formControlName="Vision" placeholder="ESCRIBIR LA VISION" 
                             title="ESCRIBIR LA VISION"  ></textarea>
                 
                           </div>
                         </div>
                         <div class="col-12 md:col-4 lg:col-4" >
                           <h5 style="text-align:left;">Perfil:</h5>
                           <div class="p-inputgroup"  style="margin-bottom: 10px;">
                             <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
         
                             <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                             pInputTextarea [autoResize]="true"Perfil
                           formControlName="Perfil" placeholder="ESCRIBIR EL PERFIL" 
                           title="ESCRIBIR EL PERFIL" ></textarea>
                 
                           </div>
                         </div>
                       </div>
                   </p-panel>
                   <br>
                   <!-- metas resultados -->
                   <p-panel >
                     <ng-template pTemplate="header">
                       Metas y Sector de Aplicación
                     </ng-template>
                     <br>
                     <div class="grid p-fluid ">
                       <div class="col-12 md:col-6 lg:col-6" >
                         <h5 style="text-align:left;">Metas e indicadores:</h5>
                         
                         <div class="p-inputgroup" style="margin-bottom: 10px;">
                           <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
         
                           <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" pInputTextarea [autoResize]="true"
                           formControlName="Metas" placeholder="ESCRIBIR LA METAS"  name="Metas"
                           title="ESCRIBIR LA METAS"  ></textarea>
                         </div>
                       </div>
                       <!-- <div class="col-12 md:col-4 lg:col-4" >
                         <h5 style="text-align:left;">Resultados Esperados:</h5>
         
                         <div class="p-inputgroup" style="margin-bottom: 10px;">
                           <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
         
                           <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" pInputTextarea [autoResize]="true"
                           formControlName="Resultados" placeholder="ESCRIBIR LOS RESULTADOS" name="Resultados"
                           title="ESCRIBIR LOS RESULTADOS" ></textarea>
                         </div>
                           
                       </div> -->
                       <div class="col-12 md:col-6 lg:col-6" >
                         <h5 style="text-align:left;">Sector de Aplicación:</h5>
         
                         <div class="p-inputgroup" style="margin-bottom: 10px;">
                           <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
         
                           <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" pInputTextarea [autoResize]="true"
                           formControlName="Sector" placeholder="ESCRIBIR SECTOR" name="Sector"
                            title="ESCRIBIR SECTOR" ></textarea>
                         </div>
                       </div>
                     </div>
                 </p-panel>
                       </div>
                        <!-- anexos -->
                <div >
                  <h4 style="text-align:left;">ANEXOS:</h4>
                  <div fxLayout="row" fxLayoutGap="20px" style="text-align:center" *ngIf="mostrar2 == false">
                    <button pButton type="button" (click)="addAnexos($event)" 
                    class="p-button-warning p-button-raised p-button-rounded"
                     label="Add Anexos"></button>  
                  </div>
        
                  <br>
                  <div fxLayout="row" fxLayoutGap="20px">
                    <div class="table-wrapper" >
                      <p-table [value]="algo2" *ngIf="mostrar2 == true"> 
                        <ng-template pTemplate="header">
                          <tr>
                              <th pSortableColumn="id">Anexos<p-sortIcon field="id"></p-sortIcon></th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                        <tr [pSelectableRow]="rowData">
                            <td>
                              <div formArrayName="Anexoss"> 
                                <div *ngFor="let item of getAnexos.controls; 
                                let pointIndex=index" [formGroupName]="pointIndex">
                                  <div class="grid"> 
                                    <div class="col-12 sm:col-10 md:col-10 lg:col-10 xl:col-10">
                                      <ng-template [ngIf]="form.value.Anexoss[pointIndex].anterior == true ">
                                        <div class="custom-input-file " style="width: 100%;">
                                          <input type="hidden" 
                                          class="input-file p-inputtext-lg" 
                                        
                                          name="Anexos" 
                                          placeholder="Anexo" formControlName="Anexos"
                                          title="Anexo" (click)="onFileChange1($event,pointIndex)">
                                          <a pInputText
                                          class="input-file p-inputtext-lg " 
                                          style="margin-top: -20px; width:100%" 
                                          target="back" href="{{API_URI}}{{form.value.Anexoss[pointIndex].Anexos?.url}}">
                                          {{form.value.Anexoss[pointIndex].Anexos?.name}}</a>
                                          <span class="bottomdelete"  
                                          style="margin-left: 20px;">
                                            <button pButton pRipple type="button" icon="pi pi-sync"  title="Cambiar Archivo"
                                            (click)="removeArchivoC(form.value.Anexoss[pointIndex].Anexos,$event,pointIndex)"  
                                            class="p-button-rounded p-button-warning "></button>
          
                                          </span>
                                        </div>
                                    </ng-template>

                                    <ng-template [ngIf]="form.value.Anexoss[pointIndex].anterior != true ">
    
                                          <div class="custom-input-file" style="width: 100%;">
                                            <input type="file" 
                                            class="input-file p-inputtext-lg" 
                                            style="margin-bottom: 10px;" 
                                            name="Anexos" 
                                            placeholder="Anexo" formControlName="Anexos"
                                            style="width: 80%;"
                                            title="Anexo" (change)="onFileChange1($event,pointIndex)">
                                            <span class="bottomdelete mt-7" 
                                            style="margin-left: 5px ;">
                                            <button pButton pRipple type="button" icon="pi pi-sync"  title="Volver Archivo"  
                                            *ngIf="(form.value.Anexoss[pointIndex].Anexos == undefined 
                                            || form.value.Anexoss[pointIndex].Anexos == '') 
                                            && form.value.Anexoss[pointIndex].anterior != true "
                                            (click)="volverArchivoC($event,pointIndex)"  
                                            class="p-button-rounded p-button-warning "></button>
                                              <button pButton pRipple type="button" icon="pi pi-check"   
                                              *ngIf="form.value.Anexoss[pointIndex].Anexos != '' 
                                              && form.value.Anexoss[pointIndex].Anexos != undefined"
                                              class="p-button-rounded p-button-success mt-2"></button>
            
                                            </span>
                                          </div>
                  
                                    </ng-template>
                                    </div>
                                    <div class="col-12 sm:col-1 md:col-1 lg:col-1 xl:col-1">
                                    <!-- <div class="custom-input-file" style="width: 100%;">
                                      <input type="file" class="input-file p-inputtext-lg" style="margin-bottom: 10px;" 
                                      name="Anexos" 
                                      placeholder="Anexo" formControlName="Anexos" title="Anexos" required>
                                    </div> -->
                                    
                                    <span class="bottomdelete mt-4" >
                                      <button pButton pRipple type="button" icon="pi pi-trash" 
                                      (click)="removeAnexos(pointIndex,$event)"  
                                      title="Eliminar Anexos"
                                      class="p-button-rounded p-button-danger mt-3"></button>
                                    </span>
                                    </div>
                                   

                                  
                                </div>
                                </div>
                              </div> 
                            </td>

                        </tr>
                      </ng-template>
                      <ng-template pTemplate="summary" >
                        <div fxLayout="row" fxLayoutGap="20px" style="display: flex;justify-content:center;align-items:center" >
                          <button pButton type="button" (click)="addAnexos($event)" 
                    class="p-button-warning p-button-raised p-button-rounded"
                     label="Add Anexos"></button>  
                        </div>
                      </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <p><b>Nota: </b> </p>
                   <p>A. Copia del Acta del Comité de investigaciones de la Facultad, donde el Comité de investigaciones Avale dicho grupo firmada por el decano y el coordinador de investigaciones.</p> 
                    <p>B. Copia de Hoja de Vida en resumen de cada uno de los integrantes.</p>
                   <p> C. Plan Estratégico</p>
                </div>
                  </p-card>
                </div>
              </ng-template>
                </div>

  
  
          <ng-template [ngIf]="bandera == false">                
              <div fxLayout="row" class="titleCard" style="margin-top: 20px">
                <button pButton type="submit" [disabled]="!form.valid"
                 icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded" 
                 label="Enviar Registro" styleClass="mr-2"></button>
              <p-button (click)="volver($event)" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
          </div>
        </ng-template>
        <ng-template [ngIf]="bandera == true">
          <br>
            <p-progressBar mode="indeterminate"  [style]="{'height': '6px'}"></p-progressBar>
        </ng-template>
  
              </div>
    
        
  
                 
        
        </div>
  
  
         
          
              
  </p-dialog>
  </form>
  <p-toast></p-toast>
  
  <p-confirmPopup></p-confirmPopup>
</ng-template>

</ng-template>