<ng-template [ngIf]="Valorconstruccion == true">
  <span  style="display: flex;
  justify-content: center;
  margin: 0;">
    <div class="card" 
    style="justify-content:center;justify-items: center;align-items: center;width: 67%;height: 70%;">
      <img src="{{construccion}}"  pRipple 
                [style]="{'width':'90%','height':'70%'}"
                styleClass="imgLogo4 p-button-rounded p-button-outlined" 
                size="xlarge" shape="circle">
    </div>
  </span>
  </ng-template>
  
  <ng-template [ngIf]="Valorconstruccion == false">

    
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '90%','height':'100vw'}" 
  [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"  [showHeader]="false"   >
  <br>
      
      <div [style]="{'margin-top':'-1px'}" >
        <div style="border: 1px solid black;padding: 10px;">

          <div class="grid p-fluid" style="padding: 10px;">
            <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2 text-center">
              <img alt="logo" src="{{image}}" 
              style="width: 60%"/>
            </div>

            <div style="border: 1px solid black;"class="col-8 md:col-8 lg:col-8">
              
              <h2 style="text-align: center;">PROPUESTA DE INVESTIGACIÓN</h2>
            </div>

            <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2 text-center">
              <!-- <img alt="logo" src="{{image2}}" 
              style="width: 100%"/> -->
              <p-button (click)="Dialog = true" icon="pi pi-times" 
              [style]="{'border': '1px solid #F16257','border-radius':'5px','width':'auto'}"
              styleClass="p-button-text ml-2 mt-3" label="Cancelar"></p-button>
            </div>
          </div>

          

            <!-- <h3 class="first">Basic</h3>
            <p-steps [model]="items"></p-steps> -->

            <div style="border: 1px solid gray;border-radius:10px"class="p-4 ">
              <br>
              <!-- <h3>Clickable</h3> -->
            <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

            <br>
            <div style="border: 1px solid #F16257;border-radius:10px"class="p-4 ">
            <ng-template [ngIf]="activeIndex==0">

              <div class="stepsdemo-content">
                <p-card>
                 
                    <ng-template pTemplate="title">
                     <div class="text-center">
                      IDENTIFICACIÓN DEL DOCENTE PRINCIPAL

                     </div>
                    
                    </ng-template>
                
                      
                    <!-- <ng-template pTemplate="subtitle">
                        Enter your personal information
                    </ng-template> -->

                    <div class="grid p-fluid text-left">
                          <div class="col-12 md:col-12 lg:col-12">
                                <div class="flex">
                                  <span class="p-inputgroup-addon flex"  style="margin-top:-1px; 
                                  color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                                  <div style="width: 100%">
                                    <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                    [options]="teachers" [filter]="true"
                                      name="TeacherId" formControlName="TeacherId" label="DOCENTE" 
                                      [style]="{'width':'100%'}" 
                                      optionvalue="id"  optionLabel="fullName" filterBy="fullName"
                                       placeholder="SELECCIONE DOCENTE" title="SELECCIONE DOCENTE" 
                                       [required]="true" (onChange)="SelectTeacher()">
                                      <ng-template let-option pTemplate="item">
                                        <span >{{option.fullName  | titlecase}} -
                                          cc: {{option.identification }} </span>
                                    </ng-template>
                                    </p-dropdown>
                                  </div>
                              </div>
                      
                            </div>
                        </div>
              
                        <ng-template [ngIf]="mostrarTeacher == true">
                          <br>
                          <p-fieldset legend="Datos del Docente">
                            <div class="flex" >
                              <div class="col-12 md:col-6 lg:col-6" style="margin-top:-20px">
                                <h3 class="fondebabutton">Nombre : {{ form2.User?.fullName | titlecase }}</h3>
                                <h3 class="fondebabutton">Identificacion : {{ form2.User?.Person?.identification | titlecase }}</h3>
                                <h3 class="fondebabutton">Correo : {{ form2.User?.email| titlecase }}</h3>
                                <!-- <h3 class="fondebabutton">Horas de Dedicación : {{ form2.hours_of_dedication | titlecase }}</h3> -->
                                <div class="p-inputgroup"  >
                                  <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                                  <input class="p-inputtext-lg" type="text" 
                                  formControlName="hours_dedicated"
                                  pInputText  name="hours_dedicated" [required]="true"
                                  placeholder="Horas de Dedicación del Proyecto" 
                                  title="Horas de Dedicación del Proyecto" >         
                              </div>
                              </div>
                              <p-divider layout="vertical" ></p-divider>
                              <div class="col-12 md:col-6 lg:col-6"  style="margin-top:-20px">
                                <h3 class="fondebabutton">Telefono : {{ form2.User?.Person?.phone }}</h3>
                                <h3  class="fondebabutton">Categoria Minciencias : {{ form2.MincienciaCategory?.name| titlecase }}</h3>
                                <h3  class="fondebabutton">Escalafón : {{ form2.Charge_bonding?.ChargebondingScales?.[0]?.Scale?.name | titlecase }}</h3>
                                <h3  class="fondebabutton">Vinculacion de Cargo: {{ form2.Charge_bonding?.name | titlecase }}</h3>
                                <!-- <h3 class="fondebabutton">Grupo de Investigacion : {{ form2.Group?.name | titlecase}}</h3> -->
                              </div>
                            </div>
                            </p-fieldset>
                        </ng-template>
                        <br>
                        <p-panel >
                          <ng-template pTemplate="header">
                            Grupo de investigación al cual estará articulado el proyecto:
                          </ng-template>
                            <div class="grid p-fluid">
                              <div class="col-12 md:col-12 lg:col-12">
                                <h5 style="text-align:left;">EL GRUPO DE INVESTIGACIÓN:</h5>
              
                                <div class="flex">
                                  <span class="p-inputgroup-addon flex mr-4"  style=" 
                                  color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                                  <div style="width: 100%">
                                      <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                      [options]="groups" [filter]="true" 
                                      label="SELECCIONE EL GRUPO" 
                                      formControlName="GroupId" name="GroupId"
                                        [style]="{'width':'100%','margin-bottom':'20px','margin-left':'-20px'}" 
                                        optionvalue="id"  optionLabel="name" filterBy="name"
                                        [disabled]="true" placeholder="SELECCIONE EL GRUPO" 
                                        title="SELECCIONE EL GRUPO" (onChange)="getLineProgramGroup()">
                                        <ng-template let-option pTemplate="item" >
                                          <span >{{option.name | titlecase}} </span>
                                      </ng-template>
                                      </p-dropdown>
                                </div>
                                </div>
                              </div>
                            </div>
                            
                            <ng-template [ngIf]="Grupo != null">
                              <p-fieldset legend="Datos del Grupo">
                                <div class="flex" >
                                  <div class="col-12 md:col-6 lg:col-6" style="margin-top:-20px">
                                    <h3 class="fondebabutton">Nombre : {{ Grupo?.name | titlecase }}</h3>
                                   
                                   
                                    <!-- <h3 class="fondebabutton">Horas de Dedicación : {{ form2.hours_of_dedication | titlecase }}</h3> -->
                                    <h3  class="fondebabutton">Objetivo General : </h3>
                                    <h4 class="fondebabutton">
                                      {{ Grupo?.ObjetivoGeneral| titlecase }}
                                    </h4>
                                
                                  </div>
                                  <p-divider layout="vertical" ></p-divider>
                                  <div class="col-12 md:col-6 lg:col-6"  style="margin-top:-20px">
                                    <h3 class="fondebabutton">Areas de Conocimiento : </h3>
                                    <h4 class="fondebabutton">
                                      <span *ngFor="let i of Grupo?.GroupKnowledge_areas">
                                        <span *ngIf="i?.id">
                                          * {{i?.Knowledge_area?.name}}
                                        </span>
                                      </span>
                                    </h4>
                                    <h3 class="fondebabutton">Lider del Grupo : 
                                    </h3> 
                                    <h4 class="fondebabutton">
                                      {{ Grupo?.Teacher?.User?.fullName | titlecase }} - CC : 
                                      {{ Grupo?.Teacher?.User?.Person?.identification }}</h4>
                                  
                                    <!-- <h3 class="fondebabutton">Grupo de Investigacion : {{ form2.Group?.name | titlecase}}</h3> -->
                                  </div>
                                </div>
                                </p-fieldset>
                            </ng-template>
                       
                            <div class="grid p-fluid">
                              <div class="col-12 md:col-4 lg:col-4">
                                <h5 style="text-align:left;">FACULTAD DEL PROYECTO:</h5>
                                <div class="grid ">
                                  <div class="col-12 md:col-12">
                                    <div class="flex">
                                      <span class="p-inputgroup-addon"  style="color:#F16257;height:47px;"><i class="pi pi-bookmark-fill"></i></span>

                                      <div style="width:100%">
                                        <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                        [options]="facultys" [filter]="true" label="SELECCIONE LA FACULTAD"
                                        formControlName="Facultad" name="Facultad"
                                          [style]="{'width':'100%','margin-bottom':'20px'}" 
                                          optionvalue="id"  optionLabel="name" filterBy="name"
                                          [disabled]="true" placeholder="SELECCIONE LA FACULTAD" title="SELECCIONE LA FACULTAD" (onChange)="SelectFacultad()">
                                          <ng-template let-option pTemplate="item" >
                                            <span >{{option.name | titlecase}}</span>
                                        </ng-template>
                                        </p-dropdown>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                  
                              <div class="col-12 md:col-8 lg:col-8">
                                <h5 style="text-align:left;">SEDE Y PROGRAMA DEL PROYECTO:</h5>
                                <div class="grid ">
                                  <div class="col-12 md:col-12">
                                    <div class="flex">
                                      <span class="p-inputgroup-addon"  style="color:#F16257;height:47px;"><i class="pi pi-bookmark-fill"></i></span>
                                      <div style="width:100%">
                                        <ng-template [ngIf]="mostrarFacultad==true">
                                          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                          [options]="FacultadHeadquarterProgram" [filter]="true" 
                                          label="SELECCIONE SEDE - PROGRAMA" 
                                          formControlName="HeadquarterProgramId" name="HeadquarterProgramId"
                                            [style]="{'width':'100%','margin-bottom':'20px'}" 
                                            optionvalue="id"  optionLabel="name" filterBy="name"
                                            [required]="true" placeholder="SELECCIONE SEDE - PROGRAMA" 
                                            title="SELECCIONE SEDE - PROGRAMA" (onChange)="getHeadquarterProgram()">
                                            <ng-template let-option pTemplate="item" >
                                              <span >{{option.name | titlecase}}</span>
                                          </ng-template>
                                          </p-dropdown>
                                        </ng-template>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              </div>
                            </div>
                      </p-panel>
                        <br>
    
                    <ng-template pTemplate="footer">
                        <div class="grid grid-nogutter justify-content-end">
                            <p-button label="Siguiente" icon="pi pi-angle-right" 
                            [disabled]="
                            form.value.TeacherId == '' || form.value.hours_dedicated == '' 
                            || form.value.HeadquarterProgramId == ''"
                            iconPos="right" (click)="activeIndex = 1"></p-button>
                        </div>
                    </ng-template>
                </p-card>
            </div>

            </ng-template>
            <ng-template [ngIf]="activeIndex==1">
              <div class="stepsdemo-content">
                <p-card>
                  <ng-template pTemplate="title">
                    <div class="text-center">
                      DATOS ADICIONALES DEL PROYECTO
                    </div>
                   
                   </ng-template>
                  <div class="grid p-fluid ml-1 mr-1  mb-2">
                    <div class="col-12 md:col-6 lg:col-6" >
                      <div class="field ">
                      <label for="title"style="font-weight: bold;">LUGAR ESPECÍFICO DE LA EJECUCIÓN DEL PROYECTO</label>
                    <div class="p-inputgroup" >
                      <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                      <input type="text" class="p-inputtext-lg" pInputText 
                      name="place_of_execution" 
                         formControlName="place_of_execution" 
                         title="LUGAR DE LA EJECUCIÓN DEL PROYECTO" required>  
      
                    </div>
                      </div>
                    </div>
                    
                    <div class="col-12 md:col-6 lg:col-6" >
                      <div class="field ">
                        <label for="duration"style="font-weight: bold;">DURACIÓN EN MESES</label>
                      <div class="p-inputgroup" >
                        <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                        <input type="text" pInputText 
                        class="p-inputtext-lg"  name="duration"  title="DURACIÓN EN MESES"
                        formControlName="duration" required>         
                    </div>
                      </div>
                    </div>
        
                  </div>
                  <hr>
                  <div class="grid p-fluid ml-1 mr-1 mt-2 mb-2 ">
                    <div class="col-12 md:col-6 lg:col-6" >
                      <div class="field ">
                        <label for="duration"style="font-weight: bold;">TIPO DE INVESTIGACIÓN</label>
                        <div class="p-inputgroup" >
                        </div>
                      </div>
                      <div class="flex">
                        <span class="p-inputgroup-addon flex"  style="margin-top:-1px; 
                        color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                        <div style="width: 100%">
                          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                          [options]="kind_of_investigations" [filter]="true"
                            name="kind_of_investigation" formControlName="kind_of_investigation" 
                            label="TIPO DE INVESTIGACIÓN" 
                            [style]="{'width':'100%'}" 
                            optionvalue="id"  optionLabel="value" filterBy="value"
                            placeholder="SELECCIONE TIPO DE INVESTIGACIÓN" title="SELECCIONE TIPO DE INVESTIGACIÓN" 
                            [required]="true">
                            <ng-template let-option pTemplate="item">
                              <span >{{option.value  | titlecase}} </span>
                          </ng-template>
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-12 md:col-6 lg:col-6" >
                      <div class="field ">
                        <label for="duration"style="font-weight: bold;">MODALIDAD DEL PROYECTO</label>
                        <div class="p-inputgroup" >
                        </div>
                      </div>
                      <div class="flex">
                        <span class="p-inputgroup-addon flex"  style="margin-top:-1px; 
                        color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                        <div style="width: 100%">
                          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                          [options]="project_modalitys" [filter]="true"
                            name="project_modality" 
                            formControlName="project_modality" label="MODALIDAD" 
                            [style]="{'width':'100%'}" 
                            optionvalue="id"  optionLabel="value" filterBy="value"
                            placeholder="SELECCIONE MODALIDAD" title="SELECCIONE MODALIDAD" 
                            [required]="true">
                            <ng-template let-option pTemplate="item">
                              <span >{{option.value  | titlecase}} </span>
                          </ng-template>
                          </p-dropdown>
                        </div>
                      </div>
                      
                    </div>
        
                  </div>
                  <hr>
                  <div class="grid p-fluid ml-1 mr-1 mt-2  mb-2 ">
                    <div class="col-12 md:col-6 lg:col-6" >
                      <div class="field ">
                        <label for="duration"style="font-weight: bold;">LÍNEA DE INVESTIGACIÓN QUE SE ADSCRIBE EL PROYECTO</label>
                        <div class="p-inputgroup" >
                        </div>
                      </div>
                      <div class="flex">
                        <span class="p-inputgroup-addon flex"  style="margin-top:-1px; margin-right: 12px;
                        color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                        <div style="width: 100%">
                       
                            <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                            [options]="lines" [filter]="true"
                                formControlName="LineId" name="LineId"
                               label="SELECCIONE LINEA" 
                              [style]="{'width':'100%','margin-bottom':'20px','margin-left':'-15px'}"
                              optionvalue="id" optionLabel="name" 
                              filterBy="name" (click)="thematic($event)"
                              [required]="true" placeholder="SELECCIONE LINEA"  >
                              <ng-template let-option pTemplate="item"  >
                                <span >{{option.name  | titlecase}}
                                  </span>
                            </ng-template>
                            </p-dropdown>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-12 md:col-6 lg:col-6" >
                      <div class="field ">
                        <label for="duration"style="font-weight: bold;">TEMATICA DEL PROYECTO</label>
                        <div class="p-inputgroup" >
                        </div>
                      </div>
                      <div class="flex">
                        <span class="p-inputgroup-addon flex"  style="margin-top:-1px;  margin-right: 12px;
                        color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
                        <div style="width: 100%">
                          <ng-template [ngIf]="lineValue==true">
                            <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                            [options]="thematics" [filter]="true"
                                formControlName="ThematicId" name="ThematicId"
                              label="SELECCIONE TEMATICA" 
                              [style]="{'width':'100%','margin-bottom':'20px','margin-left':'-15px'}"
                              optionvalue="id" optionLabel="name" 
                              filterBy="name"
                              [required]="true" placeholder="SELECCIONE TEMATICA"  >
                              <ng-template let-option pTemplate="item"  >
                                <span >{{option.name  | titlecase}}
                                  </span>
                            </ng-template>
                            </p-dropdown>
                          </ng-template>
                        </div>
                      </div>
                      
                    </div>
        
                  </div>

                  <ng-template pTemplate="footer">
                    <div class="grid grid-nogutter justify-content-between">
                      <p-button label="Atras" [disabled]="form.value.TeacherId == ''" 
                      (onClick)="activeIndex = 0" icon="pi pi-angle-left"></p-button>
                      <p-button label="Siguiente" (onClick)="activeIndex = 2" 
                      [disabled]="
                      form.value.kind_of_investigation == '' || form.value.project_modality == '' 
                      || form.value.place_of_execution == '' || form.value.duration == ''
                      || form.value.LineId == ''  || form.value.ThematicId == ''"
                      icon="pi pi-angle-right" iconPos="right"></p-button>
                  </div>

              
       
                </ng-template>
                </p-card>
              </div>
            </ng-template>
            <ng-template [ngIf]="activeIndex==2">
              <div class="stepsdemo-content">
                <p-card>
                  <ng-template pTemplate="title">
                    <div class="text-center">
                      IDENTIFICACIÓN DE LOS INTEGRANTES DEL PROYECTO
                    </div>
                   
                   </ng-template>
                   <ng-template pTemplate="subtitle">
                    <div class="text-center">
                      Añadir Co-Investigadores y Estudiantes
                    </div>
                  </ng-template>

                 
                    <div fxLayout="row" fxLayoutGap="20px" style="text-align:center;" 
                    *ngIf="mostrar1 == false">
                    
                      <button pButton type="button" 
                      (click)="addStudents($event)" style="margin-right: 15px;" 
                     class="p-button-success p-button-raised p-button-rounded"
                      label="Add Estudiantes"></button> 
                   </div>
          
                   <br>
          
                   <div fxLayout="row" fxLayoutGap="20px" style="margin-top:-20px">
                     <div class="table-wrapper" >
                       <p-table [value]="algo1" *ngIf="mostrar1 == true"> 
                         <ng-template pTemplate="header">
                           <tr>
                               <th pSortableColumn="id">Estudiantes<p-sortIcon field="id"></p-sortIcon></th>
                           </tr>
                       </ng-template>
                       <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                         <tr [pSelectableRow]="rowData">
                             <td>
                               <div formArrayName="Students"> 
                                 <div *ngFor="let item of getStudents.controls; 
                                 let pointIndex=index" [formGroupName]="pointIndex">
                                   <!-- <div class="grupo">  -->
                                    <div class="grid">
                                      <div class="col-7">
                                        <div class="field">
                                          <!-- <label for="name"style="font-weight: bold;">TIPO DE DOCUMENTO</label> -->
                                          <div class="flex">
                                            <span class="p-inputgroup-addon flex"  style="margin-top:-1px; 
                                            color:#F16257;height:47px"><i class="pi pi-bookmark-fill"></i></span>
        
                                            <div style="width:100%">
                                              
                                                
                                              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                              [options]="students" [filter]="true"
                                                  formControlName="StudentId" name="StudentId"
                                                 label="SELECCIONE ESTUDIANTE" 
                                                [style]="{'width':'100%','margin-bottom':'20px'}"
                                                optionvalue="StudentId" optionLabel="fullName" 
                                                filterBy="fullName"
                                                [required]="true" placeholder="SELECCIONE ESTUDIANTE"  >
                                                <ng-template let-option pTemplate="item"  >
                                                  <span >{{option.fullName  | titlecase}} -
                                                    cc: {{option.identification }} </span>
                                              </ng-template>
                                              </p-dropdown>
                                             
                                          </div>
          
                                        </div>
                                        </div>
                                      </div>
                                      <div class="col-4">
                                        <div class="p-inputgroup"  >
                                          <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                                          <input class="p-inputtext-lg" type="text" formControlName="Horas"
                                          pInputText  name="Horas" required
                                          placeholder="Horas" title="Horas" >         
                                      </div>
                                      </div>
                                      <div class="col-1">
                                        <span class="bottomdelete" style="margin-top: -35px;">
                                          <button pButton pRipple type="button" icon="pi pi-times" (click)="removeStudents(pointIndex,$event)"  
                                          class="p-button-rounded p-button-danger"></button>
                                        </span>
                                      </div>
                               
                                  </div>
            
                                 </div>
                               </div> 
                             </td>
                         </tr>
                       </ng-template>
                       <ng-template pTemplate="summary" >
                        <div fxLayout="row" fxLayoutGap="20px" style="display: flex;justify-content:center;align-items:center" >
                          <button pButton type="button" 
                          (click)="addStudents($event)" style="margin-right: 15px;" 
                         class="p-button-warning p-button-raised p-button-rounded"
                          label="Add Estudiantes"></button> 
                        </div>
                      </ng-template>
                       </p-table>
                     </div>
                   </div>
              

                  <ng-template pTemplate="footer">
                    <div class="grid grid-nogutter justify-content-between">
                      <p-button label="Atras" [disabled]="form.value.TeacherId == ''" 
                      (onClick)="activeIndex = 0" icon="pi pi-angle-left"></p-button>
                      <p-button label="Siguiente" (onClick)="activeIndex = 2" 
                      [disabled]="
                      form.value.kind_of_investigation == '' || form.value.project_modality == '' 
                      || form.value.place_of_execution == '' || form.value.duration == ''
                      || form.value.LineId == ''  || form.value.ThematicId == ''"
                      icon="pi pi-angle-right" iconPos="right"></p-button>
                  </div>
                </ng-template>
                </p-card>
              </div>
            </ng-template>
            <ng-template [ngIf]="activeIndex==3">
            
                <div class="stepsdemo-content">
                      <p-card>
                      
                          <ng-template pTemplate="title">
                          <div class="text-center">
                            INFORMACIÓN DEL PROYECTO

                          </div>
                          
                          </ng-template>

                          <div class="field ">
                            <label for="title"style="font-weight: bold;">Titulo del Proyecto</label>
                              <div class="p-inputgroup" >
                                <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                                <input type="text" class="p-inputtext-lg" pInputText name="title" 
                                  formControlName="title" 
                                  title="Titulo del Proyecto" required>  
                
                              </div>
                          </div>

                          <br>
                          <div class="field ">
                            <label for="title"style="font-weight: bold;">Resumen del Proyecto</label>
                          <div class="p-inputgroup" style="margin-bottom: 10px;">
                            <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                            <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                            pInputTextarea [autoResize]="true"  title="Resumen del Proyecto"
                           name="Project_summary" formControlName="Project_summary"
                           placeholder="El resumen del proyecto debe elaborarse en un máximo de 1000 palabras (dos hojas a espacio sencillo) y contener la información necesaria para darle al lector una idea precisa de la pertinencia y calidad del proyecto. El resumen comprende una breve síntesis del problema a investigar, los objetivos (generales y específicos), resultados esperados, marco teórico y metodología a utilizar."
                           required></textarea>
                            
                          </div>
                        </div>
                        <br>
                        <div class="field ">
                          <label for="title"style="font-weight: bold;">PALABRAS CLAVE</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true"  title="Palabras Claves"
                            name="keywords" formControlName="keywords"
                            placeholder="(Se pueden escribir las palabras o combinaciones de palabras que sean necesarias)."
                            required></textarea>
                              
                            </div>
                      </div>
                      <div class="text-center">
                        <h4> Descriptores del Proyecto </h4>
                      </div>
                      <div class="field ">
                        <label for="title"style="font-weight: bold;">1. PLANTEAMIENTO DEL PROBLEMA:</label>
                          <div class="p-inputgroup" style="margin-bottom: 10px;">
                            <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                            <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                            pInputTextarea [autoResize]="true" title="Planteamiento del Problema"
                          name="problem_statement" formControlName="problem_statement"
                          placeholder="En la definición del problema de estudio lo primero que nos interesa es conocer, saber, lo que será investigado: Por qué, para qué, cual es el valor o la importancia  del hecho o fenómeno a investigar. Si la investigación a realizar tiene criterios de prioridad, novedad, oportunidad, conformismo o comportamiento. A fin de identificar claramente la pregunta que se quiere responder o el problema concreto cuya solución o entendimiento se contribuirá con la ejecución del proyecto de investigación. Por lo tanto se recomienda hacer una descripción precisa y completa de la naturaleza y magnitud del problema y justificar la necesidad de la investigación en términos del desarrollo del país y/o del aporte al conocimiento científico global."
                          required></textarea>
                            
                          </div>
                    </div>

                    <div class="field ">
                      <label for="title"style="font-weight: bold;">2. FORMULACIÓN DEL PROBLEMA</label>
                        <div class="p-inputgroup" style="margin-bottom: 10px;">
                          <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                          <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                          pInputTextarea [autoResize]="true" title="Formulación del Problema"
                        name="problem_formulation" formControlName="problem_formulation"
                        placeholder="La formulación del problema, es la estructuración de toda la investigación, de tal forma que uno de sus componentes resulte parte de un todo y que ese todo forme un cuerpo que tenga lógica de investigación. Se debe por lo tanto, sintetizar la cuestión proyectada para investigar, generalmente a través de un interrogante."
                        required></textarea>
                          
                        </div>
                  </div>
                  <div class="text-center">
                    <h4> 3. OBJETIVOS DEL PROYECTO </h4>
                  </div>
                        <div class="field ">
                          <label for="title"style="font-weight: bold;">3.1 OBJETIVO GENERAL</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="Objetivo General"
                            name="general_objetive" formControlName="general_objetive"
                            placeholder="Es recomendable formular un solo objetivo general global, coherente con el problema planteado"
                            required></textarea>
                              
                            </div>
                         </div>

                         <div class="field ">
                          <label for="title"style="font-weight: bold;">3.2 OBJETIVOS ESPECÍFICOS</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="Objetivos Específicos"
                            name="specific_objectives" formControlName="specific_objectives"
                            placeholder="Los objetivos específicos conducirán a lograr el objetivo general y que son alcanzables con la metodología propuesta."
                            required></textarea>
                              
                            </div>
                         </div>

                         <div class="field ">
                          <label for="title"style="font-weight: bold;">4. JUSTIFICACIÓN</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="justificación"
                            name="justification" formControlName="justification"
                            placeholder="Justificar una investigación es exponer las razones por las cuales se quiere realizar. Toda investigación debe realizarse con un propósito definido. Debe explicar porque es conveniente la investigación y qué o cuáles son los beneficios que se esperan con el conocimiento obtenido."
                            required></textarea>
                              
                            </div>
                         </div>

                         <div class="field ">
                          <label for="title"style="font-weight: bold;">5. DELIMITACIÓN</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="5" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="Delimitación"
                            name="delimitation" formControlName="delimitation"
                            placeholder="Es pertinente dar al problema una formulación lógica, adecuada, precisar sus límites, su alcance, para ello es necesario tener en cuenta los siguientes factores: •	Viabilidad •	Lugar o espacio donde se llevará a cabo la investigación. •	Tiempo •	Financiación"
                            required></textarea>
                              
                            </div>
                         </div>
                         <div class="text-center">
                          <h4> 6. MARCO TEÓRICO</h4>
                        </div>
                         <div class="field ">
                          <label for="title"style="font-weight: bold;">6.1 ANTECEDENTES DE LA INVESTIGACIÓN</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="4" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="Antecedentes de la Investigación"
                            name="investigation_background" formControlName="investigation_background"
                            placeholder="Los antecedentes del problema, son las investigaciones que se han hecho sobre el objeto de investigación y te pueden servir para ampliar o continuar su objeto de investigación.  En este aspecto entrara en juego la capacidad investigadora del grupo de trabajo, aquí se condensará todo lo relacionado a lo que se ha escrito e investigado sobre el objeto de investigación."
                            required></textarea>
                              
                            </div>
                         </div>
                         <div class="field ">
                          <label for="title"style="font-weight: bold;">6.2 FUNDAMENTACIÓN TEÓRICA</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="4" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="Fundamentación teorica"
                            name="theoretical_foundation" formControlName="theoretical_foundation"
                            placeholder="En este aspecto se condensara todo lo pertinente a la literatura que se tiene sobre el tema a investigar. Debe ser una búsqueda detallada y concreta donde el tema y la temática del objeto a investigar tengan un soporte teórico, que se pueda debatir, ampliar, conceptualizar y concluir. Ninguna investigación debe privarse de un fundamento o marco teórico o de referencia."
                            required></textarea>
                              
                            </div>
                         </div>


                         <div class="field ">
                          <label for="title"style="font-weight: bold;">7. IDENTIFICACIÓN DE LAS VARIABLES </label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="7" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="Identificación de Variable"
                            name="identification_of_the_variables" formControlName="identification_of_the_variables"
                            placeholder="La identificación de las variables comienza con la explicitación de las mismas en el planteamiento del problema, la formulación de los objetivos y continúa cuando se trabaja el marco teórico, momento en el que se identifican y conceptualizan.                                                                          La identificación de las variables es un elemento crucial, puesto que permite establecer claramente lo que se va a medir, deben ser definidas, para que tanto el investigador como asesores, correctores y otros, puedan entender claramente cuál es su objetivo."
                            required></textarea>
                              
                            </div>
                         </div>

                         <div class="field ">
                          <label for="title"style="font-weight: bold;">8. METODOLOGÍA</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="7" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="metodología"
                            name="methodology" formControlName="methodology"
                            placeholder="Debe mostrar, en forma organizada, precisa, cómo serán alcanzados cada uno de los objetivos específicos propuestos. La metodología debe reflejar la estructura lógica y el rigor científico del proceso de investigación desde la elección de un enfoque metodológico específico (preguntas con hipótesis fundamentadas correspondientes, diseños muestrales o experimentales) hasta la forma como se van a analizar, interpretar y presentar los resultados. Deben detallarse, los procedimientos, técnicas, actividades y demás estrategias metodológicas requeridas para la investigación. Deberá indicarse el proceso a seguir en la recolección de la información, así como en la organización, sistematización y análisis de los datos"
                            required></textarea>
                              
                            </div>
                         </div>

                         <div class="field ">
                          <label for="title"style="font-weight: bold;">9. IMPACTO ESPERADO</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="7" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="Impacto Esperado"
                            name="expected_impact" formControlName="expected_impact"
                            placeholder="El impacto esperado no es una reformulación de los resultados sino una descripción de la incidencia de los resultados desde el punto de vista de los asuntos o problemas estratégicos definidos en los Planes Estratégicos de los Programas Nacionales. Se relacionan principalmente con la solución de problemas nacionales globales, y/o con el desarrollo del país, en términos académicos, socioeconómicos, ambientales, de productividad, etc. El investigador debe identificar claramente cuál es el aporte del proyecto al fortalecimiento de la capacidad científica regional, nacional y, cuando lo amerite, al conocimiento de frontera a nivel mundial."
                            required></textarea>
                              
                            </div>
                         </div>

                         <div class="field ">
                          <label for="title"style="font-weight: bold;">10. ESTRATEGIA DE COMUNICACIÓN</label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="7" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="Estrategia de Comunicación"
                            name="communication_strategy" formControlName="communication_strategy"
                            placeholder="Todo proyecto debe plantear una estrategia de comunicación de los resultados, tanto en medios científicos como divulgativos. La investigación que no se publica es como si no existiera. Las estrategias de comunicación pueden variar según el tipo de proyecto y la confidencialidad que requiera, pero en todo caso, debe haber una forma de someterse a la crítica autorizada y otra de llegar a amplios sectores de la sociedad. Se debe indicar en que revistas nacionales y/o internacional se publicarán los resultados y/o que procedimientos utilizarán para proteger y/o dar a conocer los productos de la investigación."
                            required></textarea>
                              
                            </div>
                         </div>
                         <div class="field ">
                          <label for="title"style="font-weight: bold;">11. CRONOGRAMA DE ACTIVIDADES </label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="7" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="cronograma de actividades"
                            name="timeline_of_activities" formControlName="timeline_of_activities"
                            placeholder="Es un plan de trabajo o un plan de actividades, que muestra la duración del proceso investigativo."
                            required></textarea>
                              
                            </div>
                         </div>
                         <div class="field ">
                          <label for="title"style="font-weight: bold;">12. PRESUPUESTO </label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="7" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="presupuesto"
                            name="budget" formControlName="budget"
                            placeholder="El presupuesto debe presentarse en forma global y desglosada en tablas los cuales dan cuenta del presupuesto global, personal, bienes y equipos, materiales y suministros, bibliografía, servicios técnicos, software, salidas de campo, eventos científicos Y publicaciones. Así como se describieron en los términos de referencia."
                            required></textarea>
                              
                            </div>
                         </div>
                         <div class="field ">
                          <label for="title"style="font-weight: bold;">13. REFERENTES BIBLIOGRÁFICOS </label>
                            <div class="p-inputgroup" style="margin-bottom: 10px;">
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <textarea rows="7" cols="30" [style]="{'border-radius':'10px'}" 
                              pInputTextarea [autoResize]="true" title="referencia bibliograficas"
                            name="bibliographical_references" formControlName="bibliographical_references"
                            placeholder="En la bibliografía se registran las obras que tratan del tema, implícita o explícitamente, no es recomendable citar obras de cultura general, como enciclopedias, diccionarios, etc. La presentación de las referencias debe seguir las normas APA (American Psychological Association)."
                            required></textarea>
                              
                            </div>
                         </div>

                          <ng-template pTemplate="footer">
                            <div class="grid grid-nogutter justify-content-between">
                              <p-button label="Atras" [disabled]="form.value.TeacherId == ''" 
                              (onClick)="activeIndex = 2" icon="pi pi-angle-left"></p-button>
                          </div>
                        </ng-template>
                    </p-card>
              </div>
            </ng-template>
            </div>
            </div>
            

      
          </div>

          <br>
    <ng-template [ngIf]="bandera == false">

        <br>
          <div fxLayout="row" class="titleCard"style="margin-top: -20px;">
            <button pButton type="button" type="submit"  icon="pi pi-check" [disabled]="!form.valid"
            class="p-button-success p-button-raised p-button-rounded" label="Enviar Registro" styleClass="mr-2"></button>
          <!-- <p-button (click)="Dialog=true" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button> -->
      </div>
    </ng-template>
    <ng-template [ngIf]="bandera == true">
      <br>
        <p-progressBar mode="indeterminate"  [style]="{'height': '6px'}"></p-progressBar>
    
    </ng-template>
       
          <!-- <div fxLayout="row" class="titleCard">
              <i class="pi pi-credit-card" style="font-size: 2rem;margin-right: 10px;"></i>
            <h2 class="fondebabutton" style="margin-top: -1px;">Registrar Semillero</h2>
          </div> -->

      
       
       
      </div>
  
          <!-- <ng-template pTemplate="footer">
            <br> -->
              
          <!-- </ng-template> -->
          
              
  </p-dialog>

</form>
<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>

<p-dialog [(visible)]="Dialog" 
[style]="{'height': '18vw','width': '25vw'}"[resizable]="false" zindex="10000"
 [showHeader]="false" [closeOnEscape]="false" [closable]="false"
[modal]="true" >

    <div class="flex flex-column " style="flex: 1">
        <div class="text-center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
            <h4>Esta Seguro de Cerrar la Ventana?</h4>
            <p>Si para continuar</p>
        </div>
    </div>

  <ng-template pTemplate="footer" class="titleCard" >
    <div style="text-align: center;">
      <button pButton pRipple label="No" icon="pi pi-times" style="color: rgb(31, 45, 64);" 
      class="p-button-text" (click)="Dialog = false"></button>
      <button pButton pRipple label="Si"  style="background: #f16357" 
      class=" p-button-raised p-button-rounded" 
      icon="pi pi-check"  (click)="cerrar()"  ></button>
    </div>
  </ng-template>
</p-dialog>

  </ng-template>