<!-- <br>
<br>
<mat-card>
  <div fxLayout="row" class="titleCard">
    <mat-icon class="fondebabutton">
      credit_card
    </mat-icon>
    <mat-card-title class="fondebabutton">Ingresar Proyecto de Investigacion</mat-card-title>
  </div>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" fxLayout="column" class="tittleForm">
      <mat-card-content fxLayout="column wrap" >

                      <mat-form-field>
                        <input matInput type="text" placeholder="Nombre" formControlName="name" required>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Tipo de Proyecto</mat-label>
                        <mat-select formControlName="ProjetTypeId" required>
                          <mat-option *ngFor="let de of projetTypes" [value]="de.id">{{ de.name | titlecase}} </mat-option>
                        </mat-select>
                      </mat-form-field>
        </mat-card-content>
  
        <mat-card-actions>
          <button type="submit" [disabled]="!this.form.valid" mat-button color="primary">Crear Proyecto de Investigacion</button>
        </mat-card-actions>
    </form>

</mat-card> -->
a