<div class="caption">
  <div class="flex align-items-center justify-content-center pl-5 pr-5">  
      <div class="grid p-fluid" style="padding: 10px;">
        <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2">
          <img alt="logo" src="{{image}}" 
          style="width: 100%"/>
        </div>

        <div style="border: 1px solid black;"class="col-8 md:col-8 lg:col-8 pt-4">
          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
          [options]="headquarters" [filter]="true"
              [(ngModel)]="HeadquarterId"
              label="SELECCIONE SEDE" 
            [style]="{'width':'100%','margin-bottom':'20px'}"
            optionvalue="id" optionLabel="name"  filterBy="name"
            [required]="true" placeholder="SELECCIONE SEDE" (click)="getHeadquarter($event)">
            <ng-template let-option pTemplate="item"  >
              <span >{{option.name  | titlecase}} -
                {{option.University?.name  | titlecase}}</span>
          </ng-template>
          </p-dropdown>
        </div>

        <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2">
          <img alt="logo" src="{{image2}}" 
          style="width: 100%"/>
        </div>
      </div>  
 
    </div>
  </div>


<p-table  #dt2 [value]="programs" responsiveLayout="scroll" dataKey="id" id="todo"
[paginator]="true" [rows]="5" [showCurrentPageReport]="true"  
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
   [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
    [filterDelay]="0" selectionMode="multiple" [(selection)]="selectedProducts" 
    [globalFilterFields]="['id','name','Faculty.name','Faculty.Administrative.User.fullName','Category.name','createdAt']"
    [columns]="cols"
   ><!-- styleClass="p-datatable-gridlines" -->
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <i class="pi pi-database mr-2" style="font-size: 2rem"></i><h2>Programas</h2>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" style="border-bottom: 1px solid rgba(35, 35, 223, 0.534) ;" 
            (input)="Buscar($event, dt2)" placeholder="Buscar la palabra clave.." />
        </span> 
        
       
          <div class="mb-3 ml-3 mt-3">

            <button type="button" pButton pRipple icon="pi pi-file" (click)="dt2.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="gerenratePdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt2.exportCSV({selectionOnly:true})" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
        </div>

          <!-- <p-button icon="pi pi-refresh"></p-button> -->
      </div>

      
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <ng-template [ngIf]="mostrar==3">
          <th style="width: 3rem"></th>
        </ng-template> 
      
          <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="name">NOMBRE<p-sortIcon field="name"></p-sortIcon></th>
          <ng-template [ngIf]="mostrar!=3">

          <th style="min-width:150px" pSortableColumn="Sedes">SEDES<p-sortIcon field="Sedes"></p-sortIcon></th>
          <th pSortableColumn="LinePrograms">LINEAS<p-sortIcon field="LinePrograms"></p-sortIcon></th>
 
        </ng-template>
          <th pSortableColumn="Faculty.name">FACULTAD<p-sortIcon field="Faculty.name"></p-sortIcon></th>

          <th pSortableColumn="Category.name">CATEGORIA<p-sortIcon field="Category.name"></p-sortIcon></th>

          <!-- <th pSortableColumn="createdAt">FECHACREAT<p-sortIcon field="createdAt"></p-sortIcon></th> -->
          <ng-template [ngIf]="mostrar != 0 && mostrar != 3">
            <th > ACCIONES </th>
          </ng-template>
      </tr>
  </ng-template>

    <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
      <tr [pSelectableRow]="rowData">
        <ng-template [ngIf]="mostrar==3">
          <td>
              <button type="button" pButton pRipple [pRowToggler]="item" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
        </ng-template> 
       
          <td>{{item.id}}</td>
          <td>{{item.name | titlecase}}</td>
          <ng-template [ngIf]="mostrar!=3">
          <td style="min-width:150px">
            <span *ngFor="let i of item.HeadquarterPrograms">
              <span style="display: flex;">
                * {{i.Headquarter.name}} 
              </span>
            </span>
          </td>
          <td >
            <span *ngFor="let i of item.LinePrograms" >
              <span style="display: flex;" >
                * {{i.Line.name | titlecase}}
              </span>
            </span>
          </td>
          </ng-template>
          <td>{{item.Faculty.name | titlecase}}</td>
          <td>{{item.Category.name| titlecase}}</td>
          <!-- <td>{{item.createdAt | date:'fullDate' | titlecase}}</td> -->
          <ng-template [ngIf]="mostrar==1">
              
              <td >
                <button pButton pRipple  type="button"class="editar" title="Editar" 
                  icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="editar(item.id)"></button>
              </td>
          
          </ng-template>
          <ng-template [ngIf]="mostrar==2">
            
              <td >
                <button pButton pRipple  type="button" title="Eliminar" 
                  icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delet(item.id)"></button>
              </td>
          
          </ng-template>
          <ng-template [ngIf]="mostrar==4">
            
            <td >
              <button pButton pRipple  type="button" title="Vincular linea" 
                icon="pi pi-chevron-circle-right" class="p-button-rounded p-button-success" 
                (click)="vincular(item.id)"></button>
            </td>
        
        </ng-template>
          
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="6" style="text-align: center;">
            <h3>No hay registros encontrados</h3>
          </td>
      </tr>
  </ng-template>

  
    <ng-template pTemplate="rowexpansion" let-item>
      <tr>
          <td colspan="7">
              <div >
                  <p-table [value]="item.HeadquarterPrograms"  dataKey="id" [paginator]="true" [rows]="3" 
                  [showCurrentPageReport]="true"  responsiveLayout="scroll"
                  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                   >
                      <ng-template pTemplate="header" >
                          <tr style="background: rgba(0, 255, 255, 0.849);">
                              <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                              <th pSortableColumn="name">Nombre de Sedes<p-sortIcon field="name"></p-sortIcon></th>
                              <th pSortableColumn="cordinatorInvestigation">Cordinador de Investigacion
                                 <p-sortIcon field="cordinatorInvestigation"></p-sortIcon>
                              </th>
                              <th pSortableColumn="University">Universidad<p-sortIcon field="University"></p-sortIcon></th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-order >
                        <tr>
                              <td>{{order.Headquarter.id}}</td>
                              <td>{{order.Headquarter.name | titlecase}}</td>
                              <td>{{order.Headquarter.cordinatorInvestigation }}</td>
                              <td>{{order.Headquarter.University.name | titlecase}}</td>
                          </tr>
                      </ng-template>

                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="6" style="text-align: center;">
                            <h3>No hay registros encontrados</h3>
                          </td>
                      </tr>
                      </ng-template>
                  </p-table>
    <br>

                <p-table [value]="item.LinePrograms"  dataKey="id" [paginator]="true" [rows]="3" 
                [showCurrentPageReport]="true"  responsiveLayout="scroll"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                 >
                    <ng-template pTemplate="header" >
                        <tr style="background: rgba(0, 255, 255, 0.849);">
                            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                            <th pSortableColumn="name">Nombre de Lineas<p-sortIcon field="name"></p-sortIcon></th>
                            <!-- <th pSortableColumn="cordinatorInvestigation">Cordinador de Investigacion
                               <p-sortIcon field="cordinatorInvestigation"></p-sortIcon>
                            </th> -->
                            <th pSortableColumn="Line.resolution">Resolución<p-sortIcon field="Line.resolution"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order >
                      <tr>
                            <td>{{order.Line.id}}</td>
                            <td>{{order.Line.name | titlecase}}</td>
                            <td>{{order.Line.LineDetail?.resolution }}</td>
                            <!-- <td>{{order.University.name | titlecase}}</td> -->
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6" style="text-align: center;">
                          <h3>No hay registros encontrados</h3>
                        </td>
                    </tr>
                    </ng-template>
                </p-table>
            </div>
        </td>
    </tr>
</ng-template>


  <!-- <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        En total hay {{ universitys ? universitys.length : 0 }} universidades.
    </div>
</ng-template> -->
</p-table>