

  table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

th{ 
  font-weight: bold;
  font-size: 18px;}
td{
  text-align:justify;
}

.nohayregistro{
  display:flex;
  padding: 10px;
  justify-content:center;
  align-items:center;
  font-size: 25px;
  height:40px;
  font-weight:lighter;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.editar{
  background:orange;
  color:white;
}
.texto{
  text-align:left;
}

.custom-input-file {
  padding: 10px;
} 
/* .custom-input-file .input-file {
  border: 10000px solid transparent;
  cursor: pointer;
  color: black;
  font-size: 10000px;
  margin: 0;
  opacity: 0px;
  outline: 0 none;
  padding: 5px;
  position: absolute;
  right: -1000px;
  top: -1000px;
 } */ 

 .input-file {
  cursor: pointer;
  width: 100%;
  color: black;
  border: 1px solid transparent;
  background-color: #f16357;
  font-size: 18px;
  overflow: hidden;
  opacity: 0px;
  outline: 0 none;
  padding: 5px;
  border-radius: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-weight:normal;
	/* font-family: 'Lato'; */
  text-overflow: ellipsis;
  white-space: nowrap;


 }