<div class="container">

  <mat-form-field appearance="standard">
    <mat-label>Busqueda</mat-label>
    <input matInput (keyup)="Buscar($event)" #input>
  </mat-form-field>


<div class="table-wrapper">

    <table mat-table [dataSource]="resources" class="mat-elevation-z8" matSort>
      
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef > ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="path">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Path </th>
        <td mat-cell *matCellDef="let element"> {{element.path}}</td>
      </ng-container>
      <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Method </th>
        <td mat-cell *matCellDef="let element"> {{element.method}}</td>
      </ng-container>
      <ng-container matColumnDef="id_padre">
        <th mat-header-cell *matHeaderCellDef > Id Padre </th>
        <td mat-cell *matCellDef="let element"> {{element.id_padre}}</td>
      </ng-container>
      <ng-container matColumnDef="icono">
        <th mat-header-cell *matHeaderCellDef > Icono </th>
        <td mat-cell *matCellDef="let element"> {{element.icono}}</td>
      </ng-container>
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Link </th>
        <td mat-cell *matCellDef="let element"> {{element.link}}</td>
      </ng-container>
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
        <td mat-cell *matCellDef="let element"> {{element.titulo | titlecase}}</td>
      </ng-container>
      <ng-container matColumnDef="Roles">
        <th mat-header-cell *matHeaderCellDef > Roles </th>
        <td mat-cell *matCellDef="let element">
            <ng-template [ngIf]="element.Roles.length > 1">
                <span *ngFor="let item of element.Roles" >
                    {{item.name | titlecase}},  
              </span>
            </ng-template>
            <ng-template [ngIf]="element.Roles.length == 1">
              <span *ngFor="let item of element.Roles" >
                  {{item.name | titlecase}}  
            </span>
          </ng-template>
            </td>
      </ng-container>
    
      <ng-template [ngIf]="mostrar==1">
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef > Acciones </th>
          <td mat-cell *matCellDef="let element">
              <a mat-mini-fab color="link" class="editar" aria-label="" 
              (click)="editar(element.id)">
                <mat-icon>edit</mat-icon>
              </a>
          </td>
        </ng-container>
      </ng-template>
      <ng-template [ngIf]="mostrar==2">
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef > Acciones </th>
          <td mat-cell *matCellDef="let element">
              <a mat-mini-fab color="warn" class="delete" aria-label="" 
              (click)="delet(element.id)">
                <mat-icon>delete</mat-icon>
              </a>
          </td>
        </ng-container>
      </ng-template>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
            <div class="nohayregistro"> 
              No hay registros encontrados
            </div>
          
          </td>
      </tr>
    </table>
  </div>
  <br>
    <mat-paginator [pageSizeOptions]="[5, 10,15,20]" showFirstLastButtons></mat-paginator>
</div>


