<ng-template [ngIf]="tabla == true">
  <app-show-faculties [mostrar]="mostrar" (modificar)="actualizar($event)"></app-show-faculties>
</ng-template>
<ng-template [ngIf]="tabla == false">

  
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '45vw','height': '60vw'}"
  [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"
  [showHeader]="false"   >
  <br>
      
      <div [style]="{'margin-top':'-1px'}" >
          <div fxLayout="row" class="titleCard">
              <i class="pi  pi-pencil" style="font-size: 2rem;margin-right: 10px;"></i>
            <h2 class="fondebabutton" style="margin-top: -1px;">Editar Facultad</h2>
          </div>

          <div class="p-inputgroup" [style]="{'margin-top':'20px'}">
            <span class="p-float-label" [style]="{'width':'100%','margin-bottom':'40px'}">
              <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Nombre"><i class="pi pi-bookmark-fill"></i></span>
              <input type="text" class="p-inputtext-lg" pInputText name="name" 
              placeholder="NOMBRE" formControlName="name"[pKeyFilter]="blockSpecial" required>  
              <label for="inputtext"> <h3 [style]="{'margin-top':'-5px'}">NOMBRE</h3></label>
          </span>       
        </div>
        <div class="flex">
          <div style="width:100%">
        <span class="p-float-label" [style]="{'width':'100%'}">
          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
          formControlName="AdministrativeId" name="AdministrativeId"
          [options]="administratives" [filter]="true" label="SELECCIONE AL DECANO" 
            [style]="{'width':'100%'}"
            optionvalue="UserId"  optionLabel="todo" filterBy="todo"
            [required]="true" placeholder="SELECCIONE AL DECANO">
            <ng-template let-option pTemplate="item">
              <span >{{option.todo}}</span>
          </ng-template>
        </p-dropdown>
          <label for="inputtext"> <h3 [style]="{'margin-top':'-5px'}">DECANATURA</h3></label>
        </span>
        <!-- <p>Valor Cargado: {{form.value.AdministrativeId.User.fullName}}</p> -->
      </div>
      <span class="bottomdelete" style="margin-top: 5px;">
        <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
        class="p-button-rounded p-button-outlined" (click)="addAdministrative($event)" ></button>
      </span>
      </div>
      <br> <br>

        <span class="p-float-label" [style]="{'width':'100%','margin-bottom':'40px'}">
          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
          formControlName="UniversityId" name="UniversityId"
          [options]="universitys" [filter]="true" label="SELECCIONE LA UNIVERSIDAD" 
            [style]="{'width':'100%','margin-bottom':'20px'}"
            optionLabel="name"optionvalue="id" filterBy="name"
            [required]="true" placeholder="SELECCIONE LA UNIVERSIDAD">
            <ng-template let-option pTemplate="item">
              <span >{{option.name }}</span>
          </ng-template>
          </p-dropdown>
          <label for="inputtext"> <h3 [style]="{'margin-top':'-5px'}">UNIVERSIDAD</h3></label>
        </span> 

    </div>
            
        <ng-template pTemplate="footer">
          <br>
            <div fxLayout="row" class="titleCard"style="margin-top: -20px;">
              <button pButton type="button" type="submit"  icon="pi pi-check" [disabled]="!form.valid"
              class="p-button-success p-button-raised p-button-rounded" label="Actualizar Registro" styleClass="mr-2"></button>
            <p-button (click)="volver($event)" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
        </div>
        </ng-template>
          
              
  </p-dialog>
</form>
<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>
</ng-template>
