
<mat-card>
    <div fxLayout="row" class="titleCard">
      <mat-icon >
        credit_card
      </mat-icon>
      <mat-card-title >Ingresar Rol</mat-card-title>
    </div>
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" fxLayout="column" class="tittleForm">
        <mat-card-content fxLayout="column wrap" >
            <div> 
                <div fxLayout="row"  fxLayoutGap="20px">
                    <div> 
                        <mat-form-field>
                          <input matInput type="text" placeholder="Nombre" formControlName="name" required>
                        </mat-form-field>
                      </div>
                  </div>
              </div>
          </mat-card-content>
    
          <mat-card-actions>
            <button type="submit" [disabled]="form.invalid" mat-button color="primary">Crear Rol</button>
          </mat-card-actions>
      </form>

  </mat-card>
  
