<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <ng-template [ngIf]="mostrarDialogo == false">
  <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '40vw'}" 
  [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"  [showHeader]="false"   >
  <br>
      
      <div [style]="{'margin-top':'-1px'}" >
        <div fxLayout="row" class="titleCard">
          <i class="pi pi-credit-card" style="font-size: 2rem;margin-right: 10px;"></i>
        <h2 class="fondebabutton" style="margin-top: -1px;">Registrar Area o Tematica</h2>
      </div>

          <div class="p-inputgroup"  style="margin-bottom: 20px;">
              <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Nombre"><i class="pi pi-bookmark-fill"></i></span>
              <input type="text" class="p-inputtext-lg"
              [pKeyFilter]="blockSpecial" pInputText placeholder="NOMBRE"
              formControlName="name" required>         
          </div>
      </div>
              
      <ng-template pTemplate="footer">
        <br>
        <div fxLayout="row" class="titleCard"style="margin-top: -20px;">
          <button pButton type="button" type="submit"  icon="pi pi-check"   [disabled]="!form.valid"
          class="p-button-success p-button-raised p-button-rounded" 
          label="Enviar Registro" styleClass="mr-2"></button>
        <p-button (click)="displayMaximizable2=false" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
    </div>
    </ng-template>   
  </p-dialog>
</ng-template>
<ng-template [ngIf]="mostrarDialogo == true">
  <br><br>
  <div [style]="{'margin-top':'-1px'}" >
    <div fxLayout="row" class="titleCard">
      <i class="pi pi-credit-card" style="font-size: 2rem;margin-right: 10px;"></i>
    <h2 class="fondebabutton" style="margin-top: -1px;">Registrar Area o Tematica</h2>
  </div>

      <div class="p-inputgroup"  style="margin-bottom: 20px;">
          <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Nombre"><i class="pi pi-bookmark-fill"></i></span>
          <input type="text" class="p-inputtext-lg"
          [pKeyFilter]="blockSpecial" pInputText placeholder="NOMBRE" 
          formControlName="name"required>         
      </div>
  </div>
          
<br>
    <div fxLayout="row" class="titleCard"style="margin-top: -20px;">
      <p-button (click)="cancelar()" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>

      <button pButton type="button" type="submit"  icon="pi pi-check"   [disabled]="!form.valid"
      class="p-button-success p-button-raised p-button-rounded" label="Enviar Registro" styleClass="mr-2">

      </button>
    </div>
</ng-template>
</form>
<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>