<!-- <h1>bienvenido</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque alias atque natus. Error quos, fugiat sequi natus
    modi, officia excepturi ex dolorum adipisci magni temporibus voluptatem exercitationem blanditiis illo quia!</p>
     -->


    <div class="margen grid">
        <ng-template [ngIf]="bandera">
            <div class="col-12 sm:col-12 md:col-8 lg:col-8 xl:col-8 ">
                <div class="imgLogo">
                    <img alt="logo" src="assets/images/logo-uniguajira.png" 
                    width="98%"
                     styleClass="p-button-outlined"class=""/>
                </div>
                
            </div>

        <div class=" col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
            <div >
                
                <div class="titleCard"  >
                    Bienvenido
                </div>

                <div class="titleCard" >
                  <img class="imgLogo2" width="60%" src="{{image3}}" alt=""  styleClass="p-button-outlined">
                </div>
              
            </div>
 
        </div>
    </ng-template>

</div>
    