
<form [formGroup]="form" novalidate >
  <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '60vw','height': '80vw'}" 
  [contentStyle]="{'overflow-y': 'auto'}" [closable]="true" [closeOnEscape]="false"  >

          <div [style]="{'margin-top':'-1px'}" >
            <br>
    
            <div style="border: 1px solid black;padding: 10px;">
    
              <div class="grid p-fluid" style="padding: 10px;">
                <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2">
                  <img alt="logo" src="../../../../../../assets/images/images.jpg" 
                  style="width: 100%"/>
                </div>
    
                <div style="border: 1px solid black;"class="col-8 md:col-8 lg:col-8">
                  <h2 style="text-align: center;">HOJA DE VIDA PARA ESTUDIANTES</h2>
                </div>
    
                <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2">
                  <img alt="logo" src="../../../../../../assets/images/uniguajira_iso.jpg" 
                  style="width: 100%"/>
                </div>
              </div>
             
              <div class="bordep">
                <h3 style="text-align:center;">1. Datos Basicos:</h3>


          <!-- <ng-template [ngIf]="mostrarUser == false">

            <div fxLayout="row" fxLayoutGap="20px"  style="display: flex;justify-content:center;align-items:center">
              <button pButton type="button" (click)="mostrarUser=true" 
              class="p-button-success p-button-raised p-button-rounded"
               label="Add Usuario"></button>  
            </div>
            <br>
            <div class="grid p-fluid">
              <div class="col-12 ">
                <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
              [options]="users" [filter]="true"
                name="UserId" formControlName="UserId" label="SELECCIONE USUARIO" 
                [style]="{'width':'100%','margin-bottom':'20px'}"  
                optionvalue="id"  optionLabel="name" filterBy="name"
                 placeholder="SELECCIONE USUARIO" title="SELECCIONE USUARIO">
                <ng-template let-option pTemplate="item">
                  <span >{{option.name  | titlecase}} - {{option.surname  | titlecase}}
                    cc: {{option.identification }} - 
                  </span>
              </ng-template>
              </p-dropdown>
  
              </div>
            </div>
          </ng-template> -->

          <!-- <ng-template [ngIf]="mostrarUser == true"> -->
            <!-- <div fxLayout="row" fxLayoutGap="20px"  style="display: flex;justify-content:center;align-items:center">
              <button pButton type="button" (click)="mostrarUser=false"
              class="p-button-info p-button-raised p-button-rounded"
               label="Volver"></button>  
            </div> -->

              <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="text" class="p-inputtext-lg" pInputText name="name" 
                    placeholder="NOMBRE" formControlName="name" title="NOMBRES" >         
                </div>
                </div>
                
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup" >
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                    class="p-inputtext-lg"  name="surname" placeholder="APELLIDOS" title="APELLIDO"
                    formControlName="surname">         
                </div>
                </div>
    
              </div>

              <div class="grid p-fluid" [style]="{'margin-top':'-20px'}" >
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="date" class="p-inputtext-lg" pInputText name="date_of_birth" 
                    placeholder="FECHA DE NACIMIENTO" formControlName="date_of_birth" title="FECHA DE NACIMIENTO" required>         
                </div>
                </div>
                
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup" >
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                    class="p-inputtext-lg"  name="nationality" placeholder="NACIONALIDAD" title="NACIONALIDAD"
                    formControlName="nationality" required  >         
                </div>
                </div>
    
              </div>
    
              
              <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-6">
                  <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                [options]="genders" [filter]="true" formControlName="GenderId" label="SELECCIONE EL GENERO" 
                  [style]="{'width':'100%','margin-bottom':'20px'}" 
                  optionvalue="id"  optionLabel="name" filterBy="name"
                   placeholder="SELECCIONE EL GENERO" title="SELECCIONE EL GENERO">
                  <ng-template let-option pTemplate="item">
                    <span >{{option.name }}</span>
                </ng-template>
                </p-dropdown>
    
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="email" class="p-inputtext-lg" pInputText name="email" formControlName="email"
                    placeholder="CORREO"  title="CORREO ELECTRONICO">         
                </div>
    
                </div>
    
              </div>
    
    
    
              <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-6">
                  <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                  [options]="documentTypes" [filter]="true"
                    name="DocumentTypeId" formControlName="DocumentTypeId" label="TIPO DE DOCUMENTO" 
                    [style]="{'width':'100%','margin-bottom':'20px'}" 
                    optionvalue="id"  optionLabel="name" filterBy="name"
                     placeholder="TIPO DE DOCUMENTO" title="TIPO DE DOCUMENTO">
                    <ng-template let-option pTemplate="item">
                      <span >{{option.name}}</span>
                  </ng-template>
                  </p-dropdown>
                </div>
                
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input class="p-inputtext-lg" formControlName="identification" 
                    type="text" pInputText pKeyFilter="num" name="identification" 
                    placeholder="IDENTIFICACIÓN"  title="IDENTIFICACIÓN">         
                </div>
    
                </div>
    
              </div>
    
              <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-6">
                  
                  <div class="p-inputgroup" >
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                    class="p-inputtext-lg"  name="address" placeholder="DIRECCIÓN" formControlName="address"
                      title="DIRECCION" >         
                </div>
    
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input class="p-inputtext-lg" type="text" formControlName="phone"
                    pInputText pKeyFilter="num" name="phone" 
                    placeholder="TELEFONO" title="TELEFONO"
                    >         
                </div>
    
                </div>
    
              </div>
         
          <!-- </ng-template> -->
              </div>

              <div class="bordep">
                <h3 style="text-align:center;">2. Datos Secundarios:</h3>

                <div class="grid p-fluid">
                  <div class="col-12 md:col-6 lg:col-6">
                    
                    <div class="p-inputgroup" >
                      <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                      <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                      class="p-inputtext-lg"  name="current_semester" placeholder="SEMESTRE ACTUAL" 
                      formControlName="current_semester" required
                        title="SEMESTRE ACTUAL" >         
                  </div>
      
                  </div>
                  <div class="col-12 md:col-6 lg:col-6">
                    <div class="p-inputgroup"  style="margin-bottom: 20px;">
                      <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                      <input class="p-inputtext-lg" type="text" formControlName="current_average"
                      pInputText pKeyFilter="num" name="current_average" 
                      placeholder="PROMEDIO ACTUAL" title="PROMEDIO ACTUAL" required
                      >         
                  </div>
      
                  </div>
      
                </div>
               
                <div fxLayout="row" fxLayoutGap="20px" 
                style="display: flex;justify-content:center;align-items:center" >
                  <button pButton type="button" (click)="addRoles($event)" 
                  class="p-button-warning p-button-raised p-button-rounded"
                   label="Add Sedes y Programa"></button>  
                </div>
      
                <div fxLayout="row" fxLayoutGap="20px">
                  <div class="table-wrapper" >
                    <p-table [value]="algo" *ngIf="mostrar == true"> 
                      <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="id">Sedes y Programas<p-sortIcon field="id"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                      <tr [pSelectableRow]="rowData">
                          <td>
                            <div formArrayName="headquarterProgramStudent"> 
                              <div *ngFor="let item of getRoles.controls; 
                              let pointIndex=index" [formGroupName]="pointIndex">
                                <div class="grupo"> 
                                  <div class="grupoinput1">
                                    <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                    [options]="headquarterProgram" [filter]="true"
                                        formControlName="HeadquarterProgramId" name="HeadquarterProgramId"
                                       label="SELECCIONE SEDE Y PROGRAMA" 
                                      [style]="{'width':'100%','margin-bottom':'20px'}"
                                      optionvalue="id" optionLabel="name"  filterBy="name"
                                      [required]="true" placeholder="SELECCIONE SEDE Y PROGRAMA"  >
                                      <ng-template let-option pTemplate="item"  >
                                        <span >Sede: {{option.Sede  | titlecase}} -
                                          Programa: {{option.Programa  | titlecase}}</span>
                                    </ng-template>
                                    </p-dropdown>
                                  </div>
                                  
                                <span class="bottomdelete" style="margin-top: 5px;">
                                  <button pButton pRipple type="button" icon="pi pi-times" (click)="removeRoles(pointIndex,$event)"  
                                  class="p-button-rounded p-button-danger"></button>
                                  <!-- <button pButton type="button" class="p-button-danger p-button-raised p-button-rounded"
                                  (click)="removeRoles(pointIndex,$event)" 
                                  label="eliminar"></button> -->
                                </span>
                                
                              </div>
                              </div>
                            </div> 
                          </td>
                      </tr>
                    </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
              <div  style="border: 1px solid black;padding: 10px;">
                <h3 style="text-align:center;">3. Datos Adicionales</h3>
                <div class="bordep">
                  <h4 style="text-align:left;">3.1. Experiencia Investigativa y Participación en Proyectos de Investigación. </h4>
                  <div class="p-inputgroup" style="margin-bottom: 10px;">
                    <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                    pInputTextarea [autoResize]="true"
                    formControlName="experienciaInvestigativa" placeholder="ESCRIBIR "  ></textarea>
                  </div>                    
                </div>

                <div class="bordep">
                  <h4 style="text-align:left;">3.2. Áreas y/o Temáticas de Estudio  </h4>
                  <div class="p-inputgroup" style="margin-bottom: 10px;">
                    <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                    pInputTextarea [autoResize]="true"
                    formControlName="areasEstudio" placeholder="ESCRIBIR "  ></textarea>
                  </div>                    
                </div>

                <!-- <div class="bordep">
                  <h4 style="text-align:left;">3.3. Líneas de Investigación del Grupo y/0 Semillero </h4>
                  <div class="p-inputgroup" style="margin-bottom: 10px;">
                    <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                    pInputTextarea [autoResize]="true"
                    formControlName="tiulosAcademicos" placeholder="ESCRIBIR "  ></textarea>
                  </div>                    
                </div> -->

                <div class="bordep">
                  <h4 style="text-align:left;">3.4. Publicaciones recientes en las que ha participado.</h4>
                  <div class="p-inputgroup" style="margin-bottom: 10px;">
                    <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                    pInputTextarea [autoResize]="true"
                    formControlName="publicacionesResientes" placeholder="ESCRIBIR "  ></textarea>
                  </div>                    
                </div>

                <div style="border: 1px solid black;padding: 10px">
                  <h4 style="text-align:left;">3.4. Prácticas o pasantías que haya realiza.</h4>
                  <div class="p-inputgroup" style="margin-bottom: 10px;">
                    <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                    pInputTextarea [autoResize]="true"
                    formControlName="practicas" placeholder="ESCRIBIR "  ></textarea>
                  </div>                    
                </div>

              </div>
            </div>
       

      </div>
      <br>

              <div fxLayout="row" class="titleCard" >
                <button pButton type="button" type="button" (click)="onSubmit($event)" [disabled]="!form.valid"
                 icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded" 
                 label="Enviar Registro" styleClass="mr-2"></button>
              <p-button (click)="displayMaximizable2=false" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
          </div>
         
          
              
  </p-dialog>
</form>
<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>