<form [formGroup]="form" novalidate   enctype="multipart/form-data" >
  <ng-template [ngIf]="mostrarDialogo == false">

  <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '70vw','height': '70vw'}" 
  [contentStyle]="{'overflow-y': 'auto'}"
  
  [closable]="false" [closeOnEscape]="false" 
  [showHeader]="false"   >
      <br>
      
      <div [style]="{'margin-top':'-1px'}" >
          <div fxLayout="row" class="titleCard">
              <i class="pi pi-credit-card" style="font-size: 2rem;margin-right: 10px;"></i>
            <h2 class="fondebabutton" style="margin-top: -1px;">Registrar Administrativo</h2>
          </div>
          <ng-template [ngIf]="mostrarUser == false">

            <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 20px;text-align: center">
              <button pButton type="button" (click)="mostrarUser=true" 
              class="p-button-success p-button-raised p-button-rounded"
               label="Add Usuario"></button>  
            </div>

            <div class="grid p-fluid">
              <div class="col-12 ">
                <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
              [options]="users" [filter]="true"
                name="UserId" formControlName="UserId" label="SELECCIONE USUARIO" 
                [style]="{'width':'100%','margin-bottom':'20px'}"  
                optionvalue="id"  optionLabel="name" filterBy="name"
                 placeholder="SELECCIONE USUARIO" title="SELECCIONE USUARIO">
                <ng-template let-option pTemplate="item">
                  <span >{{option.name  | titlecase}} - {{option.surname  | titlecase}}
                    cc: {{option.identification }} - 
                  </span>
              </ng-template>
              </p-dropdown>
  
              </div>
            </div>
          </ng-template>

          <ng-template [ngIf]="mostrarUser == true">
            <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 20px;text-align: center;">
              <button pButton type="button" (click)="mostrarUser=false"
              class="p-button-info p-button-raised p-button-rounded"
               label="Volver"></button>  
            </div>
            <p-card header="Datos Basicos">

              <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="text" class="p-inputtext-lg" pInputText name="name" 
                    placeholder="NOMBRE" formControlName="name" title="NOMBRES" required >         
                </div>
                </div>
                
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup" >
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                    class="p-inputtext-lg"  name="surname" placeholder="APELLIDOS" title="APELLIDO"
                    formControlName="surname" required>         
                </div>
                </div>
    
              </div>
              <!-- <div class="grid p-fluid" [style]="{'margin-top':'-20px'}" >
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="date" class="p-inputtext-lg" pInputText name="date_of_birth" 
                    placeholder="FECHA DE NACIMIENTO" formControlName="date_of_birth" title="FECHA DE NACIMIENTO" required>         
                </div>
                </div>
                
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup" >
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                    class="p-inputtext-lg"  name="nationality" placeholder="NACIONALIDAD" title="NACIONALIDAD"
                    formControlName="nationality" required  >         
                </div>
                </div>
    
              </div> -->
              
              <!-- <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="field">
                    <div class="flex">
                      <div style="width:100%">
                        <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                        [options]="genders" [filter]="true" formControlName="GenderId" label="SELECCIONE EL GENERO" 
                          [style]="{'width':'100%'}" 
                          optionvalue="id"  optionLabel="name" filterBy="name"
                           placeholder="SELECCIONE GENERO" title="SELECCIONE GENERO">
                          <ng-template let-option pTemplate="item">
                            <span >{{option.name }}</span>
                        </ng-template>
                        </p-dropdown>
                      </div>
                      <span class="bottomdelete" style="margin-top: -35px;">
                        <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                        class="p-button-rounded p-button-outlined" (click)="addGenero($event)" ></button>
                      </span>

                    </div>
           
                </div>
    
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="email" class="p-inputtext-lg" pInputText name="email" formControlName="email"
                    placeholder="CORREO"  title="CORREO ELECTRONICO">         
                </div>
    
                </div>
    
              </div> -->
    
    
    
              <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-6">
                  <!-- <div class="field">
                    <div class="flex">
                      <div style="width:100%">
                    <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                    [options]="documentTypes" [filter]="true"
                      name="DocumentTypeId" formControlName="DocumentTypeId" label="TIPO DE DOCUMENTO" 
                      [style]="{'width':'100%'}" 
                      optionvalue="id"  optionLabel="name" filterBy="name"
                       placeholder="SELECCIONE TIPO DE DOCUMENTO" title="SELECCIONE TIPO DE DOCUMENTO">
                      <ng-template let-option pTemplate="item">
                        <span >{{option.name}}</span>
                    </ng-template>
                    </p-dropdown>
                    </div>
                    <span class="bottomdelete" style="margin-top: -35px;">
                      <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                      class="p-button-rounded p-button-outlined" (click)="addTipoDocumento($event)" ></button>
                    </span>
                  </div>
            
                  </div> -->
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="email" class="p-inputtext-lg" pInputText name="email" formControlName="email"
                    placeholder="CORREO"  title="CORREO ELECTRONICO" required>         
                </div>
                  <!-- <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                  [options]="documentTypes" [filter]="true"
                    name="DocumentTypeId" formControlName="DocumentTypeId" label="TIPO DE DOCUMENTO" 
                    [style]="{'width':'100%','margin-bottom':'20px'}" 
                    optionvalue="id"  optionLabel="name" filterBy="name"
                     placeholder="TIPO DE DOCUMENTO" title="TIPO DE DOCUMENTO">
                    <ng-template let-option pTemplate="item">
                      <span >{{option.name}}</span>
                  </ng-template>
                  </p-dropdown> -->
                </div>
                
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input class="p-inputtext-lg" formControlName="identification" 
                    type="text" pInputText pKeyFilter="num" name="identification" 
                    placeholder="IDENTIFICACIÓN"  title="IDENTIFICACIÓN">         
                </div>
    
                </div>
    
              </div>
    
              <!-- <div class="grid p-fluid">
                <div class="col-12 md:col-6 lg:col-6">
                  
                  <div class="p-inputgroup" >
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                    class="p-inputtext-lg"  name="address" placeholder="DIRECCIÓN" formControlName="address"
                      title="DIRECCION" >         
                </div>
    
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="p-inputgroup"  style="margin-bottom: 20px;">
                    <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                    <input class="p-inputtext-lg" type="text" formControlName="phone"
                    pInputText pKeyFilter="num" name="phone" 
                    placeholder="TELEFONO" title="TELEFONO"
                    >         
                </div>
    
                </div>
    
              </div> -->
    
             
              
          </p-card>
          <br>
          </ng-template>
          
             
                <div class="grid p-fluid">
                  <div class="col-12 md:col-6 lg:col-6">
                    <div class="field">
                      <!-- <label for="name"style="font-weight: bold;">GENERO</label> -->
                      <div class="flex">
                        <div style="width:100%">
                          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                          [options]="charges" [filter]="true"
                          name="ChargeId" formControlName="ChargeId" label="SELECCIONE CARGO" 
                          [style]="{'width':'100%','margin-bottom':'10px'}"  
                          optionvalue="id"  optionLabel="name" filterBy="name"
                          [required]="true" placeholder="SELECCIONE CARGO" title="SELECCIONE CARGO">
                          <ng-template let-option pTemplate="item">
                            <span >{{option.name | titlecase}}</span>
                        </ng-template>
                          </p-dropdown>
                        </div>
                        <span class="bottomdelete" style="margin-top: -35px;">
                          <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                          class="p-button-rounded p-button-outlined" (click)="addOcupacion($event)" ></button>
                        </span>
  
                      </div>
             
                  </div>
                    <!-- <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                  [options]="ocupations" [filter]="true"
                    name="OcupationId" formControlName="OcupationId" label="SELECCIONE OCUPACIÓN" 
                    [style]="{'width':'100%','margin-bottom':'10px'}"  
                    optionvalue="id"  optionLabel="name" filterBy="name"
                    [required]="true" placeholder="SELECCIONE OCUPACIÓN" title="SELECCIONE OCUPACIÓN">
                    <ng-template let-option pTemplate="item">
                      <span >{{option.name | titlecase}}</span>
                  </ng-template>
                  </p-dropdown> -->
      
                  </div>
                  
                  <div class="col-12 md:col-6 lg:col-6">
                    <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                  [options]="headquarters" [filter]="true"
                    name="HeadquarterId" formControlName="HeadquarterId" label="SELECCIONE LA SEDE" 
                    [style]="{'width':'100%','margin-bottom':'10px'}"
                    optionvalue="id"  optionLabel="name" filterBy="name"
                    [required]="true" placeholder="SELECCIONE LA SEDE" title="SEDE">
                    <ng-template let-option pTemplate="item">
                      <span >{{option.name | titlecase}} - {{option.University.name | titlecase}}</span>
                  </ng-template>
                  </p-dropdown>
      
                  </div>
      
                </div>
      </div>

            <br>
            <div fxLayout="row" class="titleCard">
              <button pButton type="submit" (click)="onSubmit($event)" [disabled]="!form.valid"
               icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded" 
               label="Enviar Registro" styleClass="mr-2"></button>
            <p-button (click)="displayMaximizable2=false" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
        </div>
       
        
            
</p-dialog>
</ng-template>
<ng-template [ngIf]="mostrarDialogo == true">
  <br>
  <div [style]="{'margin-top':'-1px'}" >
    <div fxLayout="row" class="titleCard">
        <i class="pi pi-credit-card" style="font-size: 2rem;margin-right: 10px;"></i>
      <h2 class="fondebabutton" style="margin-top: -1px;">Registrar Administrativo</h2>
    </div>
    <ng-template [ngIf]="mostrarUser == false">

      <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 20px;text-align: center">
        <button pButton type="button" (click)="mostrarUser=true" 
        class="p-button-success p-button-raised p-button-rounded"
         label="Add Usuario"></button>  
      </div>

      <div class="grid p-fluid">
        <div class="col-12 ">
          <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
        [options]="users" [filter]="true"
          name="UserId" formControlName="UserId" label="SELECCIONE USUARIO" 
          [style]="{'width':'100%','margin-bottom':'20px'}"  
          optionvalue="id"  optionLabel="name" filterBy="name"
           placeholder="SELECCIONE USUARIO" title="SELECCIONE USUARIO">
          <ng-template let-option pTemplate="item">
            <span >{{option.name  | titlecase}} - {{option.surname  | titlecase}}
              cc: {{option.identification }} - 
            </span>
        </ng-template>
        </p-dropdown>

        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="mostrarUser == true">
      <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 20px;text-align: center;">
        <button pButton type="button" (click)="mostrarUser=false"
        class="p-button-info p-button-raised p-button-rounded"
         label="Volver"></button>  
      </div>
      <p-card header="Datos Basicos">

        <div class="grid p-fluid">
          <div class="col-12 md:col-6 lg:col-6">
            <div class="p-inputgroup"  style="margin-bottom: 20px;">
              <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
              <input type="text" class="p-inputtext-lg" pInputText name="name" 
              placeholder="NOMBRE" formControlName="name" title="NOMBRES"required >         
          </div>
          </div>
          
          <div class="col-12 md:col-6 lg:col-6">
            <div class="p-inputgroup" >
              <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
              <input type="text" pInputText [pKeyFilter]="blockSpecial" 
              class="p-inputtext-lg"  name="surname" placeholder="APELLIDOS" title="APELLIDO"
              formControlName="surname" required>         
          </div>
          </div>

        </div>
        <!-- <div class="grid p-fluid" [style]="{'margin-top':'-20px'}" >
          <div class="col-12 md:col-6 lg:col-6">
            <div class="p-inputgroup"  style="margin-bottom: 20px;">
              <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
              <input type="date" class="p-inputtext-lg" pInputText name="date_of_birth" 
              placeholder="FECHA DE NACIMIENTO" formControlName="date_of_birth" title="FECHA DE NACIMIENTO" required>         
          </div>
          </div>
          
          <div class="col-12 md:col-6 lg:col-6">
            <div class="p-inputgroup" >
              <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
              <input type="text" pInputText [pKeyFilter]="blockSpecial" 
              class="p-inputtext-lg"  name="nationality" placeholder="NACIONALIDAD" title="NACIONALIDAD"
              formControlName="nationality" required  >         
          </div>
          </div>

        </div> -->
        
        <!-- <div class="grid p-fluid">
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <div class="flex">
                <div style="width:100%">
                  <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                  [options]="genders" [filter]="true" formControlName="GenderId" label="SELECCIONE EL GENERO" 
                    [style]="{'width':'100%'}" 
                    optionvalue="id"  optionLabel="name" filterBy="name"
                     placeholder="SELECCIONE GENERO" title="SELECCIONE GENERO">
                    <ng-template let-option pTemplate="item">
                      <span >{{option.name }}</span>
                  </ng-template>
                  </p-dropdown>
                </div>
                <span class="bottomdelete" style="margin-top: -35px;">
                  <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                  class="p-button-rounded p-button-outlined" (click)="addGenero($event)" ></button>
                </span>

              </div>
     
          </div>

          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="p-inputgroup"  style="margin-bottom: 20px;">
              <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
              <input type="email" class="p-inputtext-lg" pInputText name="email" formControlName="email"
              placeholder="CORREO"  title="CORREO ELECTRONICO">         
          </div>

          </div>

        </div> -->



        <div class="grid p-fluid">
          <div class="col-12 md:col-6 lg:col-6">


            <div class="p-inputgroup"  style="margin-bottom: 20px;">
              <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
              <input type="email" class="p-inputtext-lg" pInputText name="email" formControlName="email"
              placeholder="CORREO"  title="CORREO ELECTRONICO" required>         
          </div>


          </div>
          
          <div class="col-12 md:col-6 lg:col-6">
            <div class="p-inputgroup"  style="margin-bottom: 20px;">
              <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
              <input class="p-inputtext-lg" formControlName="identification" 
              type="text" pInputText pKeyFilter="num" name="identification" 
              placeholder="IDENTIFICACIÓN"  title="IDENTIFICACIÓN">         
          </div>

          </div>

        </div>


       
        
    </p-card>
    <br>
    </ng-template>
    
       
          <div class="grid p-fluid">
            <div class="col-12 md:col-6 lg:col-6">
              <div class="field">
                <!-- <label for="name"style="font-weight: bold;">GENERO</label> -->
                <div class="flex">
                  <div style="width:100%">
                    <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                    [options]="charges" [filter]="true"
                    name="ChargeId" formControlName="ChargeId" label="SELECCIONE CARGO" 
                    [style]="{'width':'100%','margin-bottom':'10px'}"  
                    optionvalue="id"  optionLabel="name" filterBy="name"
                    [required]="true" placeholder="SELECCIONE CARGO" title="SELECCIONE CARGO">
                    <ng-template let-option pTemplate="item">
                      <span >{{option.name | titlecase}}</span>
                  </ng-template>
                    </p-dropdown>
                  </div>
                  <span class="bottomdelete" style="margin-top: -35px;">
                    <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                    class="p-button-rounded p-button-outlined" (click)="addOcupacion($event)" ></button>
                  </span>

                </div>
       
            </div>
              <!-- <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
            [options]="ocupations" [filter]="true"
              name="OcupationId" formControlName="OcupationId" label="SELECCIONE OCUPACIÓN" 
              [style]="{'width':'100%','margin-bottom':'10px'}"  
              optionvalue="id"  optionLabel="name" filterBy="name"
              [required]="true" placeholder="SELECCIONE OCUPACIÓN" title="SELECCIONE OCUPACIÓN">
              <ng-template let-option pTemplate="item">
                <span >{{option.name | titlecase}}</span>
            </ng-template>
            </p-dropdown> -->

            </div>
            
            <div class="col-12 md:col-6 lg:col-6">
              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
            [options]="headquarters" [filter]="true"
              name="HeadquarterId" formControlName="HeadquarterId" label="SELECCIONE LA SEDE" 
              [style]="{'width':'100%','margin-bottom':'10px'}"
              optionvalue="id"  optionLabel="name" filterBy="name"
              [required]="true" placeholder="SELECCIONE LA SEDE" title="SEDE">
              <ng-template let-option pTemplate="item">
                <span >{{option.name | titlecase}} - {{option.University.name | titlecase}}</span>
            </ng-template>
            </p-dropdown>

            </div>

          </div>
</div>
<br>

<div fxLayout="row" class="titleCard"style="margin-top: -10px;">
  <p-button (click)="cancelar()" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>

  <button pButton type="submit" (click)="onSubmit($event)" [disabled]="!form.valid"
               icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded" 
               label="Enviar Registro" styleClass="mr-2"></button>
</div>
</ng-template>
</form>
<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>