<!-- 
<mat-card>
  <div fxLayout="row" class="titleCard">
    <mat-icon class="fondebabutton">
      credit_card
    </mat-icon>
    <mat-card-title class="fondebabutton">Ingresar Programas</mat-card-title>
  </div>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" fxLayout="column" class="tittleForm">
      <mat-card-content fxLayout="column wrap" >
          
                      <mat-form-field>
                        <input matInput type="text" placeholder="Nombre" formControlName="name" required>
                      </mat-form-field>
                      
                    <mat-form-field>
                      <mat-label>Facultad</mat-label>
                      <mat-select formControlName="FacultyId" required>
                        <mat-option *ngFor="let fac of faculties" [value]="fac.id">{{ fac.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Categoria</mat-label>
                      <mat-select formControlName="CategoryId" required>
                        <mat-option *ngFor="let fac of categorys" [value]="fac.id">{{ fac.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  
        </mat-card-content>
  
        <mat-card-actions>
          <button type="submit" [disabled]="!this.form.valid" mat-button color="primary">Crear Programa</button>
        </mat-card-actions>
    </form>

</mat-card> -->