<ng-template [ngIf]="tabla == true">
  <app-show-administrative [mostrar]="mostrar" (modificar)="actualizar($event)"></app-show-administrative>
</ng-template>
<ng-template [ngIf]="tabla == false">
  <form [formGroup]="form" novalidate  enctype="multipart/form-data" >
    <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '90%','height': '50vw'}" 
    [contentStyle]="{'overflow-y': 'auto'}"
  
    [closable]="false" [closeOnEscape]="false" 
    [showHeader]="false"   >
    <br>
        
        <div [style]="{'margin-top':'-1px'}" >

          <div style="border: 1px solid black;padding: 10px;">
            
          <div class="grid " style="padding: 5px;">
            <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2 text-center">
              <img alt="logo" src="{{image}}" class="ml-4 mt-1"
              style="width: 50%"/>
            </div>
    
            <div style="border: 1px solid black;"class="col-8 md:col-8 lg:col-8">
              <h2 style="text-align: center;">EDITAR ADMINISTRATIVO</h2>
            </div>
    
            <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2 text-center">
              <!-- <img alt="logo" src="{{image2}}" 
              style="width: 100%"/> -->
              <ng-template [ngIf]="bandera == false">
              <p-button (click)="volver($event)" icon="pi pi-times" 
            [style]="{'border': '1px solid #F16257','border-radius':'5px','width':'auto'}"
            styleClass="p-button-text ml-2 mt-3" label="Cancelar"></p-button>
              </ng-template>
            </div>
          </div>

          <div style="border: 1px solid gray;border-radius:10px;"class="p-4 ">
            <br>
            <!-- <h3>Clickable</h3> -->
          <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
  
          <br>
          <div style="border: 1px solid #F16257;border-radius:10px"class="p-4 ">
  
  
            <ng-template [ngIf]="activeIndex==0">
  
              <div class="stepsdemo-content">
                <p-card>
                  <ng-template pTemplate="subtitle">
                    <div class="text-center">
                      1. DATOS BASICOS
                    </div>
                  </ng-template>
                  <div class="grid">
                    <div class="col-12 sm:col-12 md:col-3 lg:col-3">
                      <div class="text-center">
                        <p-avatar image="{{Avatar}}"  pRipple 
                        [style]="{'width':'200px','height':'210px','border':'2px solid #f16357'}"
                        styleClass="imgLogo2 p-button-rounded p-button-outlined" 
                        size="xlarge" shape="circle"></p-avatar>
                      </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-9 lg:col-9">
                      <div >
                        <div class="grid p-fluid">
                          <div class="col-12 md:col-6 lg:col-6">
                            <div class="field ">
                            <label for="name"style="font-weight: bold;">NOMBRES</label>
                          <div class="p-inputgroup" >
                            <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                            <input type="text" class="p-inputtext-lg" pInputText name="name" 
                               formControlName="name" title="NOMBRES" required >  
            
                          </div>
                            </div>
                          </div>
                          
                          <div class="col-12 md:col-6 lg:col-6">
                            <div class="field ">
                              <label for="name"style="font-weight: bold;">APELLIDO</label>
                            <div class="p-inputgroup" >
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                              class="p-inputtext-lg"  name="surname"  title="APELLIDO" required
                              formControlName="surname">         
                          </div>
                            </div>
                          </div>
              
                        </div>
              
                        
                        <div class="grid p-fluid">
                          <div class="col-12 md:col-6 lg:col-6">
                            <div class="field ">
                              <label for="name"style="font-weight: bold;">EMAIL</label>
                            <div class="p-inputgroup" >
                              <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                              <input type="email" class="p-inputtext-lg" pInputText name="email" formControlName="email"
                              placeholder="CORREO"  title="CORREO ELECTRONICO">         
                          </div>
                            </div>
                          </div>
                          
                          <div class="col-12 md:col-6 lg:col-6">
                            <div class="field ">
                              <label for="name"style="font-weight: bold;"># DOCUMENTO</label>
                            <div class="p-inputgroup" >
                              <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                              <input class="p-inputtext-lg" formControlName="identification" 
                              type="text" pInputText pKeyFilter="num" name="identification" 
                              placeholder="IDENTIFICACIÓN"  title="IDENTIFICACIÓN">         
                          </div>
                            </div>
              
                          </div>
              
                        </div>
              
                       
                      </div>
                    </div>
                  </div>
                  <ng-template pTemplate="footer">
                    <div class="grid grid-nogutter justify-content-end">
                        <p-button label="Siguiente" (click)="activeIndex = 1"
                        [disabled]="(form.value.name =='' || form.value.surname =='' 
                        || form.value.email =='')" 
                         icon="pi pi-angle-right" iconPos="right"></p-button>
                    </div>
                </ng-template>
            </p-card>
          </div>
  
          </ng-template>

          <ng-template [ngIf]="activeIndex==1">
                
            <div class="stepsdemo-content">
              <p-card>
                <ng-template pTemplate="subtitle">
                  <div class="text-center">
                    2. DATOS INSTITUCIONALES
                  </div>
                </ng-template>

                <div class="grid ">            
                  <div class="col-12 md:col-12 lg:col-12">
                    <div class="field ">
                      <label for="name"style="font-weight: bold;">SELECCIONE LA SEDE</label>
                    <div class="flex">
                      <span class="p-inputgroup-addon"  
                      style="margin-top:-1px; color:#F16257;height:47px">
                      <i class="pi pi-bookmark-fill"></i></span>
                      <div style="width:100%">
                      <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                      [options]="headquarters" [filter]="true"
                        name="HeadquarterId" formControlName="HeadquarterId" label="SELECCIONE LA SEDE" 
                        [style]="{'width':'100%','margin-bottom':'10px'}"
                        optionvalue="id"  optionLabel="name" filterBy="name"
                        [required]="true" placeholder="SELECCIONE LA SEDE" title="SEDE">
                        <ng-template let-option pTemplate="item">
                          <span >{{option.name | titlecase}} - {{option.University.name | titlecase}}</span>
                      </ng-template>
                      </p-dropdown>
                    </div>
                      </div>
                    </div>
              
      
                </div>
              </div>

              <div *ngIf="mostrar2 == false" fxLayout="row" fxLayoutGap="20px" style="text-align:center">
                <button pButton type="button" (click)="addRoles($event)" 
                class="p-button-warning p-button-raised p-button-rounded"
                 label="Añadir Cargos"></button>  
              </div>
              <div fxLayout="row" fxLayoutGap="20px">
                <div class="table-wrapper" >
                  <p-table [value]="algo" *ngIf="mostrar2 == true"> 
                    <ng-template pTemplate="header">
                      <tr>
                          <th pSortableColumn="id">Cargos<p-sortIcon field="id"></p-sortIcon></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                    <tr [pSelectableRow]="rowData">
                        <td>
                          <div formArrayName="Charges"> 
                            <div *ngFor="let item of getRoles.controls; 
                            let pointIndex=index" [formGroupName]="pointIndex">
                              <div class="grid"> 
                                <div class="col-12 sm:col-5 md:col-5">
                                  <div class="field ">
                                    <label for="name"style="font-weight: bold;">FECHA DE INICIO DEL CARGO</label>
                                  <div class="p-inputgroup"  >
                                    <span class="p-float-label" [style]="{'width':'100%','margin-bottom':'5px'}">
                                      <span class="p-inputgroup-addon"  
                                      style="margin-top:-1px; color:#F16257">
                                      <i class="pi pi-bookmark-fill"></i></span>                                      <input type="date" class="p-inputtext-lg" pInputText name="date" 
                                    placeholder="FECHA" formControlName="date" title="FECHA" >         
                                    <!-- <label for="inputtext"> <h3 [style]="{'margin-top':'-5px'}">FECHA DE FINAL</h3></label> -->
                                  </span> 
                                  </div>
                                </div>
                                </div>
                                <div class="col-12 sm:col-6 md:col-6">
                                  <div class="field ">
                                    <label for="name"style="font-weight: bold;">SELECCIONE CARGO</label>
                                 
                                    <div class="flex">
                                      <span class="p-inputgroup-addon"  
                                      style="margin-top:-1px; color:#F16257;height:47px">
                                      <i class="pi pi-bookmark-fill"></i></span>
                                      <div style="width:100%">
                                        <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
                                        [options]="charges" [filter]="true"
                                        name="ChargeId" formControlName="ChargeId" label="SELECCIONE CARGO" 
                                        [style]="{'width':'100%','margin-bottom':'10px'}"  
                                        optionvalue="id"  optionLabel="name" filterBy="name"
                                        [required]="true" placeholder="SELECCIONE CARGO" title="SELECCIONE CARGO">
                                        <ng-template let-option pTemplate="item">
                                          <span >{{option.name | titlecase}}</span>
                                      </ng-template>
                                        </p-dropdown>
                                      </div>
                                      <span class="bottomdelete" style="margin-top: -35px;margin-left: 7px;">
                                        <button pButton pRipple type="button" icon="pi pi-plus" style="margin-left: 7px;"
                                        class="p-button-rounded p-button-outlined" (click)="addOcupacion($event)" ></button>
                                      </span>
                
                                    </div>
                                  </div>
                                  </div>
         
                        
                                  <div class="col-12 sm:col-1 md:col-1">
                              <span class="bottomdelete" style="margin-top: -35px;">
                                <div class="flex">
                                  <button pButton pRipple type="button" icon="pi pi-times" (click)="removeRoles(pointIndex,$event)"  
                                  class="p-button-rounded p-button-danger"></button>
                                </div>
                              </span>
                              
                            </div>
                            </div>
                          </div> 
                          </div>
                        </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="summary">
                    <div fxLayout="row" fxLayoutGap="20px" style="text-align:center">
                      <button pButton type="button" (click)="addRoles($event)" 
                      class="p-button-warning p-button-raised p-button-rounded"
                       label="Añadir Cargos"></button>  
                    </div>
                </ng-template>
                  </p-table>
                </div>
              </div>
                <ng-template pTemplate="footer">
                  <div class="grid grid-nogutter justify-content-between">
                    <p-button label="Atras" [disabled]="form.value.UserId == '' && (form.value.name =='' || form.value.surname =='' || form.value.email =='')"
                    (click)="activeIndex = 0" icon="pi pi-angle-left"></p-button>
                </div>
            </ng-template>
          </p-card>
        </div>
  
      </ng-template>
          </div>
          <ng-template [ngIf]="bandera == false">

            <br>
          <div fxLayout="row" class="titleCard2" >
            <button pButton type="button"  icon="pi pi-check" [disabled]="!form.valid"
            (click)="onSubmit($event)"
          class="p-button-success p-button-raised p-button-rounded" label="Actualizar Registro" styleClass="mr-2"></button>
      </div>
    </ng-template>
        <ng-template [ngIf]="bandera == true">
          <br>
            <p-progressBar mode="indeterminate"  [style]="{'height': '6px'}"></p-progressBar>

        </ng-template>
          </div>  
      </div>
    </div>

  </p-dialog>
  </form>
  <p-toast></p-toast>
  
  <p-confirmPopup></p-confirmPopup>
</ng-template>
