
<mat-card>
    <div fxLayout="row" class="titleCard">
      <mat-icon >
        credit_card
      </mat-icon>
      <mat-card-title >Cambiar Contraseña</mat-card-title>
    </div>
  
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" fxLayout="column" class="tittleForm">
      <mat-card-content fxLayout="column wrap" >
          <div> 
  
              <div fxLayout="row"  fxLayoutGap="20px">
                  <div> 
                      <mat-form-field>
                        <input matInput type="text" placeholder="Actual Contraseña" formControlName="oldPassword" required>
                      </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <div> 
                      <mat-form-field>
                        <input matInput type="text" placeholder="Nueva Contraseña" formControlName="newPassword" required>
                      </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
  
        <mat-card-actions>
          <button type="submit" [disabled]="form.invalid" mat-button color="primary">Cambiar Contraseña</button>
        </mat-card-actions>
    </form>
  </mat-card>
  

