<ng-template [ngIf]="tabla == true">
  <app-show_capacitacion [mostrar]="mostrar" (modificar)="actualizar($event)"></app-show_capacitacion>

</ng-template>
  <ng-template [ngIf]="tabla == false">
  
    <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
      <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '40vw'}" 
      [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"  [showHeader]="false"   >
      <br>
          
          <div [style]="{'margin-top':'-1px'}" >
            <div fxLayout="row" class="titleCard">
              <i class="pi  pi-pencil" style="font-size: 2rem;margin-right: 10px;"></i>
            <h2 class="fondebabutton" style="margin-top: -1px;">Editar Capacitación</h2>
          </div>

              <div class="p-inputgroup"  style="margin-bottom: 20px;">
                  <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Nombre"><i class="pi pi-bookmark-fill"></i></span>
                  <input type="text" class="p-inputtext-lg" 
                  pInputText placeholder="NOMBRE" name="name" [pKeyFilter]="blockSpecial"  ngModel #name="ngModel" [(ngModel)]="form.name" required>         
              </div>
          </div>
                  
              <ng-template pTemplate="footer">
                  <div fxLayout="row" class="titleCard"style="margin-top: -20px;">
                    <button pButton type="button" type="submit"  icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded" label="Modificar Registro" styleClass="mr-2"></button>
                    <p-button (click)="volver($event)" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
                  </div>
              </ng-template>
              
                  
      </p-dialog>
    </form>
    <p-toast></p-toast>
    
    <p-confirmPopup></p-confirmPopup>
  </ng-template>