
<form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
  <p-dialog [(visible)]="displayMaximizable2" [modal]="true" [style]="{'width': '60vw','height': '80vw'}" 
  [contentStyle]="{'overflow-y': 'auto'}"

  [closable]="false" [closeOnEscape]="false" 
      >
      
      <div [style]="{'margin-top':'-1px'}" >
          <div fxLayout="row" class="titleCard">
              <i class="pi pi-credit-card" style="font-size: 2rem;margin-right: 10px;"></i>
            <h2 class="fondebabutton" style="margin-top: -1px;">Registrar Docente</h2>
          </div>

          <div class="grid p-fluid">
            <div class="col-12 md:col-6 lg:col-6">
              <div class="p-inputgroup"  style="margin-bottom: 20px;">
                <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                <input type="text" class="p-inputtext-lg" pInputText name="name" 
                placeholder="NOMBRE" ngModel #name="ngModel" title="NOMBRES" required>         
            </div>
            </div>
            
            <div class="col-12 md:col-6 lg:col-6">
              <div class="p-inputgroup" >
                <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                class="p-inputtext-lg"  name="surname" placeholder="APELLIDOS" title="APELLIDO"
                ngModel #surname="ngModel" required  >         
            </div>
            </div>

          </div>

          
          <div class="grid p-fluid">
            <div class="col-12 md:col-6 lg:col-6">
              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
            [options]="genders" [filter]="true"
              name="GenderId" ngModel 
              #GenderId="ngModel" label="SELECCIONE EL GENERO" 
              [style]="{'width':'100%','margin-bottom':'20px'}" 
              optionvalue="id"  optionLabel="name" filterBy="name"
              [required]="true" placeholder="SELECCIONE EL GENERO" title="SELECCIONE EL GENERO">
              <ng-template let-option pTemplate="item">
                <span >{{option.name }}</span>
            </ng-template>
            </p-dropdown>

            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <div class="p-inputgroup"  style="margin-bottom: 20px;">
                <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                <input type="email" class="p-inputtext-lg" pInputText name="email" 
                placeholder="CORREO" ngModel #email="ngModel" required title="CORREO ELECTRONICO">         
            </div>

            </div>

          </div>



          <div class="grid p-fluid">
            <div class="col-12 md:col-6 lg:col-6">
              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
              [options]="documentTypes" [filter]="true"
                name="DocumentTypeId" ngModel 
                #DocumentTypeId="ngModel" label="TIPO DE DOCUMENTO" 
                [style]="{'width':'100%','margin-bottom':'20px'}" 
                optionvalue="id"  optionLabel="name" filterBy="name"
                [required]="true" placeholder="TIPO DE DOCUMENTO" title="TIPO DE DOCUMENTO">
                <ng-template let-option pTemplate="item">
                  <span >{{option.name}}</span>
              </ng-template>
              </p-dropdown>
            </div>
            
            <div class="col-12 md:col-6 lg:col-6">
              <div class="p-inputgroup"  style="margin-bottom: 20px;">
                <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                <input class="p-inputtext-lg" type="text" pInputText pKeyFilter="num" name="identification" 
                placeholder="IDENTIFICACIÓN" ngModel #identification="ngModel" required title="IDENTIFICACIÓN">         
            </div>

            </div>

          </div>

          <div class="grid p-fluid">
            <div class="col-12 md:col-6 lg:col-6">
              
              <div class="p-inputgroup" >
                <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                class="p-inputtext-lg"  name="address" placeholder="DIRECCIÓN" 
                ngModel #address="ngModel" required title="DIRECCION" >         
            </div>

            </div>
            <div class="col-12 md:col-6 lg:col-6">
              <div class="p-inputgroup"  style="margin-bottom: 20px;">
                <span class="p-inputgroup-addon"  style="margin-top:-1px;"><i class="pi pi-bookmark-fill"></i></span>
                <input class="p-inputtext-lg" type="text" pInputText pKeyFilter="num" name="phone" 
                placeholder="TELEFONO" ngModel #phone="ngModel" title="TELEFONO"
                required>         
            </div>

            </div>

          </div>

          <div class="grid p-fluid">
            <div class="col-12 md:col-6 lg:col-4">
              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
            [options]="scales" [filter]="true"
              name="scaleId" ngModel 
              #scaleId="ngModel" label="ESCALAFON" 
              [style]="{'width':'100%','margin-bottom':'20px'}"  
              optionvalue="id"  optionLabel="name" filterBy="name"
              [required]="true" placeholder="ESCALAFON" title="ESCALAFON">
              <ng-template let-option pTemplate="item">
                <span >{{option.name }}</span>
            </ng-template>
            </p-dropdown>

            </div>
            
            <div class="col-12 md:col-6 lg:col-4">
              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
            [options]="groups" [filter]="true"
              name="groupId" ngModel 
              #groupId="ngModel" label="GRUPO" 
              [style]="{'width':'100%','margin-bottom':'20px'}"
              optionvalue="id"  optionLabel="name" filterBy="name"
              [required]="true" placeholder="GRUPO" title="GRUPO DE INVESTIGACIÓN">
              <ng-template let-option pTemplate="item">
                <span >{{option.name }}</span>
            </ng-template>
            </p-dropdown>

            </div>

            <div class="col-12 md:col-6 lg:col-4">
              <p-dropdown class="visorg500-select-filter p-inputtext-lg" 
            [options]="colcienciaCategorys" [filter]="true"
              name="colcienciasCategoryId" ngModel 
              #colcienciasCategoryId="ngModel" label="CATEGORIA COLCIENCIAS" 
              [style]="{'width':'100%','margin-bottom':'20px'}" 
              optionvalue="id"  optionLabel="name" filterBy="name"
              [required]="true" placeholder="CATEGORIA COLCIENCIAS" title="CATEGORIA COLCIENCIAS">
              <ng-template let-option pTemplate="item">
                <span >{{option.name }}</span>
            </ng-template>
            </p-dropdown>

            </div>

          </div>

         

         

      </div>

              <div fxLayout="row" class="titleCard" style="margin-top: 50px;">
                <button pButton type="button" type="submit"  [disabled]="!heroForm.form.valid"
                 icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded" 
                 label="Enviar Registro" styleClass="mr-2"></button>
              <p-button (click)="displayMaximizable2=false" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
          </div>
         
          
              
  </p-dialog>
</form>
<p-toast></p-toast>

<p-confirmPopup></p-confirmPopup>