<ng-template [ngIf]="Valorconstruccion == true">
  <span  style="   display: flex;
  justify-content: center;
  margin: 0;">
    <div class="card" 
    style="justify-content:center;justify-items: center;align-items: center;width: 67%;height: 70%;">
      <img src="{{construccion}}"  pRipple 
                [style]="{'width':'90%','height':'70%'}"
                styleClass="imgLogo4 p-button-rounded p-button-outlined" 
                size="xlarge" shape="circle">
    </div>
  </span>
  </ng-template>
  
  <ng-template [ngIf]="Valorconstruccion == false">
  
  <ng-template [ngIf]="tabla == true">
    <app-show_grupodeInvetigacion [mostrar]="mostrar" (modificar)="actualizar($event)"></app-show_grupodeInvetigacion>
  </ng-template>
  <ng-template [ngIf]="tabla == false">
    <form [formGroup]="form"  novalidate (ngSubmit)="onSubmit()"  enctype="multipart/form-data" >
      <p-dialog [(visible)]="displayMaximizable2" [modal]="true" 
      [style]="{'width': '90vw','height': '70vw'}" 
      [contentStyle]="{'overflow-y': 'auto'}"
     
      [closable]="true" [closeOnEscape]="false" 
      [showHeader]="false"   >
          <br>
          
          <div [style]="{'margin-top':'-1px'}" >
            <!-- <div fxLayout="row" class="titleCard">
              <i class="pi pi-trash" style="font-size: 2rem;margin-right: 10px;"></i>
            <h2 class="fondebabutton" style="margin-top: -1px;">¿Seguro de eliminar este Grupo?</h2>
          </div> -->
             
        
                <div style="border: 1px solid black;padding: 10px;">
    
                  <div class="grid p-fluid" style="padding: 10px;">
                    <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2 text-center">
                      <img alt="logo" src="{{image}}" class=" "
                      style="width: 60%;margin-top:10px"/>
                    </div> 
    
                    <div style="border: 1px solid black;"class="col-8 md:col-8 lg:col-8">
                      <h2 style="text-align: center;">ELIMINAR GRUPO DE INVESTIGACIÓN</h2>
                    </div>
    
                    <div style="border: 1px solid black;"class="col-2 md:col-2 lg:col-2 text-center">
                      <!-- <img alt="logo" src="{{image2}}" 
                      style="width: 100%"/> -->
                      <p-button (click)="volver($event)" icon="pi pi-times" 
                      [style]="{'border': '1px solid #F16257','border-radius':'5px','width':'auto','margin-top':'10px'}"
                      styleClass="p-button-text ml-2 mt-3" label="Cancelar"></p-button>
                    </div>
                  </div>

                  <div style="border: 1px solid gray;border-radius:10px"class="p-4 ">
                    <br> 
                    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
                    <br>
                    <ng-template [ngIf]="activeIndex==0">
                      <div class="stepsdemo-content">
                        <p-card>

                          <div >
                            <!-- nombre y codigo del grupo -->
                
                            <h3 style="text-align:center;">IDENTIFICACIÓN DEL GRUPO</h3>
                                <div class="grid p-fluid ml-1 mr-1">
                                  <div class="col-12 md:col-12 lg:col-12">
                                    <div class="field ">
                                      <label for="name"style="font-weight: bold;"> NOMBRE DEL GRUPO</label>
                                        <div class="p-inputgroup" >
                                          <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                                          <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                                          class="p-inputtext-lg"  name="name"  title="NOMBRE DEL GRUPO"
                                          [value]="form.value.name" [disabled]="true">         
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <br>
                              </div>
                          <div >
                            <!-- facultado programa-->
                
                                <p-panel >
                                  <ng-template pTemplate="header">
                                    Facultad y Programa académico donde se encuentra inscrito el Grupo de Investigación:
                                  </ng-template>
                                  <!-- <h3 style="text-align:center;">2. FACULTAD:</h3> -->
                                  <div class="grid p-fluid">
                                    <div class="col-12 md:col-6 lg:col-6">
                                      <h5 style="text-align:left;">FACULTAD:</h5>
                                      <div class="grid ">
                                        <div class="col-1 md:col-1">
                                          <div class="p-inputgroup"  >
                                            <span class="p-inputgroup-addon"  style="color:#F16257;height:47px;"><i class="pi pi-bookmark-fill"></i></span>
                                          </div>
                                        </div>
                                        <div class="col-11 md:col-11">
                                          <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                                          class="p-inputtext-lg"  name="name"  title="SELECCIONE LA FACULTAD"
                                          [value]="form.value.Facultad.name" [disabled]="true"> 

                                    </div>
                                      </div>
                                    </div>
                                    <div class="col-12 md:col-6 lg:col-6" >
                                      <h5 style="text-align:left;">PROGRAMA:</h5>
                                      <div class="grid ">
                                        <div class="col-1 md:col-1">
                                          <div class="p-inputgroup"  >
                                            <span class="p-inputgroup-addon"  style="color:#F16257;height:47px;
                                       "><i class="pi pi-bookmark-fill"></i></span>
                                          </div>
                                        </div>
                                        <div class="col-11 md:col-11">
                                      <ng-template [ngIf]="mostrarFacultad==true">
                                        <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                                        class="p-inputtext-lg"  name="name"  title="SELECCIONE EL PROGRAMA"
                                        [value]="form.value.HeadquarterProgramId.name" [disabled]="true"> 

                                      </ng-template>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                             
                    
                                  
                            
                              </p-panel>
                            </div>
                          <!-- Miembros -->
                          <div > 
                              <h3 style="text-align:center;">MIEMBROS DEL GRUPO</h3>
                                <p-panel >
                                  <ng-template pTemplate="header">
                                    Lider del Grupo:
                                  </ng-template>
                                  <ng-template [ngIf]="mostrarHeadquarterProgram==true">
                                    <div class="field">
                                      <label for="name"style="font-weight: bold;">LIDER DEL GRUPO</label>
                                      <div class="p-inputgroup" >
                                        <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>
                                        <input type="text" pInputText [pKeyFilter]="blockSpecial" 
                                        class="p-inputtext-lg"  name="name"  title="SELECCIONE EL INVESTIGADOR PRINCIPAL"
                                        value="{{form2.User?.fullName}} - {{form2.User?.Person?.identification}}" [disabled]="true"> 
     
                                      </div>
            
                                    </div>
                              
                            
                                    <!-- <h5 style="text-align:left;">Director y/o Investigador Principal:</h5> -->
                                   
                                      
                                      <ng-template [ngIf]="mostrarTeacher == true">
                                        <br>
                                        <p-fieldset legend="Datos del Docente">
                                          <div class="flex" >
                                            <div class="col-12 md:col-6 lg:col-6" style="margin-top:-20px">
                                              <h3 class="fondebabutton">Nombre : {{ form2.User?.fullName | titlecase }}</h3>
                                              <h3 class="fondebabutton">Identificacion : {{ form2.User?.Person?.identification | titlecase }}</h3>
                                              <h3 class="fondebabutton">Correo : {{ form2.User?.email| titlecase }}</h3>
                                              
                                            </div>
                                            <p-divider layout="vertical" ></p-divider>
                                            <div class="col-12 md:col-6 lg:col-6"  style="margin-top:-20px">
                                              <h3 class="fondebabutton">Telefono : {{ form2.User?.Person?.phone }}</h3>
                                              <h3  class="fondebabutton">Categoria Minciencias : {{ form2.MincienciaCategory?.name| titlecase }}</h3>
                                              <h3  class="fondebabutton">Escalafón : {{ form2.Charge_bonding?.ChargebondingScales?.[0]?.Scale?.name | titlecase }}</h3>
                                              <!-- <h3 class="fondebabutton">Grupo de Investigacion : {{ form2.Group?.name | titlecase}}</h3> -->
                                            </div>
                                          </div>
                                          </p-fieldset>
                                      </ng-template>
                                  </ng-template>
                  
                  
                  
                                </p-panel>
                                <br>
                                <p-panel >
                                  <ng-template pTemplate="header">
                                    Investigadores
                                  </ng-template>
                                  <br>
                                  <ng-template [ngIf]="mostrarHeadquarterProgram==true">
    
                                   <br>
                                   <ng-template [ngIf]="mostrarIntegrantes==true">
                                   <div fxLayout="row" fxLayoutGap="20px">
                                     <div class="table-wrapper" >
                                       <p-table [value]="getInvestigatorCollaborator.value" *ngIf="mostrarI == true"> 
                                         <ng-template pTemplate="header">
                                           <tr>
                                               <th pSortableColumn="id">Roles<p-sortIcon field="id"></p-sortIcon></th>
                                               <th pSortableColumn="id">Investigadores<p-sortIcon field="id"></p-sortIcon></th>
                                           </tr>
                                       </ng-template>
                                       <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                                         <tr [pSelectableRow]="rowData">
                                             <td>
                                              
                                               {{item.RoleGroupTeacherId.name}}
                                             </td>
                                             <td>
                                               {{item.Usuarios.todo}}
                                             </td>
                                         </tr>
                                       </ng-template>
                                       </p-table>
                                     </div>
                                   </div>
                   
                                   </ng-template>
                   
                                  </ng-template>
                  
                  
                  
                                </p-panel>
                           
                          </div>

                          <!-- lineas -->
                          <div >
                            <h3 style="text-align:center;">LINEA DE INVESTIGACIÓN Y TEMÁTICAS ASOCIADAS AL GRUPO</h3>                
                            <p-panel >
                              <ng-template pTemplate="header">
                                Lineas asociadas al Programa
                              </ng-template>
                              <ng-template [ngIf]="mostrarHeadquarterProgram==true">
                   
                               <div fxLayout="row" fxLayoutGap="20px">
                                 <div class="table-wrapper" >
                                   <p-table [value]="getlines.value" *ngIf="mostrar4 == true"> 
                                     <ng-template pTemplate="header">
                                       <tr>
                                           <th pSortableColumn="id">Lineas<p-sortIcon field="id"></p-sortIcon></th>
                                      <th pSortableColumn="resolution">Resolución<p-sortIcon field="resolution"></p-sortIcon></th>
        
                                       </tr>
                                   </ng-template>
                                   <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                                     <tr [pSelectableRow]="rowData">
                                         <td>
                                           {{item.LineId.name | titlecase}}
                                          
                                         </td>
                                         <td>
                                          {{item.LineId?.LineDetail?.resolution | titlecase}}
                                         
                                        </td>
                                     </tr>
                                   </ng-template>
                                   </p-table>
                                 </div>
                               </div>
            
                              </ng-template>
                              </p-panel>
                            </div>
                          <br>
                          <!-- semillero -->
   
                          <div >
                            <h3 style="text-align:center;">AREAS DE CONOCIMIENTO ASOCIADAS AL GRUPO</h3>                
                            <p-panel >
                              <ng-template pTemplate="header">
                                Areas del Conocimiento
                              </ng-template>
                         
                            <div fxLayout="row" fxLayoutGap="20px">
                              <div class="table-wrapper" >
                                <p-table [value]="getknowledge_areas.value" *ngIf="mostrar3 == true"> 
                                  <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id">AREAS<p-sortIcon field="id"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                                  <tr [pSelectableRow]="rowData">
                                      <td>
                                        {{item.Knowledge_areaId.name | titlecase}}
                                       
                                      </td>
                                  </tr>
                                </ng-template>
                                </p-table>
                              </div>
                            </div>
                            </p-panel>
                          </div>
                          <!-- areas del conocimiento -->
                          <!-- anexo detalle -->
                          <div >
                            <h4 style="text-align:left;">ANEXO DE DETALLES</h4>
                            <ng-template [ngIf]="mostrarAnexo != null && BanderaAnexo==false">
                              <div class="p-inputgroup" >
                                <!-- <span class="p-inputgroup-addon"  style="margin-top:15px; height:45px"><i class="pi pi-bookmark-fill"></i></span> -->
                
                              <div class="custom-input-file " style="width: 100%;">
                                <input type="hidden" 
                                class="input-file p-inputtext-lg" 
                              
                                name="Anexo" 
                                placeholder="Anexo" formControlName="Anexo"
                                title="Anexo" (click)="onFileChangeA($event)">
                                <a pInputText
                                class="input-file p-inputtext-lg " 
                                style="margin-top: -15px; "
                                target="back" href="{{API_URI}}{{mostrarAnexo}}">
                                Archivo de Grupo</a>
                                <!-- <span class="bottomdelete"  
                                style="margin-left: 20px;margin-top: 5px;">
                                  <button pButton pRipple type="button" icon="pi pi-sync"  title="Cambiar Archivo"
                                  (click)="BanderaAnexo=true"  
                                  class="p-button-rounded p-button-warning "></button>
      
                                </span> -->
                              </div>
                            </div>
                       
      
                            </ng-template>
      
                            <ng-template [ngIf]="BanderaAnexo==true">
                              <div class="p-inputgroup" >
                                <!-- <span class="p-inputgroup-addon"  style="margin-top:13px; height:45px"><i class="pi pi-bookmark-fill"></i></span> -->
                                  <div class="custom-input-file" style="width: 100%;">
                                    <input type="hidden" class="input-file p-inputtext-lg" 
                                    style="margin-bottom: 10px; width:80%" 
                                    name="Anexo" 
                                    placeholder="Anexo" (change)="onFileChangeA($event)"
                                    formControlName="Anexo" title="Anexo" >

                                    <a pInputText
                                    class="input-file p-inputtext-lg " 
                                    style="margin-top: -15px; "
                                    >
                                    NO hay Archivo de Grupo</a>
                                    <!-- <span class="bottomdelete"  
                                    style="margin-left: 20px;">
                                      <button pButton pRipple type="button" icon="pi pi-sync"  *ngIf="mostrarAnexo!= null"
                                      title="Volver Archivo Anterior"
                                      (click)="BanderaAnexo=false"  
                                      class="p-button-rounded p-button-warning mb-3"></button>
        
                                    </span> -->
                                  </div>
                                  
                                </div>
      
                            </ng-template>
                          </div>
                        </p-card>
                      </div>
                    </ng-template>
      
      
                    <ng-template [ngIf]="activeIndex==1">
                      <div class="stepsdemo-content">
                        <p-card>
                            <!-- Objetivos -->
                            <p-panel >
                              <ng-template pTemplate="header">
                                Objetivo General y Objetivos Específicos
                              </ng-template>
                              <h5 style="text-align:left;">General:</h5>
                              <div class="p-inputgroup" >
                                <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>

                                <input type="text" class="p-inputtext-lg" pInputText name="name" 
                                placeholder="Objetivo General"  title="Objetivo General" 
                                [value]="form.value.ObjetivoGeneral"[disabled]="true">         
                              </div>

                              <h5 style="text-align:left;">Especificos:</h5>
                              <div class="p-inputgroup" >
                                <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>

                                <textarea rows="5" cols="30" [style]="{'border-radius':'10px'}" pInputTextarea [autoResize]="true"
                                [value]="form.value.ObjetivosEspecificos"[disabled]="true"
                                ></textarea>
                                      
                              </div>

                          </p-panel>
                          <br>
                          <!-- mision vision perfil -->
                          <p-panel >
                            
                            <ng-template pTemplate="header">
                              Misión, Visión, Perfil
                            </ng-template>
                            <div class="grid p-fluid ml-1 mr-1 mt-1">
                              <div class="col-12 md:col-4 lg:col-4" >
                                <h5 style="text-align:left;">Mision:</h5>
                                <div class="p-inputgroup" style="margin-bottom: 10px;">
                                  <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>

                                  <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                                  pInputTextarea [autoResize]="true" name="Mision"
                                  placeholder="ESCRIBIR LA MISION" 
                                  title="ESCRIBIR LA MISION"  
                                  [value]="form.value.Mision"[disabled]="true"></textarea>
                                  
                                </div>
                              </div>
                              <div class="col-12 md:col-4 lg:col-4" >
                                <h5 style="text-align:left;">Vision:</h5>
                                <div class="p-inputgroup"  style="margin-bottom: 10px;">
                                  <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>

                                  <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                                  pInputTextarea [autoResize]="true"name="Vision"
                                  formControlName="Vision" placeholder="ESCRIBIR LA VISION" 
                                  title="ESCRIBIR LA VISION"  
                                  [value]="form.value.Vision"[disabled]="true"></textarea>

                                </div>
                              </div>
                              <div class="col-12 md:col-4 lg:col-4" >
                                <h5 style="text-align:left;">Perfil:</h5>
                                <div class="p-inputgroup"  style="margin-bottom: 10px;">
                                  <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>

                                  <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" 
                                  pInputTextarea [autoResize]="true"Perfil
                                  [value]="form.value.Perfil"[disabled]="true"
                                placeholder="ESCRIBIR EL PERFIL" title="ESCRIBIR EL PERFIL" ></textarea>

                                </div>
                              </div>

                              
                            </div>
                          </p-panel>
                          <br>
                          <!-- metas resultados -->
                          <p-panel >
                          <ng-template pTemplate="header">
                            Metas, Resultados y Sector de Aplicación
                          </ng-template>
                          <br>
                          <div class="grid p-fluid ">
                            <div class="col-12 md:col-4 lg:col-4" >
                              <h5 style="text-align:left;">Metas e indicadores:</h5>
                              
                              <div class="p-inputgroup" style="margin-bottom: 10px;">
                                <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>

                                <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" pInputTextarea [autoResize]="true"
                                placeholder="ESCRIBIR LA METAS"  name="Metas"
                                title="ESCRIBIR LA METAS"  
                                [value]="form.value.Metas"[disabled]="true"></textarea>
                              </div>
                            </div>
                            <div class="col-12 md:col-4 lg:col-4" >
                              <h5 style="text-align:left;">Resultados Esperados:</h5>

                              <div class="p-inputgroup" style="margin-bottom: 10px;">
                                <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>

                                <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" pInputTextarea [autoResize]="true"
                                placeholder="ESCRIBIR LOS RESULTADOS" name="Resultados"
                                title="ESCRIBIR LOS RESULTADOS" 
                                [value]="form.value.Resultados"[disabled]="true"></textarea>
                              </div>
                              <!-- <p><b>Nota: </b>(Para el caso  de Artículos Científicos, indicar: nombre del artículo, nombre la publicación, año de impresión. Para el caso de Libro, indicar: Nombre, año de impresión, editorial)</p>  -->
                                
                            </div>
                            <div class="col-12 md:col-4 lg:col-4" >
                              <h5 style="text-align:left;">Sector de Aplicación:</h5>

                              <div class="p-inputgroup" style="margin-bottom: 10px;">
                                <span class="p-inputgroup-addon"  style="margin-top:-1px; color:#F16257"><i class="pi pi-bookmark-fill"></i></span>

                                <textarea rows="3" cols="30" [style]="{'border-radius':'10px'}" pInputTextarea [autoResize]="true"
                              placeholder="ESCRIBIR SECTOR" name="Sector"
                                title="ESCRIBIR SECTOR" 
                                [value]="form.value.Sector"[disabled]="true"></textarea>
                              </div>
                            </div>
                          </div>
                          </p-panel>

                          <!-- anexos -->
                            <div style="border: 1px solid black;padding: 10px">
                              <h4 style="text-align:left;">ANEXOS:</h4>

                              <br>
                              <div fxLayout="row" fxLayoutGap="20px">
                                <div class="table-wrapper" >
                                  <p-table [value]="getAnexos.value" *ngIf="mostrar2 == true"> 
                                    <ng-template pTemplate="header">
                                      <tr>
                                          <th pSortableColumn="id">Anexos<p-sortIcon field="id"></p-sortIcon></th>
                                      </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-rowData let-item let-expanded="expanded">
                                    <tr [pSelectableRow]="rowData">
                                        <td>
                                          <ng-template [ngIf]="item.Anexos?.name">
                                            <a pInputText
                                            class="input-file p-inputtext-lg " 
                                            style="margin-top: -20px; width:100%" 
                                            target="back" href="{{API_URI}}{{item.Anexos?.url}}">
                                            {{item.Anexos?.name}}</a>
                                          </ng-template>
                                          
                                          <ng-template [ngIf]="!item.Anexos?.name">
                                            <a pInputText
                                            class="input-file p-inputtext-lg " 
                                            style="margin-top: -20px; width:100%" 
                                            >
                                            No hay Anexos</a>
                                          </ng-template>
                                      
                                        </td>

                                    </tr>
                                  </ng-template>

                                  </p-table>
                                </div>
                              </div>

                            </div>
                        </p-card>
                      </div>
                    </ng-template>
                  </div>

               
    
    
            <ng-template [ngIf]="bandera == false">                
                <div fxLayout="row" class="titleCard" style="margin-top: 20px">
                  <button pButton type="submit" [disabled]="!form.valid"
                   icon="pi pi-check" class="p-button-success p-button-raised p-button-rounded" 
                   label="Enviar Registro" styleClass="mr-2"></button>
                <p-button (click)="volver($event)" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>
            </div>
          </ng-template>
          <ng-template [ngIf]="bandera == true">
            <br>
              <p-progressBar mode="indeterminate"  [style]="{'height': '6px'}"></p-progressBar>
          </ng-template>
    
                </div>
      
          
    
                   
          
          </div>
    
    
           
            
                
    </p-dialog>
    </form>
    <p-toast></p-toast>
    
    <p-confirmPopup></p-confirmPopup>
  </ng-template>
  
  </ng-template>