
<ng-template [ngIf]="isLoggedIn === true">
    <p-menubar  [autoDisplay]="false"
     
    [style]="{'background':'#f16357',
'color':'#fff','font-weight':'bold',
'border':'1px solid #f16357','border-radius':'0px'}">
      <ng-template pTemplate="start">
          <p-button styleClass="p-button-outlined  p-button-warning" (click)="display = true" class="mr-3">
            <i class="pi pi-align-justify"  style="font-size: 1.5rem; margin-top: 5px;color:black"></i>
              <!-- <img alt="logo" src="assets/avatars-avataaars.png" style="width: 1.5rem"/> -->
              <span class="ml-2 font-bold" style="color:#FBC02D">GESPROY - UNIGUAJIRA</span>
          </p-button>
      </ng-template>
      <ng-template pTemplate="end">
        <!-- <button  pButton pRipple type="button" style="margin-right: 10px;" class="p-button-outlined p-button-rounded p-button-danger"(click)="cerrarSesion()">
          <i class="pi pi-power-off"  style="font-size: 1rem;margin-right: 10px;"></i>
         Cerrar Sesion 
          </button>  -->
          <button type="button" pButton pRipple 
          class="p-button-rounded p-button-text mr-2"
           icon="pi pi-plus" (click)="menu.toggle($event)">
            <p-avatar image="{{image3}}" 
            styleClass="ml-3" size="large" shape="circle"></p-avatar>
          </button>
          <i class="pi pi-bell mr-4 mb-1" pBadge style="font-size: 1.5rem" value="2"></i>
          <button pButton pRipple type="button"  [disabled]="true"
          class="p-button-outlined  p-button-warning"
          style="padding: 7px;">
         <div class="clock" style="color:#FBC02D;font-weight:bold">
           {{dia | titlecase}} - {{fecha | titlecase}} [
              <span class="mishoras">{{hora}}:{{minutos}}:<span class="segundos">{{segundos}}</span></span>
           <span class="ampm"> {{ampm}}</span> ]
         </div>
           </button> 
       
      <p-menu #menu [popup]="true"  [model]="items" [style]="{'width':'200px','margin-top':'10px'}"></p-menu>
        

          <!-- <input type="text" pInputText  placeholder="Search">
          <button pButton label="Logout" icon="pi pi-power-off" (click)=" cerrarSesion()"></button> -->
      </ng-template>            
  </p-menubar>


  <div class="container margen">
      <p-sidebar [(visible)]="display" 
      [style]="{'width':'345px','min-height': '88vh'}"  [showCloseIcon]="true" 
      [blockScroll]="false" >
      <a routerLink="/landing">
          <img alt="logo" src="assets/images/logo-uniguajira.png" width="260px" height="92px" style="margin-left: 20px ;margin-top: -7px;" 
          styleClass="p-button-outlined"class="mr-3"/><!-- (click)="display = true"  -->
      </a>
      <h4 class="fondebabutton" style="text-align: center;margin-bottom:-5px">{{nombre}}</h4>
      <hr>
          <!-- <p-panelMenu [model]="items" [style]="{'width':'192px','margin-left':'-5px'}"></p-panelMenu> -->
          <app-menu [menu]="menu" (funcion)="ocultarMenu($event)"></app-menu>
          <div  class="padre grid align-items-center justify-content-cente">
              <span (click)="cerrarSesion()" 
              style="padding-left: 10px;padding-bottom: 10px;padding-top: 10px; cursor: pointer;">
                <i class="pi pi-power-off"  style="font-size: 1.5rem; margin-top: 5px;"></i>
                <span class="ml-4 font-bold" style=" width: 500px; font-size: 18px;">Logout</span>
              </span>
          </div>
      </p-sidebar>
      <div class="content">
        
        <router-outlet></router-outlet>
        <footer class="footer" style="padding-top: 20px;">
            
          <div class="footer__copyright" >
            <p>&copy; 2022</p>
            <p>Desarrollo Universidad de la Guajira - Programa Ing de Sistemas</p>
          </div>
      
          <div class="image"> 
            <img src="{{image2}}" alt="">
          </div>
        </footer>

      </div>
    </div>  

</ng-template>
