
<ng-template [ngIf]="isLoggedIn === true">
  <div class="grid"  [style]="{'background':'#f16357',
  'color':'#fff','font-weight':'bold','margin':'0',
  'border':'1px solid #f16357','border-radius':'0px'}">

  <div class="col-12 sm:col-2 md:col-3 lg:col-3 xl:col-3">
    <p-button styleClass="p-button-outlined  p-button-warning" (click)="display = true" class="mr-3">
      <i class="pi pi-align-justify"  style="font-size: 1.5rem; margin-top: 5px;color:black"></i>
        <span class="ml-2 font-bold" style="color:#FBC02D">SIGINV - UNIGUAJIRA</span>
    </p-button>
  </div>
  <div class="col-12 sm:col-2 md:col-3 lg:col-4 xl:col-5"></div>
  <div class="col-12 sm:col-7 md:col-6 lg:col-5 xl:col-4">

    <div class="grid">
      <div class="col-12 sm:col-12 md:col-2 lg:col-2 xl:col-2">
        <ng-template [ngIf]="notifications_noleidos.length > 0">
          <i class="pi pi-bell ml-4 mt-2" 
          pBadge style="font-size: 1.5rem" value="{{notifications_noleidos.length}}" 
          (click)="op.toggle($event)"></i>
        </ng-template>
        <ng-template [ngIf]="notifications_noleidos.length == 0">
          <i class="pi pi-bell ml-4 mt-2 " 
           style="font-size: 1.5rem" value="" 
          (click)="op.toggle($event)"></i>
        </ng-template>
      </div>
      <div class="col-12 sm:col-12 md:col-8 lg:col-8 xl:col-8">
        <button pButton pRipple type="button"  [disabled]="true"
        class="p-button-outlined  p-button-warning ml-3"
        style="padding: 7px;">
        <div class="clock" style="color:#FBC02D;font-weight:bold">
          {{dia | titlecase}} {{fecha | titlecase}} [<span class="mishoras">{{hora}}:{{minutos}}:<span class="segundos">{{segundos}}</span></span><span class="ampm">{{ampm}}</span>]
        </div>
         </button>
      </div>
      <div class="col-12 sm:col-12 md:col-2 lg:col-2 xl:col-2">
        <button type="button" pButton pRipple 
        class="p-button-rounded p-button-text"
         icon="pi pi-plus" (click)="menu.toggle($event)">
          <p-avatar image="{{image3}}" 
          styleClass="ml-3" size="large" shape="circle"></p-avatar>
        </button>
      </div>
    </div>
     <p-menu #menu [popup]="true"  [model]="items" 
     [style]="{'width':'200px','margin-top':'5px'}"></p-menu>
     <div #menu2 class="box hidden" header="Anuncios" 
     style="display: inline-block;margin:0px">

    </div>
  </div>
  </div>  



  <div class="container margen">
      <p-sidebar [(visible)]="display" 
      [style]="{'width':'345px','min-height': '88vh'}"  [showCloseIcon]="true" 
      [blockScroll]="false" >
      <a routerLink="/landing" (click)="display=false">
          <img alt="logo" src="assets/images/logo-uniguajira.png" width="260px" height="92px" style="margin-left: 20px ;margin-top: -7px;" 
          styleClass="p-button-outlined"class="mr-3"/>
      </a>
      <h4 class="fondebabutton" style="text-align: center;margin-bottom:-5px">{{nombre}}</h4>
      <hr>
          <app-menu [menu]="menu1" (funcion)="ocultarMenu($event)"></app-menu>
      </p-sidebar>
      <div class="content">
        
        <router-outlet></router-outlet>
        <footer class="footer" style="padding-top: 20px;">
            
          <div class="footer__copyright" >
            
            <p style="color:gray;font-size: 1.1rem">© 2022 Desarrollo Universidad de la Guajira</p>
          </div>
          <div class="footer__copyright" >
            
            <p style="color:gray;font-size: 1rem">Todos los derechos reservados - Semillero SETEC</p>
            <p style="color:gray;font-size: 0.8rem">Autores: Emmanuel Meza - Adanud Meza - Jaider Mendoza</p>
          </div>
        </footer>

      </div>
    </div>  

</ng-template>






<!-- <router-outlet></router-outlet> -->


  <!-- <ng-template [ngIf]="display">
    <div class="min-h-screen flex relative static surface-ground">
    <div id="app-sidebar-11" 
    class="surface-section h-screen hidden block flex-shrink-0
    relative static left-0 top-0 z-1 border-right-1 surface-border select-none"  style="width:350px;">
        <div class="flex flex-column h-full " style="width:350px;position:fixed;">
            <div class="flex align-items-center px-5 flex-shrink-0  border-bottom-1 surface-border"
            style="height:60px;background:#f16357">
              <p-button styleClass="p-button-outlined  p-button-warning" 
              (click)="display = false" >
                  <span class="ml-2 font-bold" style="color:#FBC02D">SIGINV - UNIGUAJIRA</span>
              </p-button>
            </div>
            <div class="overflow-y-auto overflow-x-hidden app-sidebar-11 pt-2">
              <a routerLink="/landing" (click)="display=false">
                <img alt="logo" src="assets/images/logo-uniguajira.png" width="260px" 
                height="92px" style="margin-left: 20px ;" 
                styleClass="p-button-outlined"class="mr-3"/>
            </a>
            <h4 class="fondebabutton" style="text-align: center;margin-bottom:-7px">{{nombre}}</h4>
            <hr>
              <app-menu [menu]="menu1" (funcion)="ocultarMenu($event)"></app-menu>
  
                
            </div>
            
            <div class="mt-auto border-top-1 surface-border p-3 flex justify-content-between">
              <a class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle" style="width:40px;height:40px">
                  <i class="pi pi-file text-xl"></i>
              </a>
              <a class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle" style="width:40px;height:40px">
                  <i class="pi pi-star text-xl"></i>
              </a>
              <a class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle" style="width:40px;height:40px">
                  <i class="pi pi-cog text-xl"></i>
              </a>
              <a class="cursor-pointer inline-flex align-items-center justify-content-center bg-pink-500 text-white border-2 border-pink-600 hover:bg-pink-600 text-600 transition-colors transition-duration-150 border-circle" style="width:40px;height:40px">
                  <i class="pi pi-sign-out text-xl"></i>
              </a>
             
          </div>
        </div>
    </div>
    <div class="sm:min-h-screen flex flex-column relative flex-auto"style="overflow-x: auto">
      <div class="flex justify-content-between align-items-center  
       border-bottom-1 surface-border relative static" style="height:60px;background:#f16357">
          <ul class="list-none p-0 m-0 hidden sm:flex sm:align-items-center  
          sm:flex-row w-auto sm:w-full 
          surface-section border-1 sm:border-none surface-border right-0 top-100 z-1 shadow-2 
          sm:shadow-none absolute sm:static" style="height:59px;background:#f16357">
              <li>
                  <a class="flex 
                  align-items-center text-600 hover:text-900 hover:surface-100 
                  font-medium border-round cursor-pointer
                  transition-duration-150 transition-colors  ml-2 mr-2">
         
                          
                    <ng-template [ngIf]="notifications_noleidos.length > 0">
                      <i class="pi pi-bell p-2 mt-2" 
                      pBadge style="font-size: 1.5rem" value="{{notifications_noleidos.length}}" 
                      (click)="op.toggle($event)"></i>
                    </ng-template>
                    <ng-template [ngIf]="notifications_noleidos.length == 0">
                      <i class="pi pi-bell  mt-2 " 
                       style="font-size: 1.5rem" value="" 
                      (click)="op.toggle($event)"></i>
                    </ng-template>   
                    <div #menu2 class="box hidden" header="Anuncios" 
                    style="display: inline-block;margin:0px">
               
                   </div> 
                  </a>
              </li>

              <li>
                  <a class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer                                     transition-duration-150 transition-colors">
                    <button pButton pRipple type="button"  [disabled]="true"
                    class="p-button-outlined  p-button-warning "
                    style="padding: 7px;">
                    <div class="clock" style="color:#FBC02D;font-weight:bold">
                      {{dia | titlecase}} {{fecha | titlecase}} [<span class="mishoras">{{hora}}:{{minutos}}:<span class="segundos">{{segundos}}</span></span><span class="ampm">{{ampm}}</span>]
                    </div>
                     </button>
                  </a>
              </li>
              <li class="border-top-1 surface-border lg:border-top-none ml-auto">
                  <a class="flex p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 
                  font-medium border-round cursor-pointer
                  transition-duration-150 transition-colors">
                  <button type="button" pButton pRipple 
                class="p-button-rounded p-button-text"
                 icon="pi pi-plus" (click)="menu.toggle($event)">
                  <p-avatar image="{{image3}}" 
                  styleClass="ml-3" size="large" shape="circle"></p-avatar>
                </button>
            
                   
   
                  </a>

                  
              </li>
          </ul>
          
      </div>
      <div class="p-5 flex flex-column flex-auto overflow-x-auto">
          <div class="border-2 border-dashed surface-border border-round surface-section flex-auto">
            <router-outlet></router-outlet>
            <footer class="footer" style="padding-top: 20px;">
            
              <div class="footer__copyright" >
                
                <p style="color:gray;font-size: 1.1rem">© 2022 Desarrollo Universidad de la Guajira</p>
              </div>
              <div class="footer__copyright" >
                
                <p style="color:gray;font-size: 1rem">Todos los derechos reservados - Semillero SETEC</p>
                <p style="color:gray;font-size: 0.8rem">Autores: Emmanuel Meza - Adanud Meza - Jaider Mendoza</p>
              </div>
            </footer>
          </div>
      </div>
  </div>
</div>

  </ng-template>
  <ng-template [ngIf]="!display">


  <div class="grid"  [style]="{'background':'#f16357',
  'color':'#fff','font-weight':'bold','margin':'0',
  'border':'1px solid #f16357','border-radius':'0px'}">

  <div class="col-12 sm:col-10 md:col-8 lg:col-8 xl:col-8">
    <p-button styleClass="p-button-outlined  p-button-warning mb-1" (click)="display = true" class="mr-1">
      <i class="pi pi-align-justify"  style="font-size: 1.5rem; margin-top: 5px;color:black"></i>
    </p-button>
    <a class=" text-600 hover:text-900 
                  font-medium border-round cursor-pointer
                  transition-duration-150 transition-colors  ml-2 mr-2">
         
                          
                    <ng-template [ngIf]="notifications_noleidos.length > 0">
                      <i class="pi pi-bell p-2 mt-2 mb-1" 
                      pBadge style="font-size: 1.5rem" value="{{notifications_noleidos.length}}" 
                      (click)="op.toggle($event)"></i>
                    </ng-template>
                    <ng-template [ngIf]="notifications_noleidos.length == 0">
                      <i class="pi pi-bell  mt-2 mb-1" 
                       style="font-size: 1.5rem" value="" 
                      (click)="op.toggle($event)"></i>
                    </ng-template>   
                    <div #menu2 class="box hidden" header="Anuncios" 
                    style="display: inline-block;margin:0px">
               
                   </div> 
                  </a>
                  <a class=" ml-3 mr-2 mb-4
                  text-600 hover:text-900  font-medium border-round cursor-pointer                                     transition-duration-150 transition-colors">
                    <button pButton pRipple type="button"  [disabled]="true"
                    class="p-button-outlined  p-button-warning mb-2"
                    >
                    <div class="clock" style="color:#FBC02D;font-weight:bold">
                      {{dia | titlecase}} {{fecha | titlecase}} [<span class="mishoras">{{hora}}:{{minutos}}:<span class="segundos">{{segundos}}</span></span><span class="ampm">{{ampm}}</span>]
                    </div>
                     </button>
                  </a>
  </div>
  <div class="col-12 sm:col-2 md:col-4 lg:col-4 xl:col-4">
    <div class="flex justify-content-end flex-wrap card-container green-container">
    <div class="grid">
      <div class="col-12 sm:col-12">
        <button type="button" pButton pRipple 
        class="p-button-rounded p-button-text"
         icon="pi pi-plus" (click)="menu.toggle($event)">
          <p-avatar image="{{image3}}" 
          styleClass="ml-3" size="large" shape="circle"></p-avatar>
        </button>
      </div>
    </div>
     <p-menu #menu [popup]="true"  [model]="items" 
     [style]="{'width':'200px','margin-top':'5px'}"></p-menu>
     <div #menu2 class="box hidden" header="Anuncios" 
     style="display: inline-block;margin:0px">

    </div>
    
    </div>
  </div>
  </div>  



  <div class="container margen">
      <p-sidebar [(visible)]="display" 
      [style]="{'width':'345px','min-height': '88vh'}"  [showCloseIcon]="true" 
      [blockScroll]="false" >
      <a routerLink="/landing" (click)="display=false">
          <img alt="logo" src="assets/images/logo-uniguajira.png" width="260px" height="92px" style="margin-left: 20px ;margin-top: -7px;" 
          styleClass="p-button-outlined"class="mr-3"/>
      </a>
      <h4 class="fondebabutton" style="text-align: center;margin-bottom:-5px">{{nombre}}</h4>
      <hr>
          <app-menu [menu]="menu1" (funcion)="ocultarMenu($event)"></app-menu>
      </p-sidebar>
      <div class="content">
        
        <router-outlet></router-outlet>
        <footer class="footer" style="padding-top: 20px;">
            
          <div class="footer__copyright" >
            
            <p style="color:gray;font-size: 1.1rem">© 2022 Desarrollo Universidad de la Guajira</p>
          </div>
          <div class="footer__copyright" >
            
            <p style="color:gray;font-size: 1rem">Todos los derechos reservados - Semillero SETEC</p>
            <p style="color:gray;font-size: 0.8rem">Autores: Emmanuel Meza - Adanud Meza - Jaider Mendoza</p>
          </div>
        </footer>

      </div>
    </div>  
  </ng-template> -->
 

<div style="display:relative;">
  <p-menu #menu [popup]="true"  [model]="items" 
  [style]="{'width':'200px','margin-top':'5px'}"></p-menu>
</div>
  <p-overlayPanel #op [showCloseIcon]="false" [dismissable]="true"[style]="{width: '450px'}">
    <ng-template pTemplate>
      <ng-template [ngIf]="recipients.length">
        <span *ngFor="let item of recipients" >
            <div class="grid">
              <div class="col-12 ">
                  <div class="surface-card shadow-2 p-3 border-round">
                      <div class="flex justify-content-between mb-3">
                          <div>
                              <span class="block text-500 font-medium mb-3"> {{item.Notification?.title | titlecase}}</span>
                              <div class="text-900 font-medium text-xl">{{item.Notification?.abstract}}</div>
                          </div>
                          <div class="flex align-items-center 
                          justify-content-center " 
                          style="width:3.5rem;height:3.5rem">
                          <p-avatar image="{{item.Notification?.User?.avatar}}" [title]="item.Notification?.User?.email"
                          styleClass="ml-3" size="xlarge" shape="circle"></p-avatar>
                          </div>
                      </div>
                      <span class="text-500">{{item.Notification?.date_firt}}</span>
                      <span class="text-blue-500 font-medium ml-1"
                      style="cursor:pointer; cursor: hand"
                       (click)="mostrarNOtificaciones($event)">
                        Detalle
                      </span>
                  </div>
              </div>
            </div>
            <hr>

        </span>
        <div class="flex justify-content-center align-items-center  mb-3" *ngIf="notifications.length > 3">
          <span class="text-900 font-medium text-xl" 
          style="text-align: center;margin-top: -15px;"> Ver Mas</span>
        </div>
      </ng-template>

         <ng-template [ngIf]="!recipients.length">
                  <p-card [style]="{'height':'70px',
                  'text-aling':'center','padding': '0px'}">
                  <div class="flex justify-content-center align-items-center  mb-3">
                    <span class="text-900 font-medium text-xl" 
                    style="text-align: center;margin-top: -15px;"> No hay Anuncios</span>
                  </div>

        </p-card>

      </ng-template>
      
      
     
    </ng-template>
</p-overlayPanel>


<p-dialog [(visible)]="Dialog" 
[style]="{'height': '18vw','width': '25vw'}"[resizable]="false" zindex="10000"
 [showHeader]="false" [closeOnEscape]="false" [closable]="false"
[modal]="true" >

    <div class="flex flex-column " style="flex: 1">
        <div class="text-center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
            <h4>Esta seguro de Cerrar la Sesion?</h4>
            <p>Si para continuar</p>
        </div>
    </div>

  <ng-template pTemplate="footer" class="titleCard" >
    <div style="text-align: center;">
      <button pButton pRipple label="No" icon="pi pi-times" style="color: rgb(31, 45, 64);" 
      class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Si"  style="background: #f16357" 
      class=" p-button-raised p-button-rounded" 
      icon="pi pi-check"  (click)="cerrarSesion()"  ></button>
    </div>
  </ng-template>
</p-dialog>

<ng-template [ngIf]="mostrarDialogoClave == true">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <p-dialog [(visible)]="mostrarDialogoClave" [modal]="true" [style]="{'width': '40vw'}" 
      [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"  [showHeader]="false"   >
    <br>
    
    
    <div [style]="{'margin-top':'-1px'}" >
      <div fxLayout="row" class="titleCard">
        <i class="pi pi-key" style="font-size: 2rem;margin-right: 10px;"></i>
        <h2 class="fondebabutton" style="margin-top: -1px;">Cambiar Contraseña</h2>
      </div>

      <div class="p-inputgroup" [style]="{'margin-top':'20px','margin-bottom':'40px'}">
        <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Actual Contraseña">
          <i class="pi pi-lock-open"></i></span>
        <input type="password" class="p-inputtext-lg" pInputText name="oldPassword" 
        placeholder="Actual Contraseña" formControlName="oldPassword"
        required>  
  
    </div>

    <div class="p-inputgroup" [style]="{'margin-top':'20px','margin-bottom':'40px'}">
      <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Nueva Contraseña">
        <i class="pi pi-lock"></i></span>
      <input type="password" class="p-inputtext-lg" pInputText name="newPassword" 
      placeholder="Nueva Contraseña" formControlName="newPassword" required
      required>  

  </div>
  </div>
  <ng-template [ngIf]="motrar == false">
  <div fxLayout="row" class="titleCard"style="margin-top: -20px;">
    <p-button (click)="mostrarDialogoClave = false" icon="pi pi-times" styleClass="p-button-text" label="Cancelar"></p-button>

    <button pButton type="button" type="submit"  icon="pi pi-check" [disabled]="!form.valid"
    class="p-button-warning p-button-raised p-button-rounded" 
    label="Modificar Clave" styleClass="mr-2"></button>
  </div>
  </ng-template>
  <ng-template [ngIf]="motrar == true">
    <br>
      <p-progressBar mode="indeterminate"  [style]="{'height': '6px'}"></p-progressBar>


  </ng-template>
      </p-dialog>
      </form>
      <p-toast></p-toast>
      <p-confirmPopup></p-confirmPopup>
</ng-template>

<ng-template [ngIf]="mostrarAvatarClave == true">
  <form [formGroup]="form2" novalidate (ngSubmit)="onSubmit2()">
    <p-dialog [(visible)]="mostrarAvatarClave" [modal]="true" [style]="{'width': '80vw'}" 
    [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"  [showHeader]="false"   >

  
    <div [style]="{'margin-top':'-1px'}" >
      <div fxLayout="row" class="titleCard1">
        <i class="pi pi-user" style="font-size: 2rem;margin-right: 10px;"></i>
        <h2 class="fondebabutton" style="margin-top: -1px;">Imagen de Perfil</h2>
      </div>
      <div class="grid">
  
        <div class="col-12 md:col-5" style="border: 1px solid black; border-radius:5px">
          <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Avatar Actual">
            <i class="pi pi-user mr-2"></i>Imagen Actual</span>
            <span class="flex">
              <p-avatar image="{{image3}}"  pRipple 
              [style]="{'width':'350px','height':'350px','border':'4px solid #f16357'}"
              styleClass="imgLogo4 mt-5 ml-5 p-button-rounded p-button-outlined" 
              size="xlarge" shape="circle"></p-avatar>
             
              <div circle class="mt-10" style="margin-left: -55px; margin-top: 300px;"> 
                <button pButton pRipple type="button" icon="pi pi-camera" 
                (click)="adjuntar=true" title="Adjuntar imagen"
                class="p-button-rounded p-button-secondary" style="font-size: 2rem;border:2px solid #f16357"></button></div>
              </span>
          <br>
          <br>
    
        </div>
        <div class="col-12 md:col-7" style="border: 1px solid black; border-radius:5px">
          <span class="p-inputgroup-addon"  style="margin-top:-1px;" title="Avatar Actual">
            <i class="pi pi-user mr-2"></i>Avatar</span>
  
            <div class="card">
              <p-dataView #dv [value]="images" [paginator]="true" [rows]="6" filterBy="name"
                   layout="grid">
  
                  <ng-template let-product pTemplate="gridItem">
                      <div class="col-12 md:col-4">
                          <div class="product-grid-item card">
                              <div class="product-grid-item-content">
                                <img src="{{product.src}}" width="100%" class="product-image" />
       
                              </div>
                              <div class="product-grid-item-bottom">
                                <div fxLayout="row" class="titleCard"style="margin-top: 5px;">
                                  <p-button icon="pi pi-check-circle"  styleClass="p-button-text" 
                                  label="Seleccionar" width="100%" 
                                  (click)="seleccionar(product.src,$event)"></p-button>
  
                                </div>
                              </div>
                          </div>
                      </div>
                  </ng-template>
              </p-dataView>
          </div>
        </div>
  
          <input type="hidden" class="p-inputtext-lg" pInputText name="avatar" 
          placeholder="Nueva Contraseña" formControlName="avatar"
          required>  
      </div>

  </div>
    <ng-template [ngIf]="motrar == false">
      <div fxLayout="row" class="titleCard"style="margin-top: 5px;">
        <br>
        <p-button (click)="mostrarAvatarClave=false" icon="pi pi-times" styleClass="p-button-text" 
        label="Cancelar"></p-button>
      
        <button pButton type="button" type="submit"  icon="pi pi-check" [disabled]="imagenNueva == null && form2.value.avatar == ''"
        class="p-button-warning p-button-raised p-button-rounded" 
        label="Modificar Imagen" styleClass="mr-2"></button>
      </div>
  </ng-template>
  <ng-template [ngIf]="motrar == true">
    <br>
    <br>
    
      <p-progressBar mode="indeterminate"  [style]="{'height': '6px'}"></p-progressBar>
  </ng-template>
  
  </p-dialog>
  </form>
  <p-toast></p-toast>
  <p-confirmPopup></p-confirmPopup>
</ng-template>


<p-dialog [(visible)]="adjuntar" 
[style]="{'height': '67%','width': '67%'}"[resizable]="false" zindex="10000"
[showHeader]="false" [closeOnEscape]="false" [closable]="false"
[modal]="true" >

    <div class="flex flex-column " style="flex: 1">
        <div class="text-center">
          <div fxLayout="row" class="titleCard1">
            <i class="pi pi-camera mt-1 mb-2" style="font-size: 3rem ;margin-right: 10px;"></i>
            <h2 class="fondebabutton mt-2">Adjuntar Imagen</h2>
          </div>
      
        <div class="card">
          <p-fileUpload #file (change)="onFileChange($event,file)"
          [style]="{'background-color': '#f16357'}"
          [showUploadButton]="false" [showCancelButton]="false" [previewWidth]="150"
          chooseLabel="Cargar Imagen" invalidFileSizeMessageSummary="Peso limite de Imagen 5mb"
          [multiple]="true" accept="image/*" [maxFileSize]="5000000" [fileLimit]="1">
          <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
          </ng-template>
        </p-fileUpload>
        </div>
          
        </div>
    </div>
    
<ng-template pTemplate="footer" class="titleCard" >
  <ng-template [ngIf]="adjuntarM == false">
      <div style="text-align: center;">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" style="color: rgb(31, 45, 64);" 
        class="p-button-text" (click)="adjuntarCancelar(file)"></button>
        <button pButton type="button"  icon="pi pi-check" 
        [disabled]="imagenNueva == null" (click)="onSubmit2()"
        class="p-button-raised p-button-rounded" style="background: #f16357" 
        label="Cambiar Imagen" styleClass="mr-2"></button>
      </div>
    </ng-template>
    <ng-template [ngIf]="adjuntarM == true">
      <br>

        <p-progressBar mode="indeterminate"  [style]="{'height': '6px'}"></p-progressBar>
      </ng-template>

    </ng-template>
</p-dialog>