<!-- <mat-card>
    <div fxLayout="row" class="titleCard">
      <mat-icon >
        credit_card
      </mat-icon>
      <mat-card-title >Asignar Rol a Recursos</mat-card-title>
    </div>
 
<form [formGroup]="form2" novalidate (ngSubmit)="onSubmit2()" fxLayout="column" class="tittleForm">
              <div fxLayout="row"  fxLayoutGap="20px">
                <div class="buscar"> 
                    <mat-form-field flex class="buscarinput">
                    <input matInput (keyup)="Buscar($event)" placeholder="Digite Titulo o Path" #input>
                    </mat-form-field>     
                </div>
              </div>
        
        <div class="table-wrapper">
         
          <ng-template [ngIf]="dataSource.filteredData.length > 0">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
               
                       
                       
                       <ng-container matColumnDef="ID">
                        
                        <th mat-header-cell *matHeaderCellDef>
                          <ng-template [ngIf]="dataSource.filteredData.length <= 100">
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()" disabled>
                          </mat-checkbox>
                        </ng-template>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <ng-template [ngIf]="dataSource.filteredData.length <= 100">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(element) : null"
                                        [checked]="selection.isSelected(element)"
                                        [aria-label]="checkboxLabel(element)" >
                          </mat-checkbox>
                        </ng-template>
                        </td>
                        
                          <th mat-header-cell *matHeaderCellDef >
                            <ng-template [ngIf]="dataSource.filteredData.length > 7">ID </ng-template></th>
                              <td mat-cell *matCellDef="let element"> 
                                <ng-template [ngIf]="dataSource.filteredData.length > 7">{{element.id}}</ng-template>
                              </td>
                      </ng-container>
                
                <ng-container matColumnDef="titulo">
                  <th mat-header-cell *matHeaderCellDef > Titulo </th>
                  <td mat-cell *matCellDef="let element"> {{element.titulo | titlecase}}</td>
                </ng-container>
                <ng-container matColumnDef="method">
                  <th mat-header-cell *matHeaderCellDef > Method </th>
                  <td mat-cell *matCellDef="let element"> {{element.method}}</td>
                </ng-container>
                <ng-container matColumnDef="path">
                  <th mat-header-cell *matHeaderCellDef > Path </th>
                  <td mat-cell *matCellDef="let element"> {{element.path}}</td>
                </ng-container>
                
                <ng-container matColumnDef="Roles">
                  <th mat-header-cell *matHeaderCellDef > Roles </th>
                  <td mat-cell *matCellDef="let element">
                      <ng-template [ngIf]="element.Roles.length > 1">
                          <span *ngFor="let item of element.Roles" >
                              {{item.name | titlecase}},  
                        </span>
                      </ng-template>
                      <ng-template [ngIf]="element.Roles.length == 1">
                        <span *ngFor="let item of element.Roles" >
                            {{item.name | titlecase}}  
                      </span>
                    </ng-template>
                      </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
            <br>
            
            
            <div fxLayout="row" fxLayoutGap="20px">
              <button mat-flat-button color="primary" (click)="asignarRoles($event)">Add Rol</button>
            </div>
            <br>
                    <div fxLayout="row" fxLayoutGap="20px">
                      <div class="table-wrapper" >
                        <table mat-table [dataSource]="algo" class="mat-elevation-z8" *ngIf="mostrar == true">
                            <ng-container matColumnDef="roles">
                                <th mat-header-cell *matHeaderCellDef > Roles </th>
                                <td mat-cell *matCellDef="let element"> 
                                  <div formArrayName="Roles1" > 
                                    <div *ngFor="let item of getRoles1.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                      <div class="grupo"> 
                                      <mat-form-field class="grupoinput1">
                                        <mat-label>Rol</mat-label>
                                        <mat-select formControlName="RoleId" required>
                                          <mat-option *ngFor="let item of roles" [value]="item.id">{{ item.name | titlecase}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <span class="bottomdelete">
                                        <button  mat-flat-button color="warn" (click)="removeRoles(pointIndex,$event)">
                                          <mat-icon>delete</mat-icon>
                                        </button>
                                      </span>
                                      
                                    </div>
                                    </div>
                                  </div> 
                                </td>
                             
                            </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                      </div>
                    </div>
          </ng-template>
          
          
          <ng-template [ngIf]="dataSource.filteredData.length == 0">
            <div mat-table class="mat-elevation-z8" >
              <div class="nohayregistro"> 
                No existe el registro
              </div>
            </div>
          </ng-template>
  
        </div>
        <br>
        <mat-card-actions>
          <button type="submit" [disabled]="form2.invalid" mat-button color="primary">Asignar Rol</button>
        </mat-card-actions>
</form>
</mat-card>

 -->
